{% extends 'reports/webbase.html' %}
{% load static %}
{% block content %}



 <div class="container">
  <div class="card"><br><br>
     <div class="panel panel-danger">
       <div class="card-body">
        <div class="panel-body"><h3 align="center">Feedback</h3><hr></div>
      <div class="form-group" style="padding: 20px;"><br>
        <form method="post" action="#" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="row">
            <div class="col-md-2">
              <label class="inline" for="name">Name:</label>
            </div>
            <div class="col-md-4">
                <input type="text" name="name" class="form-control" id="your_name" value="">
            </div>
          </div><br>
        <div class="row">
            <div class="col-md-2">
              <label class="inline" for="email">Email:</label>
            </div>
            <div class="col-md-4">
                <input type="email" name="email" class="form-control" id="partners_name" value="">
            </div>
      </div><br>
      <div class="row">
            <div class="col-md-2">
              <label class="inline" for="mobile_number">Mobile Number:</label>
            </div>
            <div class="col-md-4">
                <input type="text" name="mobile_number" class="form-control">
            </div>
      </div><br>
      <div class="row">
            <div class="col-md-2">
              <label class="inline" for="address">Address:</label>
            </div>
            <div class="col-md-4">
                <textarea name="address" id="tell_story" class="form-control" value="">  
                </textarea>
            </div>
      </div><br>
      <div class="row">
            <div class="col-md-2">
              <label class="inline" for="subject">Subject</label>
            </div>
            <div class="col-md-4">
              <input type="text" name="subject" class="form-control" id="subject" value="">
            </div>
      </div><br>
      <div class="row">
            <div class="col-md-2">
              <label class="inline" for="suggestions">Description</label>
            </div>
            <div class="col-md-4">
              <textarea type="text" name="suggestions" class="form-control" id="subject" value="" rows="4" cols="4"></textarea>
            </div>
      </div><br>

      <div class="row">
        <center>
        <input type="submit" name="submit" value="Submit" class="btn btn-danger">
        <input type="submit" name="submit" value="Reset" class="btn btn-success">
        </center>
      </div>
      
      </div>
    </form>
  </div>
   
       </div>
    </div>
  </div>
</div>

{% endblock %}