{% extends 'reports/adminbase.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    
    <!-- Main content -->
    <br>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-1">
            <a href="{% url 'add-sample'%}" class="btn btn-primary btn-sm float-right">ADD DATA</a> 
            </div>
        </div>
        <br>

           <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <!-- Default box -->
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Search Criteria</h3>

                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                          <i class="fas fa-minus"></i>
                        </button>

                      </div>
                    </div>
                    <div class="card-body">
                       <form method="get" id="search-form">

                <div class="row texture" style="margin-top:5px">

                  <div class="col-md-2">Code</div>
                  <div class="col-md-4">{{ form.user_id|add_class:"form-control" }}</div>

                   <div class="col-md-2">Fullname</div>
                  <div class="col-md-4">{{ form.fullname|add_class:"form-control" }}</div>
                  
                  
              </div>
              <div class="row texture" style="margin-top:5px">
                 
             
                  <div class="col-md-2">FullName -English</div>
                  <div class="col-md-4">{{ form.full_name_en|add_class:"form-control" }}</div>

                  <div class="col-md-2">Village</div>
                  <div class="col-md-4">{{ form.village_en|add_class:"form-control" }}</div>
                                               
              </div>
              <div class="row texture" style="margin-top:5px">
                  
             
                  <div class="col-md-2">Taluka</div>
                  <div class="col-md-4">{{ form.taluka_en|add_class:"form-control" }}</div>

                  <div class="col-md-2">District</div>
                  <div class="col-md-4">{{ form.dist_en|add_class:"form-control" }}</div>                                    
              </div>
             


                <div class="row" style="margin-top:10px">
                 <div class="col-md-1 col-md-offset-4">
                  <input type="submit" name="submit" class="btn btn-primary btn-sm" Value="search">
                </div>
                <div class="col-md-1">
                <a href="#" class="btn btn-primary btn-sm">Reset</a> 
                </div>
              </div>
          </form>
                      
                    </div>
                    <!-- /.card-body -->
                 
                  </div>
                  <!-- /.card -->
                </div>
              </div>
            </div>
          </section>
        
      
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Sample List</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th>Sr.No</th>
                      <th>Code</th>
                      <th>FullName Mar</th>
                      <th>First Name </th>
                      <th>Middle Name</th>
                      <th>Last Name</th>
                      <th>FullName Eng</th>
                      <th>First Name </th>
                      <th>Middle Name</th>
                      <th>Last Name</th>
                      <th>Village Mar</th>
                      <th>Village Eng</th>
                      <th>Taluka Mar</th>
                      <th>Taluka Eng</th>
                      <th>District Mar</th>
                      <th>District Eng</th>
                      <th>MemType</th>
                      <th>Mobile No</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for sample in object_list %}
                    <tr>
                      <td>{{ sample.sr_no }}</td>
                      <td>{{ sample.code }}</td>
                      <td>{{ sample.full_name_ma }}</td>
                      <td>{{ sample.f_name_ma }}</td>
                      <td>{{ sample.m_name_ma }}</td>
                      <td>{{ sample.l_name_ma }}</td>
                      <td>{{ sample.full_name_en }}</td>
                      <td>{{ sample.f_name_en }}</td>
                      <td>{{ sample.m_name_en }}</td>
                      <td>{{ sample.l_name_en }}</td>
                      <td>{{ sample.village_ma }}</td>
                      <td>{{ sample.village_en }}</td>
                      <td>{{ sample.taluka_ma }}</td>
                      <td>{{ sample.taluka_en }}</td>
                      <td>{{ sample.dist_ma }}</td>
                      <td>{{ sample.dist_en }}</td>
                      <td>{{ sample.mem_type }}</td>
                      <td>{{ sample.mob_no }}</td>
                      <td>
                        <a href="{% url 'edit-sample' sample.sr_no %}" class="btn btn-default btn-xs" data-target="#editmyModal" data-toggle="tooltip" title="Edit">
                         <i class="fas fa-edit"></i>
                        </a> 
                         <a href="{% url 'detail-sample' sample.sr_no %}" class="btn btn-default btn-xs" data-target="#editmyModal" data-toggle="tooltip" title="Edit">
                            <i class="fas fa-info-circle"></i>
                          </a>
                      </td>
                    </tr>
                   
                   {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  {% endblock %}
