{% extends 'reports/adminbase.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}


<div class="container">
 <div class="card"><br>
   <div class="panel panel-danger">
  <div class="panel-body"><h3 align="center">Personal Details</h3><hr></div>
  	<div class="card-body">
    	<div class="form-group" style="padding: 20px;"><br>
		<form method="post" action="" enctype="multipart/form-data">
			 {% csrf_token %}
			 {{ form.errors }}
			<div class="row">
      			<div class="col-md-2">
        			<label class="inline" for="username">Username:</label>
      			</div>
        		<div class="col-md-4">
              {{reg_form.username}}
          			<!-- <input type="text" name="username" class="form-control"value="" id=""> -->
            
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="email">Email Address:</label>
      			</div>
        		<div class="col-md-4">
              {{reg_form.email}}
          			<!-- <input type="text" name="email" class="form-control"value="" id="email"> -->
        		</div>
			</div><br>
			<div class="row">
      			<div class="col-md-2">
        			<label class="inline" for="password">Password:</label>
      			</div>
        		<div class="col-md-4">
              {{reg_form.password}}
          			<!-- <input type="password" name="password" class="form-control"value="" id=""> -->
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="repassword">Re-Password:</label>
      			</div>
        		<div class="col-md-4">
              {{reg_form.confirm_password}}
          			<!-- <input type="password" name="repassword" class="form-control"value="" id="mobileno"> -->
        		</div>
			</div><br>
			<div class="row">
      			<div class="col-md-2">
        			<label class="inline" for="fullname">Full Name:</label>
      			</div>
        		<div class="col-md-4">
          			<input type="text" name="fullname" class="form-control"value="" id="">
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="gender">Gender</label>
      			</div>
        		<div class="col-md-4">
          			{{form.gender|add_class:"form-control"}}
        		</div>
			</div><br>
			<div class="row">
      			<div class="col-md-2">
        			<label class="inline" for="date_of_birth">Date of Birth:</label>
      			</div>
        		<div class="col-md-4">
          			<input type="date" name="date_of_birth" class="form-control"value="" id="">
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="time_of_birth">Time of Birth:</label>
      			</div>
        		<div class="col-md-4">
          			<input type="time" name="time_of_birth" class="form-control"value="" id="designation">
        		</div>
			</div><br>
			<div class="row">
      			<div class="col-md-2">
        			<label class="inline" for="birth_place">Birth Place:</label>
      			</div>
        		<div class="col-md-4">
          			<input type="text" name="birth_place" class="form-control" value="" id="birth_place">
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="marital_status">Marital Status:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.marital_status|add_class:"form-control"}}
        		</div>
			</div><br>
			<div class="row">
      			<div class="col-md-2">
        			<label class="inline" for="no_of_childrens">No. of Childrens:</label>
      			</div>
        		<div class="col-md-4">
          			<select name="no_of_childrens" class="form-control valid" id="no_of_childrens" aria-invalid="false">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4 and Above</option>
					</select>
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="mother_tongue">Mother Tongue:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.mother_tongue|add_class:"form-control"}}
        		</div>
			</div><br>
			<div class="row">
      			<div class="col-md-2">
        			<label class="inline" for="religion">Religion:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.religion|add_class:"form-control"}}
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="caste">Caste:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.caste|add_class:"form-control"}}
        		</div>
			</div><br>
			<div class="row">
      			<div class="col-md-2">
        			<label class="inline" for="sub_caste">Sub-Caste:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.sub_caste|add_class:"form-control"}}
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="zipcode">Height</label>
      			</div>
        		<div class="col-md-4">
          			<select name="height" class="form-control error" id="height" aria-required="true" aria-invalid="true">
						<option value="0">Select Height</option>
							<option value="1">4.00</option>
							<option value="2">4.01</option>
							<option value="3">4.02</option>
							<option value="4">4.03</option>
							<option value="5">4.04</option>
							<option value="6">4.05</option>
							<option value="7">4.06</option>
							<option value="8">4.07</option>
							<option value="9">4.08</option>
							<option value="10">4.09</option>
							<option value="11">4.10</option>
							<option value="12">4.11</option>
							<option value="13">5.00</option>
							<option value="14">5.01</option>
							<option value="15">5.02</option>
							<option value="16">5.03</option>
							<option value="17">5.04</option>
							<option value="18">5.05</option>
							<option value="19">5.06</option>
							<option value="20">5.07</option>
							<option value="21">5.08</option>
							<option value="22">5.09</option>
							<option value="23">5.10</option>
							<option value="24">5.11</option>
							<option value="25">6.00</option>
							<option value="26">6.01</option>
							<option value="27">6.02</option>
							<option value="28">6.03</option>
							<option value="29">6.04</option>
							<option value="30">6.05</option>
							<option value="31">6.06</option>
							<option value="32">6.07</option>
							<option value="33">6.08</option>
							<option value="34">6.09</option>
							<option value="35">6.10</option>
							<option value="36">6.11</option>
							<option value="37">7.00</option>
							</select>
        		</div>
			</div><br>
   			<div class="row">
      			<div class="col-md-2">
        			<label class="inline" for="weight">Weight:</label>
      			</div>
        		<div class="col-md-4">
          			<select name="weight" class="form-control error" id="weight" aria-required="true" aria-invalid="true">
						<option value="0">Select Weight</option>
						<option value="35">35</option>
						<option value="36">36</option>
						<option value="37">37</option>
						<option value="38">38</option>
						<option value="39">39</option>
						<option value="40">40</option>
						<option value="41">41</option>
						<option value="42">42</option>
						<option value="43">43</option>
						<option value="44">44</option>
						<option value="45">45</option>
						<option value="46">46</option>
						<option value="47">47</option>
						<option value="48">48</option>
						<option value="49">49</option>
						<option value="50">50</option>
						<option value="51">51</option>
						<option value="52">52</option>
						<option value="53">53</option>
						<option value="54">54</option>
						<option value="55">55</option>
						<option value="56">56</option>
						<option value="57">57</option>
						<option value="58">58</option>
						<option value="59">59</option>
						<option value="60">60</option>
						<option value="61">61</option>
						<option value="62">62</option>
						<option value="63">63</option>
						<option value="64">64</option>
						<option value="65">65</option>
						<option value="66">66</option>
						<option value="67">67</option>
						<option value="68">68</option>
						<option value="69">69</option>
						<option value="70">70</option>
						<option value="71">71</option>
						<option value="72">72</option>
						<option value="73">73</option>
						<option value="74">74</option>
						<option value="75">75</option>
						<option value="76">76</option>
						<option value="77">77</option>
						<option value="78">78</option>
						<option value="79">79</option>
						<option value="80">80</option>
						<option value="81">81</option>
						<option value="82">82</option>
						<option value="83">83</option>
						<option value="84">84</option>
						<option value="85">85</option>
						<option value="86">86</option>
						<option value="87">87</option>
						<option value="88">88</option>
						<option value="89">89</option>
						<option value="90">90</option>
						<option value="91">91</option>
						<option value="92">92</option>
						<option value="93">93</option>
						<option value="94">94</option>
						<option value="95">95</option>
						<option value="96">96</option>
						<option value="97">97</option>
						<option value="98">98</option>
						<option value="99">99</option>
						<option value="100">100</option>
						<option value="101">101</option>
						<option value="102">102</option>
						<option value="103">103</option>
						<option value="104">104</option>
						<option value="105">105</option>
						<option value="106">106</option>
						<option value="107">107</option>
						<option value="108">108</option>
						<option value="109">109</option>
						<option value="110">110</option>
					</select>
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="blood_group">Blood Group:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.blood_group|add_class:"form-control"}}
        		</div>
			</div><br>
			<div class="row">
      			<div class="col-md-2">
        			<label class="inline" for="complexion">Complexion:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.complexion|add_class:"form-control"}}
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="body_type">Body Type:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.body_type|add_class:"form-control"}}
        		</div>
			</div><br>
   			<div class="row">
      			<div class="col-md-2">
        			<label class="inline" for="manglik">Manglik</label>
      			</div>
        		<div class="col-md-4">
          			<select name="manglik" class="form-control valid" id="manglik" aria-invalid="false">
					<option value="0">Not Known</option>
					<option value="1">No</option>
					<option value="2">Yes</option>
					</select>
       			</div>
        	<div class="col-md-2">
        			<label class="inline" for="gothram">Gothram</label>
      			</div>
      			<div class="col-md-4">
          			<input type="text" class="form-control" name="gothram" id="gothram" value="">
        		</div>
			</div><br>
		<div class="row">
      			<div class="col-md-2">
        			<label class="inline" for="rashi_name">Star/Rashi</label>
      			</div>
        		<div class="col-md-4">
          			{{form.rashi_name|add_class:"form-control"}}
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="disability_details">Disability Details:</label>
      			</div>
        		<div class="col-md-4">
					<textarea type="text" name="disability_details" class="form-control" id="disability_details" value="">
				</textarea>       		
			</div>
			</div><br>

    <div class="row">
      <div class="col-md-2">
        <label class="inline" for="eating_habits">Eating Habits</label>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-3">
          {{form.eating_habits}}
         </div>
         <!-- <div class="col-md-3">
         <label class="radio-inline">
           <input type="radio" name="eating_habits">Non-Vegetarian
         </label></div>
         <div class="col-md-3">
         <label class="radio-inline">
           <input type="radio" name="eating_habits">Eggetarian
         </label></div> -->
       </div>
      </div>
    </div><br>

    <div class="row">
      <div class="col-md-2">
        <label class="inline" for="eating_habits">Drinking Habits</label>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-3">
          {{form.drinking_habits}}
         </div>
         <!-- <div class="col-md-3">
         <label class="radio-inline">
           <input type="radio" name="eating_habits">Non-Vegetarian
         </label></div>
         <div class="col-md-3">
         <label class="radio-inline">
           <input type="radio" name="eating_habits">Eggetarian
         </label></div> -->
       </div>
      </div>
    </div><br>


<div class="row">
      <div class="col-md-2">
        <label class="inline" for="eating_habits">Smoking Habits</label>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-3">
          {{form.smoking_habits}}
         </div>
         <!-- <div class="col-md-3">
         <label class="radio-inline">
           <input type="radio" name="eating_habits">Non-Vegetarian
         </label></div>
         <div class="col-md-3">
         <label class="radio-inline">
           <input type="radio" name="eating_habits">Eggetarian
         </label></div> -->
       </div>
      </div>
    </div><br>




			<div class="row">
      			<div class="col-md-2">
        			<label class="inline" for="about_myself">About Myself:</label>
      			</div>
        		<div class="col-md-4">
          			<textarea type="text" name="about_myself" class="form-control" id="about_myself" value=""></textarea>
       			</div>
			</div><br>
	  </div>
</div>
    
			</div>
   		</div>
   	</div>
 </div> 
 
 <div class="container">
 	<div class="card"><br>
  	 <div class="panel panel-danger">
  		<div class="panel-body"><h3 align="center">Address Details</h3><hr></div>
  		 <div class="card-body">
    	<div class="form-group" style="padding: 20px;"><br>
			<div class="row">
      			<div class="col-md-2">
        			<label class="inline" for="state">State:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.state|add_class:"form-control"}}
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="district">District:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.district|add_class:"form-control"}}
        		</div>
			</div><br>
			<div class="row">
      			<div class="col-md-2">
        			<label class="inline" for="city">City/Tehsil:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.city|add_class:"form-control"}}
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="current_address">Current Address:</label>
      			</div>
        		<div class="col-md-4">
          			<textarea type="text" name="current_address" class="form-control"value="" id="mobileno"> </textarea> 
        		</div>
			</div><br>
			<div class="row">
      			<div class="col-md-2">
        			<label class="inline" for="pincode">Pincode:</label>
      			</div>
        		<div class="col-md-4">
          			<input type="text" name="pincode" class="form-control"value="" id="">
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="phone_number">Phone Number:</label>
      			</div>
        		<div class="col-md-4">
          			<input type="text" name="phone_number" class="form-control"value="" id="">
        		</div>
			</div><br>
			<div class="row">
      			<div class="col-md-2">
        			<label class="inline" for="mobile_number">Mobile Number 1:</label>
      			</div>
        		<div class="col-md-4">
          			<input type="text" name="mobile_number" class="form-control"value="" id="">
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="mobile_number2">Mobile No 2:</label>
      			</div>
        		<div class="col-md-4">
          			<input type="text" name="mobile_number2" class="form-control"value="" id="designation">
        		</div>
			</div><br>
			<div class="row">
      			<h3 align="center">Ancestral Origin Address </h3><hr>
			</div><br>
			<div class="row">
      					<div class="col-md-2">
        			<label class="inline" for="state">State:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.state|add_class:"form-control"}}
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="district">District:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.district|add_class:"form-control"}}
        		</div>
			</div><br>
			<div class="row">
      			<div class="col-md-2">
        			<label class="inline" for="city">City/Tehsil:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.city|add_class:"form-control"}}
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="current_address">Current Address:</label>
      			</div>
        		<div class="col-md-4">
          			<textarea type="text" name="current_address" class="form-control"value="" id="mobileno"> </textarea> 
        		</div><br>
		<div class="row">
      			<h3 align="center">For NRI's </h3><hr>
			</div><br>
			<div class="row">
      					<div class="col-md-2">
        			<label class="inline" for="country">Living Country:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.country|add_class:"form-control"}}
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="nri_address">NRI's Address:</label>
      			</div>
        		<div class="col-md-4">
          			<textarea type="text" name="nri_address" class="form-control"value="" id="mobileno"> </textarea> 
        		</div>
				</div><br>	
				</div>
			</div>
   		</div>
   	</div>
</div> 

<div class="container">
 <div class="card"><br>
   <div class="panel panel-danger">
  <div class="panel-body"><h2 align="center">Professional Details</h2><hr></div>
  <div class="card-body">
    	<div class="form-group" style="padding: 20px;"><br>
			<div class="row">
      			<h4 align="center">Educational Details</h4><hr>
			</div><br>
			<div class="row">
      					<div class="col-md-2">
        			<label class="inline" for="education">Education:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.education|add_class:"form-control"}}
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="qualification">Qualification:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.qualification|add_class:"form-control"}}
        		</div>
			</div><br>
			<div class="row">
      					<div class="col-md-2">
        			<label class="inline" for="full_name">More Information:</label>
      			</div>
        		<div class="col-md-4">
          			<textarea type="text" class="form-control" name="more_information" value="" id="more_information"></textarea>
       			</div>
       		</div><br>
	<div class="row">
      	<h3 align="center">Occupational Details </h3><hr></div><br>
			<div class="row">
      			<div class="col-md-2">
        		<label class="inline" for="occupation">Occupation:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.occupation|add_class:"form-control"}}
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="sub_occupation">Sub Occupation:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.sub_occupation|add_class:"form-control"}}
        		</div>
			</div><br>
		<div class="row">
      					<div class="col-md-2">
        			<label class="inline" for="employed_in">Employed In:</label>
      			</div>
        		<div class="col-md-4">
          			<input type="text" class="form-control" name="employed_in" value="" id="employedin">
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="annual_income">Annual Income:</label>
      			</div>
        		<div class="col-md-4">
          			<input type="text" class="form-control" name="annual_income" value="" id="annual_income">
        		</div>
			</div><br>
				</div>
			</div>
   		</div>
   	</div>
</div> 

<div class="container">
 <div class="card"><br>
   <div class="panel panel-danger">
  <div class="panel-body"><h3 align="center">Family Background</h3><hr></div>
   <div class="card-body">
    	<div class="form-group" style="padding: 20px;"><br>
			<div class="row">
      					<div class="col-md-2">
        			<label class="inline" for="family_value">Family Values:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.family_value|add_class:"form-control"}}
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="family_type">Family Type:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.family_type|add_class:"form-control"}}
        		</div>
			</div><br>
			<div class="row">
      					<div class="col-md-2">
        			<label class="inline" for="family_status">Family Status:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.family_status|add_class:"form-control"}}
       			</div>
       		</div><br>
			<div class="row">
      					<div class="col-md-2">
        			<label class="inline" for="fathers_name">Father's Name:</label>
      			</div>
        		<div class="col-md-4">
          			<input type="text" class='form-control' name="fathers_name" value="" id="father_name">
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="fathers_occupation">Father's Occupation:</label>
      			</div>
        		<div class="col-md-4">
          			<input type="text" class='form-control' name="fathers_occupation" value="" id="father_occupation">
        		</div>
			</div><br>
		<div class="row">
      		<div class="col-md-2">
        			<label class="inline" for="mothers_name">Mother's Name:</label>
      			</div>
        		<div class="col-md-4">
          			<input type="text" class='form-control' name="mothers_name" value="" id="father_name">
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="mothers_occupation">Mother's Occupation:</label>
      			</div>
        		<div class="col-md-4">
          			<input type="text" class='form-control' name="mothers_occupation" value="" id="father_occupation">
        		</div>
			</div><br>
		<div class="row">
      		<div class="col-md-2">
        			<label class="inline" for="no_of_brothers">No of Brothers:</label>
      			</div>
        		<div class="col-md-4">
          		<select name="no_of_brothers" class="form-control error" id="weight" aria-required="true" aria-invalid="true">
						<option value="0">0</option>
						<option value="35">1</option>
						<option value="36">2</option>
						<option value="37">3</option>
						<option value="38">4 & Above</option>
					</select>
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="brother_married">Married:</label>
      			</div>
        		<div class="col-md-4">
          			<select name="brother_married" class="form-control error" id="weight" aria-required="true" aria-invalid="true">
						<option value="0">0</option>
						<option value="35">1</option>
						<option value="36">2</option>
						<option value="37">3</option>
						<option value="38">4 & Above</option>
					</select>
        		</div>
			</div><br>
	<div class="row">
      		<div class="col-md-2">
        			<label class="inline" for="no_of_sisters">No of Sisters:</label>
      			</div>
        		<div class="col-md-4">
          		<select name="no_of_sisters" class="form-control error" id="weight" aria-required="true" aria-invalid="true">
						<option value="0">0</option>
						<option value="35">1</option>
						<option value="36">2</option>
						<option value="37">3</option>
						<option value="38">4 & Above</option>
					</select>
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="sister_married">Married:</label>
      			</div>
        		<div class="col-md-4">
          			<select name="sister_married" class="form-control error" id="weight" aria-required="true" aria-invalid="true">
						<option value="0">0</option>
						<option value="35">1</option>
						<option value="36">2</option>
						<option value="37">3</option>
						<option value="38">4 & Above</option>
					</select>
        		</div>
			</div><br>
	<div class="row">
			<div class="col-md-2">
        			<label class="inline" for="surname_of_relatives">Surname of Relative:</label>
      			</div>
        		<div class="col-md-4">
          			<textarea type="text" class='form-control' name="surname_of_relatives" value="" id="surname_of_relatives"></textarea>
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="parental_details">Parental Details:(Property etc)</label>
      			</div>
        		<div class="col-md-4">
          			<textarea type="text" class='form-control' name="parental_details" value="" id="father_name"></textarea>
        		</div>
			</div><br>

</div>
   			</div>
   		</div>
   	</div>
</div> 

<div class="container">
 		<div class="card">
  			 <div class="panel panel-danger">
  				<div class="panel-body"><h3 align="center">Partner's Preference</h3><hr>
  				</div>
  				<div class="card-body">
    	<div class="form-group" style="padding: 20px;"><br>
			<div class="row">
      			<h4 align="center">Partner's Age:</h4><hr>
			</div><br>
			<div class="row">
      				<div class="col-md-2">
        			<label class="inline" for="partners_age_from">From:</label>
      			</div>
        		<div class="col-md-2">
          			<select name="partners_age_from" class="form-control error" id="partners_age_from" aria-required="true" aria-invalid="true">
						<option value="0">From</option>
						<option value="35">19</option>
						<option value="36">20</option>
						<option value="37">21</option>
						<option value="38">22 & Above</option>
					</select>
       			</div>
        		<div class="col-md-2">
        			<select name="partners_age_to" class="form-control error" id="partners_age_to" aria-required="true" aria-invalid="true">
						<option value="0">To</option>
						<option value="35">27</option>
						<option value="36">28</option>
						<option value="37">29</option>
						<option value="38">30 & Above</option>
					</select>
      			</div>
        		<div class="col-md-2">
          			<label class="inline" for="full_name">Partner's Height:</label>
        		</div>
			
      					<div class="col-md-2">
        			<select name="partners_height_from" class="form-control error" id="partners_height_from" aria-required="true" aria-invalid="true">
						<option value="0">From</option>
						<option value="35">4.00</option>
						<option value="36">4.05</option>
						<option value="37">5.00</option>
						<option value="38">5.05</option>
					</select>
      			</div>
        		<div class="col-md-2">
          			<select name="partners_height_to" class="form-control error" id="partners_height_to" aria-required="true" aria-invalid="true">
						<option value="0">To</option>
						<option value="35">4.00</option>
						<option value="36">4.05</option>
						<option value="37">5.00</option>
						<option value="38">5.05</option>
					</select>
       			</div>
       		</div><br>
			<div class="row">
      					<div class="col-md-2">
        			<label class="inline" for="partners_marital_status">Marital Status:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.partners_marital_status|add_class:"form-control"}}
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="email">Mother Tongue:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.partners_mother_tongue|add_class:"form-control"}}
        		</div>
			</div><br>

      <div class="row">
      <div class="col-md-2">
        <label class="inline" for="eating_habits">Eating Habits</label>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-3">
          {{form.prt_eating_habits}}
         </div>
         <!-- <div class="col-md-3">
         <label class="radio-inline">
           <input type="radio" name="eating_habits">Non-Vegetarian
         </label></div>
         <div class="col-md-3">
         <label class="radio-inline">
           <input type="radio" name="eating_habits">Eggetarian
         </label></div> -->
       </div>
      </div>
    </div><br>

   <div class="row">
      <div class="col-md-2">
        <label class="inline" for="eating_habits">Drinking Habits</label>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-3">
          {{form.prt_drinking_habits}}
         </div>
         <!-- <div class="col-md-3">
         <label class="radio-inline">
           <input type="radio" name="eating_habits">Non-Vegetarian
         </label></div>
         <div class="col-md-3">
         <label class="radio-inline">
           <input type="radio" name="eating_habits">Eggetarian
         </label></div> -->
       </div>
      </div>
    </div><br>

      <div class="row">
      <div class="col-md-2">
        <label class="inline" for="eating_habits">Smoking Habits</label>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-3">
          {{form.prt_smoking_habits}}
         </div>
         <!-- <div class="col-md-3">
         <label class="radio-inline">
           <input type="radio" name="eating_habits">Non-Vegetarian
         </label></div>
         <div class="col-md-3">
         <label class="radio-inline">
           <input type="radio" name="eating_habits">Eggetarian
         </label></div> -->
       </div>
      </div>
    </div><br>

		<div class="row">
      			<div class="col-md-2">
        			<label class="inline" for="have_childs">Have Childs:</label>
      			</div>
        		<div class="col-md-4">
          			<select name="have_childs" class="form-control error" id="weight" aria-required="true" aria-invalid="true">
						<option value="0">0</option>
						<option value="35">1</option>
						<option value="36">2</option>
						<option value="37">3</option>
						<option value="38">4 & Above</option>
					</select>
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="about_partner">About Partner:</label>
      			</div>
        		<div class="col-md-4">
          			<textarea type="text" class="form-control" name="about_partner" value="" id="about_partner"></textarea>
        		</div>
			</div><br>
		<div class="row">
      			<h3 align="center">Partner's Religious Information</h3><hr>
			</div><br>
			<div class="row">
      					<div class="col-md-2">
        			<label class="inline" for="partners_religion">Religion:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.partners_religion|add_class:"form-control"}}
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="partners_caste">Caste:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.partners_caste|add_class:"form-control"}}
        		</div>
			</div><br>
		<div class="row">
      					<div class="col-md-2">
        			<label class="inline" for="partners_sub_caste">Sub-Caste:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.partners_sub_caste|add_class:"form-control"}}
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="partners_rashi_name">Star/Rashi:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.partners_rashi_name|add_class:"form-control"}}
        		</div>
			</div><br>
		<div class="row">
      					<div class="col-md-2">
        			<label class="inline" for="partners_manglik">Manglik:</label>
      			</div>
        		<div class="col-md-4">
          			<select name="partners_manglik" class="form-control error" id="weight" aria-required="true" aria-invalid="true">
						<option value="0">Doesn't Matter</option>
						<option value="35">No</option>
						<option value="36">Yes</option>
					</select>
       			</div>
       			</div><br>	
		<div class="row">
      			<h3 align="center">Partner's Professional Information</h3><hr>
			</div><br>
			<div class="row">
      					<div class="col-md-2">
        			<label class="inline" for="partners_education">Education:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.partners_education|add_class:"form-control"}}
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="partners_occupation">Occupation:</label>
      			</div>
        		<div class="col-md-4">
          			{{form.partners_occupation|add_class:"form-control"}}
        		</div>
			</div><br>
		<div class="row">
      					<div class="col-md-2">
        			<label class="inline" for="annual_income_from">Annual Income:</label>
      			</div>
        		<div class="col-md-2">
          			<input type="text" name="annual_income_from" class="form-control" id="annual_income" placeholder="From">
       			</div>
       			<div class="col-md-2">
          			<input type="text" name="annual_income_to" class="form-control" id="annual_income" placeholder="To">
       			</div>
       		</div><br>		
		 </div>
    		</div>
   		</div>
   	</div>
</div> 

<div class="container">
 <div class="card"><br>
   <div class="panel panel-danger">
  <div class="panel-body">Uploads</div>
   <div class="card-body">
    	<div class="form-group" style="padding: 20px;"><br>
			<div class="row">
      			<h3 align="center">Photo Uploads</h3><hr>
			</div><br>
			<div class="row">
      			<h5>Select image from size 20 KB to 80 KB (Only JPG, JPEG, PNG and GIF image file types are allowed)</h5>
			</div><br>
			<div class="row">
      					<div class="col-md-2">
        			<label class="inline" for="photo1">Photo 1:</label>
      			</div>
        		<div class="col-md-4">
          		 <input type="file" name="photo1">
       			</div>
        		<div class="col-md-2">
        			<label class="inline" for="photo2">Photo 2:</label>
      			</div>
        		<div class="col-md-4">
          			<input type="file" name="photo2">
        		</div>
			</div><br>
			<div class="row">
      					<div class="col-md-2">
        			<label class="inline" for="photo3">Photo 3:</label>
      			</div>
        		<div class="col-md-4">
          			<input type="file" name="photo3">
       			</div>
       		</div><br>
	<div class="row">
      			<h3 align="center">Identity Proof Upload</h3><hr>
			</div><br>
			<div class="row">
      					<div class="col-md-2">
        			<label class="inline" for="adhaar_card_number">Adhaar Card Number:</label>
      			</div>
        		<div class="col-md-4">
          			<input type="text" name="adhaar_card_number" id="adhaar_number" value="" class="form-control">
       			</div>
			</div><br>
		<div class="row">
      					<div class="col-md-2">
        			<label class="inline" for="adhaar_card_photocopy">Adhaar Card Photocopy:</label>
      			</div>
        		<div class="col-md-4">
          			<input type="file" name="adhaar_card_photocopy">
       			</div>
			</div><br>
			<div class="row">
			</div><br>
				<div class="row">
			</div><br>
			<div class="row">
				<input type="checkbox" name="checkbox">&nbsp;I hereby accept Terms and Conditions*
			</div><br>
			<div class="row">
				<center>
				<input type="submit" name="submit" value="Register" class="btn btn-danger">
				<input type="submit" name="submit" value="Reset" class="btn btn-success">
				</center>
			</div>
   			</form>
   		</div>
   	</form>
</div>
   			</div>
   		</div>
   	</div>
</div> 

			
   			

{% endblock %}