{% extends 'reports/adminbase.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    
    <!-- Main content -->
    <br>
    <section class="content">
      <div class="container-fluid">
      <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">BodyType Form</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.errors }}
                        <div class="card-body">
                          <div class="row">

                          <div class="col-4">
                            <label for="caste_name">BodyType Name</label>
                            {{ form.bodytype_name|add_class:"form-control" }}                  
                          </div>
                          
                  
                 <!--  <div class="col-4">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">                  
                  </div> -->
                </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>


  {% endblock %}