{% extends 'reports/adminbase.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    
    <!-- Main content -->
    <br>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-1">
            <a href="{% url 'add-country' %}" class="btn btn-primary btn-sm float-right">Add Country</a> 
            </div>
        </div>
        <br>

           <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <!-- Default box -->
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Search Criteria</h3>

                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                          <i class="fas fa-minus"></i>
                        </button>

                      </div>
                    </div>
                    <div class="card-body">
                       <form method="get" id="search-form">

                <div class="row texture" style="margin-top:5px">

                  <div class="col-md-2">Country no</div>
                  <div class="col-md-4">{{ form.country_id|add_class:"form-control" }}</div>

                   <div class="col-md-2">Country Name</div>
                  <div class="col-md-4">{{ form.country_name|add_class:"form-control" }}</div>

                
                  
              </div>
              


                <div class="row" style="margin-top:10px">
                 <div class="col-md-1 col-md-offset-4">
                  <input type="submit" name="submit" class="btn btn-primary btn-sm" Value="search">
                </div>
                <div class="col-md-1">
                <a href="#" class="btn btn-primary btn-sm">Reset</a> 
                </div>
              </div>
          </form>
                      
                    </div>
                    <!-- /.card-body -->
                 
                  </div>
                  <!-- /.card -->
                </div>
              </div>
            </div>
          </section>
        
      
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Country List</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                   
                      <th>Country No</th>
                      <th>Country Name</th>
                    
                    </tr>
                  </thead>
                  <tbody>
                    {% for sample in object_list %}
                    <tr>
                    
                      <td>{{ sample.country_id }}</td>
                      <td>{{ sample.country_name }}</td>
                   
                      
                      <td>
                        <a href="{% url 'edit-country' sample.country_id %}" class="btn btn-default btn-xs" data-target="#editmyModal" data-toggle="tooltip" title="Edit">
                         <i class="fas fa-edit"></i>
                        </a> 
                         <a href="{% url 'detail-country' sample.country_id %}" class="btn btn-default btn-xs" data-target="#editmyModal" data-toggle="tooltip" title="Edit">
                            <i class="fas fa-info-circle"></i>
                          </a>
                      </td>
                    </tr>
                   
                   {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  {% endblock %}
                                                                            