{% extends 'reports/webbase.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel">
                        <div class="panel-body">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                                </ol>
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="https://jeevanmeet.com/assets/banner/img1.jpg" alt="" class="img-responsive">
                                        <div class="carousel-caption">
                                            <h1>Thousands of Profiles</h1>
                                            <p>Profiles from all communities</p>
                                            <p><a class="btn btn-lg btn-primary" href="https://jeevanmeet.com/register">Sign up today</a></p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="https://jeevanmeet.com/assets/banner/img2.jpg" alt="" class="img-responsive">
                                        <div class="carousel-caption">
                                            <h1>Safe &amp; Secure</h1>
                                            <p>We keep data authentic and secure keeping in mind the importance of the privacy of the members</p>
                                            <p><a class="btn btn-lg btn-primary" href="https://jeevanmeet.com/register">Sign up today</a></p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="https://jeevanmeet.com/assets/banner/img3.jpg" alt="" class="img-responsive">
                                        <div class="carousel-caption">
                                            <h1>Paid Membership</h1>
                                            <p>Different plans to choose as per your requirement</p>
                                            <p><a class="btn btn-lg btn-primary" href="https://jeevanmeet.com/register">Sign up today</a></p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="https://jeevanmeet.com/assets/banner/img4.jpg" alt="" class="img-responsive">
                                        <div class="carousel-caption">
                                            <h1>Franchise</h1>
                                            <p>Vast franchise network from metros to small towns</p>
                                            <p><a class="btn btn-lg btn-primary" href="https://jeevanmeet.com/searchFranchise">Find Franchise</a></p>
                                        </div>
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                         </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div role="tabpanel">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">ID Search</a></li>
                                    <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Quick Search</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="tab1">
                                        <div class="panel"  style="margin-bottom : 0px;">
                                            <div class="panel-body" style="padding-bottom: 0px">
                                                <form action="https://jeevanmeet.com/regularSearch" method="get">
                                                    <div class="from-group">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <label for="male" class="control-label">Select</label>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <div class="col-md-6">
                                                                    <input type="radio" class="rinline" id="male" value="1" name="gender"/>
                                                                    <label for="male" class="inline">Groom</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <input type="radio" class="inline" id="female" value="2" name="gender" checked="checked" />
                                                                    <label for="female" class="inline">Bride</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="from-group">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <label for="part_religion_multipl" class="control-label">Religion</label>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <select name="part_religion[]"  class="disable chzn-select form-control" data-placeholder="Select Religion" id="part_religion_multipl" multiple="multiple">
<option value="3">Buddhist</option>
<option value="5">Christian</option>
<option value="1">Hindu</option>
<option value="4">Jain</option>
<option value="2">Muslim</option>
<option value="6">Sikh</option>
</select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="from-group">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <label for="part_caste_multipl" class="control-label">Caste</label>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <select name="part_caste[]"  class="chzn-select form-control" data-placeholder="Select Caste" id="part_caste_multipl" multiple="multiple">
</select>

<input type="hidden" name="submit" value="Search" />

<input type="hidden" name="page_number" value="" />

<input type="hidden" name="records" value="10" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12 text-center">
                                                                <input type="submit" class="btn btn-default" value="Search" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="tab2">
                                        <div class="panel">
                                            <div class="panel-body">
                                                <form action="https://jeevanmeet.com/idSearch" method="get">
                                                    <div class="from-group">
                                                        <div class="row">
                                                            <div class="col-md-4"><label for="profile_id" class="control-label">Profile Id</label></div>
                                                            <div class="col-md-8">
                                                                <input type="text" id="profile_id" name="profile_id" placeholder="Enter Profile Id" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12 text-center">
                                                                <input type="submit" class="btn btn-default" value="Search" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">

                                                <div class="panel">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3 col-xs-3"><i class="fa fa-edit fa-3x"></i></div>
                                        <div class="col-md-9 col-xs-9"><h2 class="hometopmargin"><a href="/register">Register Free</a></h2></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-justify">Register Now ! Get contacts of <b>24 Profiles absolutely Free</b>, Yearly. Also receive interests from our registered and verified members.</div>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3 col-xs-3"><i class="fa fa-search-plus fa-3x"></i></div>
                                        <div class="col-md-9 col-xs-9"><h2 class="hometopmargin"><a href="/regularSearch">Search</a></h2></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-justify">Find well suited profiles with varied and multiple criteria</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3 col-xs-3"><i class="fa fa-phone fa-3x"></i></div>
                                        <div class="col-md-9 col-xs-9"><h2 class="hometopmargin"><a href="https://jeevanmeet.com/contact">Contact Us</a></h2></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-justify">Get In touch through Email/Phone numbers</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3 col-xs-3"><i class="fa fa-edit fa-3x"></i></div>
                                        <div class="col-md-9 col-xs-9"><h2 class="hometopmargin">
                                        <a  href="https://jeevanmeet.com/searchFranchise">Franchise</a></h2></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-justify">Get in touch with your nearest franchise. We also need <b>Business Partners / Mediators</b>, who could help People get Married.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="sub_heading">Franchise</h4>
                                    <p class="text-justify">
                                        JeevanMeet.com has a vast Franchise Network and is expanding
                                        consistently. Franchises are located in metros as well as small
                                        towns for the convenience of customers. As the Profiles are uploaded
                                        through Franchise most of the profiles are verified. Franchise owner
                                        gives personal attention and advice regarding marriage proposals.
                                        Pre-Marriage and Post-Marriage counseling facility also available.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

						<div class="row">
							<div class="col-md-12">

						<div class="panel panel-default">
				<div class="panel-body">
								<div class="row">
				<div class="col-md-12">
				<h4 class="sub_heading">Success Story</h4></div>
														<div class="col-md-12">
						<div class="col-md-2" style="margin-top: 15px;">
							<img alt="wedding image" src="https://jeevanmeet.com/weddingImages/3ba17-gajanan-landage-amraja-shinde.jpg" class="img-thumbnail">
						</div>
						<div class="col-md-10 text-justify">
							<p class="text-justify">
								<div class="text-left">
                                <h4 style="color:#B22222;">Gajanan Landage & Amraja Shinde</h4></div>
								<p>
	We Both Belong to Hindu Maratha Caste from Madha, Solapur and Mohol, Solapur. We Got Married in Mohol City of Solapur through Marriage Website JeevanMeet.com. We got in Touch through Barshi Franchises of JeevanMeet. Thanks or Helping us Rahul Taware Sir of Barshi, Solapur.<br />
	<br />
	Thanks a Lot Rahul Taware Sir to&#8230;								<ul class="list-inline">
						<li><a class="text-primary" href="https://jeevanmeet.com/ReadMoreStory/55-gajanan-landage-amraja-shinde">Read More...</a></li>
								</ul>
							<!-- </p> removed -->
							</div>
				 </div>
							</div>
				<div class="text-right">
					<a href="https://jeevanmeet.com/SuccessStory/">Read More Stories <span class="glyphicon glyphicon-chevron-right"></span></a>
				</div>
		</div>
	</div>

</div></div>
        </div>
    </div>
</div>    


{% endblock %}
