{% extends 'reports/adminbase.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    
    <!-- Main content -->
    <br>
    <section class="content">
      <div class="container-fluid">
 <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Occupation Details</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <div class="form-horizontal">
                <div class="card-body">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Occupation.No</label>
                    <div class="col-sm-3">
                        {{ object.occupation_id }}                    
                    </div>
                    <label class="col-sm-3 col-form-label">Occupation Name</label>
                    <div class="col-sm-3">
                        {{ object.occupation_name }}                    
                    </div>
                </div>
                  </div>
            
                  </div>
                 
                        
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    {% endblock %}