<template>
  <q-layout view="lHh lpR fFf">

    <q-header bordered class="bg-primary text-white" height-hint="98">
      <q-toolbar>
        <q-btn dense flat round icon="menu" @click="toggleLeftDrawer" />

        <q-toolbar-title class="text-weight-bold">
          <!--<span class="gt-sm">{{ $route.name }}</span>-->

           <img alt="Quasar logo" src="~assets/logo.svg" style="width:200px">
        </q-toolbar-title>

        <!--<q-btn dense flat round icon="menu" @click="toggleRightDrawer" />-->
      </q-toolbar>

     
    </q-header>

    <q-drawer 
    show-if-above 
    v-model="leftDrawerOpen" 
    side="left" 
    :width="300"
    bordered
    >
  <q-list>
        <q-item-label header class="text-grey-8" >MY Page</q-item-label>
    <q-item
        to="/"
        exact
        clickable>
        <q-item-section avatar>
        <q-icon color="negative" name="home"/>
        </q-item-section>
        <q-item-section>
          <q-item-label>Home</q-item-label>
        </q-item-section>
    </q-item>
    <q-item
        to="/register"
        exact
        clickable>
        <q-item-section avatar>
        <q-icon color="negative" name="app_registration"/>
        </q-item-section>
        <q-item-section>
          <q-item-label>Registraion</q-item-label>
        </q-item-section>
        </q-item>

    <q-item
        to="/login"
        exact
        clickable>
        <q-item-section avatar>
        <q-icon color="negative" name="login"/>
        </q-item-section>
        <q-item-section>
          <q-item-label>Login</q-item-label>
        </q-item-section>
        </q-item>

      

      <q-item
        to="/idsearch"
        exact
        clickable>
        <q-item-section avatar>
        <q-icon color="negative" name="person_search"/>
        </q-item-section>
        <q-item-section>
          <q-item-label>Search By Id</q-item-label>
        </q-item-section>
        </q-item>

        <q-item
        to="/regularsearch"
        exact
        clickable>
        <q-item-section avatar>
        <q-icon color="negative" name="search"/>
        </q-item-section>
        <q-item-section>
          <q-item-label> Regular Search</q-item-label>
        </q-item-section>
        </q-item>

       <!-- <q-item
        to="/imgcard"
        exact
        clickable>
        <q-item-section avatar>
        <q-icon color="negative" name="people_alt"/>
        </q-item-section>
        <q-item-section>
          <q-item-label>My Matchs</q-item-label>
        </q-item-section>
        </q-item> -->


        <q-item
        to="/franchiesregister"
        exact
        clickable>
        <q-item-section avatar>
        <q-icon color="negative" name="switch_account"/>
        </q-item-section>
        <q-item-section>
          <q-item-label>Franchise</q-item-label>
        </q-item-section>
        </q-item>

        <q-item
        to="/bridespage"
        exact
        clickable>
        <q-item-section avatar>
        <q-icon color="negative" name="people_alt"/>
        </q-item-section>
        <q-item-section>
          <q-item-label>Brides</q-item-label>
        </q-item-section>
        </q-item>

        <q-item
        to="/groomspage"
        exact
        clickable>
        <q-item-section avatar>
        <q-icon color="negative" name="people_alt"/>
        </q-item-section>
        <q-item-section>
          <q-item-label>Grooms</q-item-label>
        </q-item-section>
        </q-item>

        <q-item
        to="/membership"
        exact
        clickable>
        <q-item-section avatar>
        <q-icon color="negative" name="loyalty"/> 
        </q-item-section>
        <q-item-section>
          <q-item-label>Mermbership Plan</q-item-label>
        </q-item-section>
        </q-item>

         <q-item
        to="/tellstory"
        exact
        clickable>
        <q-item-section avatar>
        <q-icon color="negative" name="auto_stories"/>
        </q-item-section>
        <q-item-section>
          <q-item-label> Tell Success Stories</q-item-label>
        </q-item-section>
        </q-item>

         <q-item
        to="/feedback"
        exact
        clickable>
        <q-item-section avatar>
        <q-icon color="negative" name="rss_feed"/>
        </q-item-section>
        <q-item-section>
          <q-item-label>Feedback</q-item-label>
        </q-item-section>
        </q-item>


           <q-item
        to="/contact"
        exact
        clickable>
        <q-item-section avatar>
        <q-icon color="negative" name="contact_page"/>
        </q-item-section>
        <q-item-section>
          <q-item-label>Contact</q-item-label>
        </q-item-section>
        </q-item>

           <q-item
        to="/myprofile"
        exact
        clickable>
        <q-item-section avatar>
        <q-icon color="negative" name="settings"/>
        </q-item-section>
        <q-item-section>
          <q-item-label>Setting</q-item-label>
        </q-item-section>
        </q-item>
        

  </q-list>
    </q-drawer>
 <!-- drawer content -->
       <!--<q-drawer show-if-above v-model="rightDrawerOpen" side="right" bordered>
     
      <q-input 
      placeholder="Search Profile By Id"
      class="q-ma-md"
      outlined
      rounded
      dense>
        <template v-slot:prepend>
          <q-icon name="search" />
        </template>
      </q-input>

         <q-list
        padding
        separator>
      <q-item>
        <q-item-section>
          <q-item-label overline>Groom</q-item-label>
          <q-item-label>pune</q-item-label>
          <q-item-label caption>Secondary line text. Lorem ipsum dolor sit amet, consectetur adipiscit elit.</q-item-label>
        </q-item-section>

        <q-item-section side top>
          <q-item-label caption>5 min ago</q-item-label>
        </q-item-section>
      </q-item>

<q-item>
        <q-item-section>
          <q-item-label overline>Groom</q-item-label>
          <q-item-label>pune</q-item-label>
          <q-item-label caption>Secondary line text. Lorem ipsum dolor sit amet, consectetur adipiscit elit.</q-item-label>
        </q-item-section>

        <q-item-section side top>
          <q-item-label caption>5 min ago</q-item-label>
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section>
          <q-item-label overline>Groom</q-item-label>
          <q-item-label>pune</q-item-label>
          <q-item-label caption>Secondary line text. Lorem ipsum dolor sit amet, consectetur adipiscit elit.</q-item-label>
        </q-item-section>

        <q-item-section side top>
          <q-item-label caption>5 min ago</q-item-label>
        </q-item-section>
      </q-item>
      
         </q-list>
    </q-drawer> -->


    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer elevated class="red text-white">
       <q-toolbar>
          <q-space/>
           <p class="text-center" color:red>Copyright &copy; 2010 <a href="www.jeevanmeet.com"><strong>JeevanMeet</strong></a> All Rights Reserved.</p>
          <q-space/>

        </q-toolbar>
    </q-footer>

  </q-layout>
</template>

<script>
import { ref } from 'vue'

export default {
  setup () {
    const leftDrawerOpen = ref(false)
    const rightDrawerOpen = ref(false)

    return {
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      },

      rightDrawerOpen,
      toggleRightDrawer () {
        rightDrawerOpen.value = !rightDrawerOpen.value
      }
    }
  }
}
</script>