<template>
    <q-page class="flex q-pa-md">
      <q-card class="full-width">
   

    <div class="q-pa-md">
       <center> Regular Search</center>
        <q-separator spaced inset />


        
       <div class="row q-mt-md">
       <div class="col">
      <q-item-label class="q-mb-lg" style="font-weight">Select </q-item-label>
       <q-option-group
            :options="opt1"
            label="Select"
            type="radio"
            v-model="gender"
            :rules="[val => !!val || 'Field is required']"
          />
       </div>
    </div>
   <div class="row q-mt-md">
       <div class="col">
                                  
          <q-select
                v-model="complexion"
                outlined
                label="Complexion*"
                :options="optcx"
                option-value="complexion_id"
                option-label="complexion_name"
               
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>

       </div>
    </div>

        <div class="row q-mt-md">
       <div class="col">
    <q-select
          outlined
          v-model="partners_marital_status"
          :options="optpmsts"
          label="Marital Status*" 
          option-value="maritalstatus_id"
          option-label="maritalstatus_name"
          emit-value
          map-options
          fill-input
         
          :rules="[val => !!val || 'Field is required']"
        ></q-select>

       </div>
    </div>



        <div class="row q-mt-md">
       <div class="col">
                                  
        <q-select
                v-model="partners_mother_tongue"
                outlined
                label="Partners Mother Tongue*"
                :options="optpmtongue"
                option-value="mothertongue_id"
                option-label="mothertongue_name"
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>

       </div>
    </div>


        <div class="row q-mt-md">
       <div class="col">
                                  
        <q-select
                v-model="partners_religion"
                outlined
                label=" Partners Religion*"
                :options="optpreligion"
                option-value="religion_id"
                option-label="religion_name"
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>

       </div>
    </div>


    <div class="row q-mt-md">
       <div class="col">
                                  
         <q-select
                v-model="partners_caste"
                outlined
                label=" partners Caste* "
                :options="optpcaste"
                option-value="caste_id"
                option-label="caste_name"
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>

       </div>
    </div>

    <div class="row q-mt-md">
       <div class="col">
                                  
         <q-select
                v-model="partners_sub_caste"
                outlined
                label="Partners SubCaste* "
                :options="optpscaste"
                option-value="subcaste_id"
                option-label="subcaste_name"
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>

       </div>
    </div>
     
        <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="partners_education"
                outlined
                label=" Partners Education* "
                :options="optpeducation"
                option-value="education_id"
                option-label="education_name"
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>
   <div class="row q-mt-md">
       <div class="col">
                                  
           <q-select
                v-model="body_type"
                outlined
                label="Body Type* "
                :options="optbt"
                option-value="bodytype_id"
                option-label="bodytype_name"
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>

       </div>
    </div>
    
         <div class="row q-mt-md">
       <div class="col-6">
                                  
           <q-input
                v-model.number="partners_height_from "
                outlined
                label="Partners Height From* "
                type="number"

                :rules="[val => !!val || 'Field is required']">
            </q-input>
   </div>
       <div class="col-6">
                                  
           <q-input
                v-model="partners_height_to"
                outlined
                label="Partners Height To* "
                type="number"
            
                :rules="[val => !!val || 'Field is required']">
            </q-input>

       </div>
    </div>

       <div class="row q-mt-md">
       <div class="col-6">
                                  
           <q-input
                v-model="partners_age_from  "
                outlined
                label="Partners Age From* "
                type="number"
            
                :rules="[val => !!val || 'Field is required']">
            </q-input>

       </div>
       <div class="col-6">
                                  
           <q-input
                v-model="partners_age_to"
                outlined
                label="Partner Age To* "
                type="number"

                :rules="[val => !!val || 'Field is required']">
            </q-input>

       </div>

    
    </div>
       <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="partners_occupation"
                outlined
                label="Partners Occupation* "
                :options="optpocc"
                option-value="occupation_id"
                option-label="occupation_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>
    

        <div class="row q-mt-md">
         <div class="col-6">
            <q-select
                v-model="annual_income_from"
                outlined
                label="Partners Income from* "
                :options="optpincomef"
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
         <div class="col-6">
            <q-select
                v-model="annual_income_to"
                outlined
                label="Partners Income To* "
                :options="optpincomet"
              
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>

        <div class="row q-mt-md">
       <div class="col">
                                  
         <q-select
                v-model="partners_rashi_name"
                outlined
                label=" Partners Start/Rashi* "
                :options="optprn"
                option-value="rashi_id"
                option-label="rashi_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>

       </div>
    </div>

    <div class="row q-mt-md">
       <div class="col">
      <q-item-label class="q-mb-lg" style="font-weight">Partners Eating Habits *</q-item-label>
       <q-option-group
            :options="optpeh"
            name="prt_eating_habits[]"
            type="radio"
            v-model="prt_eating_habits"
            :rules="[val => !!val || 'Field is required']"
          />
       </div>
    </div>


      <div class="row q-mt-md">
       <div class="col">
      <q-item-label class="q-mb-lg" style="font-weight">Partners Drinking Habits *</q-item-label>
       <q-option-group
            :options="optpdh"
           
            type="radio"
            v-model="prt_drinking_habits"
            :rules="[val => !!val || 'Field is required']"
          />
       </div>
    </div>


      <div class="row q-mt-md">
       <div class="col">
      <q-item-label class="q-mb-lg" style="font-weight">Partners Smoking Habits *</q-item-label>
       <q-option-group
            :options="optpsh"
           
            type="radio"
            v-model="prt_smoking_habits"
            :rules="[val => !!val || 'Field is required']"
          />
       </div>
    </div>
    
<q-separator dark />  
<q-separator dark /> 

        <h9><center>Address Details</center></h9>
        <q-separator spaced inset />               
        <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="state"
                outlined
                label="State* "
                :options="optstate"
                option-value="state_id"
                option-label="state_name"
                map-options
                emit-value
                fill-input
               
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>


          <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="district"
                outlined
                label="District* "
                :options="optdist"
                option-value="district_id"
                option-label="district_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>

        
          <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="city"
                outlined
                label="City* "
                :options="optcity"
                option-value="city_id"
                option-label="city_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>
<center>Ancestral Origin Address</center>
   <q-separator spaced inset />

   <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="state_ancestral"
                outlined
                label="State* "
                :options="optancstate"
                option-value="state_id"
                option-label="state_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>

      <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="district_ancestral"
                outlined
                label="District* "
                :options="optancdist"
                option-value="district_id"
                option-label="district_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>

         <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="city_ancestral"
                outlined
                label="City* "
                :options="optanccity"
                option-value="city_id"
                option-label="city_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>
<center>NRI Address</center>
   <q-separator spaced inset />
        <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="country"
                outlined
                label="Living Country* "
                :options="optcountry"
                option-value="country_id"
                option-label="country_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>






</div>      
    <div class="row q-ma-md">
      <div class="col-12">
            <q-btn class="full-width" label=" Regular Search" @click="regular_search()" type="submit" color="red-14"/> 
      </div>
      </div>
   
      </q-card>
   

  </q-page>
</template>

<script>
import { api } from 'boot/axios';
import { LocalStorage, useQuasar } from 'quasar'
export default {

data(){
        return{
            user_id:'',
            gender: '',
            opt1: [
            { label: 'Groom', value: 'M' },
            { label: 'Bride', value: 'F' },
             ],
            complexion:'',
            optcx:[],
            partners_marital_status:'',
            optpmsts:[],
            partners_mother_tongue:'',
            optpmtongue:[],
            partners_religion:'',
            optpreligion:[],
            partners_caste:'',
            optpcaste:[],
            partners_sub_caste:'',
            optpscaste:[],
            partners_education:'',
            optpeducation:[],
            partners_height_from:'',
            partners_height_to:'',
            body_type:'',
            optbt:[],
            partners_age_from:'',
            partners_age_to:'',
            partners_occupation:'',
            optpocc:[],
            annual_income_from:'',
            optpincomef: [
            { label: '3k', value: '3k' },
            { label: '5k', value: '5k' },
            { label: '10k', value: '10k' },
            { label: '15k', value: '15k' },
             ],
            annual_income_to:'',
            optpincomet: [
            { label: '3k', value: '3k' },
            { label: '5k', value: '5k' },
            { label: '10k', value: '10k' },
            { label: '15k', value: '15k' },
             ],
            partners_rashi_name:'',
            optprn:[],
            prt_eating_habits:'',
            optpeh: [
            { label: 'Vegetarian', value: 'Vegetarian' },
            { label: 'Non-Vegetarian', value: 'Non-Vegetarian' },
            { label: 'Eggetarian', value: 'Eggetarian' },
            ],
            prt_drinking_habits:'',
            optpdh: [
            { label: 'Occassionally', value: 'Occassionally' },
            { label: 'No', value: 'No' },
            { label: 'Yes', value: 'Yes' },
             ],
            prt_smoking_habits:'',
            optpsh: [
            { label: 'Occassionally', value: 'Occassionally' },
            { label: 'No', value: 'No' },
            { label: 'Yes', value: 'Yes' },
             ],
            state:'',
            optstate:[],
            district:'',
            optdist:[],
            city:'',
            optcity:[],
            state_ancestral:'',
            optancstate:[],
            district_ancestral:'',
            optancdist:[],
            city_ancestral:'',
            optanccity:[],
            country:'',
            optcountry:[],
        
        }
    },
    methods:{
            regular_search(){
               
                     
            }

     },
mounted()
    {
            api.get('complexion/')
                 .then((response) => {
                   console.log(response)
                  this.optcx=response.data                  
              })
              api.get('pmaritalstatus/')
                .then((response) => {
                  console.log(response)
                  this.optpmstatus=response.data
             })
             api.get('mothertongue/')
                .then((response) => {
                  console.log(response)
                  this.optpmt=response.data                  
             })
              api.get('preligion/')
                .then((response) => {
                  console.log(response)
                  this.optpreligion=response.data                  
             })
            api.get('pcaste/')
                .then((response) => {
                  console.log(response)
                  this.optpcaste=response.data                  
             })
            api.get('psubcaste/')
                .then((response) => {
                  console.log(response)
                  this.optpscaste=response.data                  
             })
            api.get('peducation/')
                 .then((response) => {
                   console.log(response)
                   this.optpeducation=response.data                  
              })
                api.get('bodytype/')
                 .then((response) => {
                   console.log(response)
                   this.optbt=response.data                  
              })
              api.get('poccupation/')
                 .then((response) => {
                   console.log(response)
                   this.optpocc=response.data                  
              })
              api.get('prashi/')
                 .then((response) => {
                   console.log(response)
                   this.optprn=response.data                  
              })
              api.get('state/')
                 .then((response) => {
                   console.log(response)
                   this.optstate=response.data                  
              })
                api.get('district/')
                 .then((response) => {
                   console.log(response)
                   this.optdist=response.data                  
              })
                api.get('city/')
                 .then((response) => {
                   console.log(response)
                   this.optcity=response.data                  
              })
              api.get('state/')
                 .then((response) => {
                   console.log(response)
                   this.optancstate=response.data                  
              })
                api.get('district/')
                 .then((response) => {
                   console.log(response)
                   this.optancdist=response.data                  
              })
            api.get('city/')
                 .then((response) => {
                   console.log(response)
                   this.optanccity=response.data
                 })
            api.get('country/')
                 .then((response) => {
                   console.log(response)
                   this.optcountry=response.data                  
              })
    }
    }
</script>
<style>

</style>