<template>
   <q-layout> 
    <q-page-container>
    <q-form @submit="register()">
    <div class="row q-ma-md">
     <div class="col-12">
    
          <q-input outlined label="Full Name*" v-model="username" :rules="[val => !!val || 'Field is required']"/>
      </div>
         </div>
    <div class="row q-ma-md">
      <div class="col-12">
            <q-select
                v-model="lagan_type"
                outlined
                label="Gender* "
                :options="marital_status"
                map-options
                emit-value
                fill-input
                @input="onGender()"
                :rules="[val => !!val || 'Field is required']">
            </q-select>
      </div>
      </div>
    <div class="row q-ma-md">
      <div class="col-12">
            <q-input outlined  label="Birth Date *"  v-model="date_of_birth" :rules="[val => !!val || 'Field is required']">
              <template v-slot:prepend>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy transition-show="scale" transition-hide="scale">
                    <q-date @input="show_season()" v-model="date_of_birth" mask="YYYY-MM-DD" >
                     <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Close" color="primary" flat />
                    </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
        </q-input>  
        </div>
    </div>

    <div class="row q-ma-md">
      <div class="col-12">
            <q-input outlined  label="Time of Birth *"  v-model="time_of_birth " :rules="[val => !!val || 'Field is required']">
              <template v-slot:prepend>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy transition-show="scale" transition-hide="scale">
                    <q-date @input="show_season()" v-model="date_of_birth" mask="YYYY-MM-DD" >
                     <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Close" color="primary" flat />
                    </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
        </q-input>  
        </div>
    </div>

    <div class="row q-ma-md">
     <div class="col-12">
          <q-input outlined label="Birth Place*" v-model="birth_place" :rules="[val => !!val || 'Field is required']"/>
      </div>
         </div>

    <div class="row q-ma-md">
      <div class="col-12">
            <q-select
                v-model="lagan_type"
                outlined
                label="Marital Status* "
                :options="marital_status"
                map-options
                emit-value
                fill-input
                @input="onMarital_Status()"
                :rules="[val => !!val || 'Field is required']">
            </q-select>
      </div>
      </div>
    
    
    <div class="row q-ma-md">
      <div class="col-12">
            <q-select
                v-model="lagan_type"
                outlined
                label="No of Childrens* "
                :options="marital_status"
                map-options
                emit-value
                fill-input
                @input="onMarital_Status()"
                :rules="[val => !!val || 'Field is required']">
            </q-select>
      </div>
      </div>
    
       <div class="row q-ma-md">
      <div class="col-12">
            <q-select
                v-model="lagan_type"
                outlined
                label="Mother Tongue* "
                :options="lagantypes"
                map-options
                emit-value
                fill-input
                @input="onLagantype_change()"
                :rules="[val => !!val || 'Field is required']">
            </q-select>
      </div>
      </div>

        <div class="row q-ma-md">
      <div class="col-12">
            <q-select
                v-model="lagan_type"
                outlined
                label="Religion*"
                :options="lagantypes"
                map-options
                emit-value
                fill-input
                @input="onLagantype_change()"
                :rules="[val => !!val || 'Field is required']">
            </q-select>
      </div>
      </div>

      

      <div class="row q-ma-md">
      <div class="col-12">
            <q-select
                v-model="lagan_type"
                outlined
                label="Caste* "
                :options="lagantypes"
                map-options
                emit-value
                fill-input
                @input="onLagantype_change()"
                :rules="[val => !!val || 'Field is required']">
            </q-select>
      </div>
      </div>

      <div class="row q-ma-md">
      <div class="col-12">
            <q-select
                v-model="lagan_type"
                outlined
                label="SubCaste* "
                :options="lagantypes"
                map-options
                emit-value
                fill-input
                @input="onLagantype_change()"
                :rules="[val => !!val || 'Field is required']">
            </q-select>
      </div>
      </div>

        <div class="row q-ma-md">
      <div class="col-12">
            <q-select
                v-model="lagan_type"
                outlined
                label="Height "
                :options="lagantypes"
                map-options
                emit-value
                fill-input
                @input="onLagantype_change()"
                :rules="[val => !!val || 'Field is required']">
            </q-select>
      </div>
      </div>

        <div class="row q-ma-md">
      <div class="col-12">
            <q-select
                v-model="lagan_type"
                outlined
                label="weight "
                :options="lagantypes"
                map-options
                emit-value
                fill-input
                @input="onLagantype_change()"
                :rules="[val => !!val || 'Field is required']">
            </q-select>
      </div>
      </div>

        <div class="row q-ma-md">
      <div class="col-12">
            <q-select
                v-model="lagan_type"
                outlined
                label="Blood Group* "
                :options="lagantypes"
                map-options
                emit-value
                fill-input
                @input="onLagantype_change()"
                :rules="[val => !!val || 'Field is required']">
            </q-select>
      </div>
      </div> 
    <div class="row q-ma-md">
      <div class="col-12">
            <q-select
                v-model="lagan_type"
                outlined
                label="Complexion* "
                :options="lagantypes"
                map-options
                emit-value
                fill-input
                @input="onLagantype_change()"
                :rules="[val => !!val || 'Field is required']">
            </q-select>
      </div>
      </div>   
    <div class="row q-ma-md">
      <div class="col-12">
            <q-select
                v-model="lagan_type"
                outlined
                label="Body Type* "
                :options="lagantypes"
                map-options
                emit-value
                fill-input
                @input="onLagantype_change()"
                :rules="[val => !!val || 'Field is required']">
            </q-select>
      </div>
      </div>


  <div class="row q-ma-md">
      <div class="col-12">
            <q-select
                v-model="lagan_type"
                outlined
                label="Manglik* "
                :options="lagantypes"
                map-options
                emit-value
                fill-input
                @input="onLagantype_change()"
                :rules="[val => !!val || 'Field is required']">
            </q-select>
      </div>
      </div>
    
  <div class="row q-ma-md">
      <div class="col-12">
         <q-input outlined label="Gothram*" v-model="username" :rules="[val => !!val || 'Field is required']"/>
      </div>
      </div>

  <div class="row q-ma-md">
      <div class="col-12">
            <q-select
                v-model="lagan_type"
                outlined
                label="Start/Rashi* "
                :options="lagantypes"
                map-options
                emit-value
                fill-input
                @input="onLagantype_change()"
                :rules="[val => !!val || 'Field is required']">
            </q-select>
      </div>
      </div>

  <div class="q-pa-md q-gutter-sm">
    <div class="q-gutter-sm">
      <q-radio dense v-model="shape" val=" Vegetarian" label="Vegetarian" />
      <q-radio dense v-model="shape" val="NonVegetarian" label="NonVegetarian" />
      <q-radio dense v-model="shape" val="Eggetarian" label="Eggetarian" />
    
    </div>

    <div class="q-px-sm q-pt-sm">
      Your selection is: <strong>{{ shape }}</strong>
    </div>
  </div>
  
   


   
</q-form>
</q-page-container> 
 </q-layout>
</template>

<script>
export default {

setup(){
        return{
            //name:'',
            //gender:'',
            //caste:'',
            //age:'',
            marital_status:[],
            //shape: ref('line'),
            
        }
    },
    methods:{

                  
                    initialise(){

                
                    this.getMaritalStatus();
                    
              },
                onMarital_Status(){
                      

                    },
            register(){
                var postdata = {
                    //name:this.name,
                    //gender:this.gender,
                    //caste:this.caste,
                    //age:this.age,

            };
         },
            getMaritalStatus(){

                        this.db.transaction((tx)=>{
                          tx.executeSql('SELECT * FROM subvillage',[], (tx, rs)=> {
                                this.subvillages = [];
                              if(rs.rows.length > 0){
                                for(let i=0;i < rs.rows.length; i++){
                                  this.subvillages.push({value: rs.rows.item(i).subvlg_id, 
                                                        label: rs.rows.item(i).name_ma})
                                }
                              }
                              }, (tx, error)=> {
                                console.log('Select error: ' + error.message);
                              });
                        });

                    },
         show_season(){
                      
                        },
         
              getPlantTypes(){
                        this.db.transaction((tx)=>{
                        tx.executeSql('SELECT * FROM plant_type', [], (tx, rs)=> {
                            this.planttypes = [];
                            if(rs.rows.length > 0){
                                for(let i=0;i < rs.rows.length; i++){
                                  this.planttypes.push({value: rs.rows.item(i).plant_type_id, 
                                                        label: rs.rows.item(i).desc_en })
                                }
                              }

                        }, (tx, error)=> {
                            console.log('SELECT error: ' + error.message);
                        });
                        });
                    },
                        



    }
}
</script>

<style>

</style>