<template>
  <div class="q-pa-md">
      <div class="row">
    <q-btn label="Redister Data " text-color="primary"  @click="addbrides()" class="q-mb-md bg-primary text-white" />
    <q-space />
    
    </div>
    <q-list v-for="item in brides_data" :key="item.brides_id">
    <!--<q-list v-for="(item, key) in brides_data" :key="key">-->
      <q-item clickable v-ripple>
        <q-item-section>
          <q-item-label>Name - {{item.name}} </q-item-label>
         <q-item-label>Gender -  {{ item.gender }}</q-item-label>
          <q-item-label>Cast -  {{ item.caste }}</q-item-label>
           <q-item-label>Age -  {{ item.age }}</q-item-label>
        </q-item-section>
         <q-item-section>
           <q-btn 
              flat 
              round
              dense
              color="primary" 
              icon="edit"
              @click="EditBrides(item.brides_id)"
              />
         </q-item-section>
         <q-item-section>
         <q-btn 
              flat 
              round
              dense
              color="primary" 
              icon="delete"
              @click="DeleteBrides(item.brides_id)" />
          </q-item-section>
          <q-item-section>
            <q-btn 
              flat 
              round
              dense
              color="primary" 
              icon="details"
              @click="DetailBrides(item.brides_id)" />
          </q-item-section>
      </q-item>
      <q-separator spaced inset />

    </q-list>
    
    
  </div>
</template>

<script>
import { api } from 'boot/axios'
export default {
  setup(){
        return{
        brides_data:[],
       
    
        }
},
mounted(){
            api.get('brides/')
               .then((response) => {
               console.log(response)
              this.brides_data=response.data
               console.log(this.brides_data)
         
               })


},
methods:{
   EditBrides(brides_id){

   },
   DetailBrides(brides_id){
       console.log(brides_id);
          // this.$router.push('/editdemo/'+demo_id)
          this.$router.push({ name: 'detail-brides', params: { brides_id: brides_id} })

   },
   DeleteBrides(brides_id)
   {

   },
   addbrides()
   {
    
   },
 
}
}
</script>

<style>

</style>