<template>
      <div class="q-pa-md" v-for="(item, key) in brides_data" :key="key">
       <q-card flat bordered class="my-card q-ma-lg">
      <div class="q-col-gutter-md row items-start">
      <div class="col-12" text-center>
        <img 
          :src="'http://127.0.0.1:8000/'+item.photo1" 
          :ratio="1"
          style="width:300px"
        />
      </div>
         </div>
          <div class="col-md-2 text-center q-pt-md">
          <q-btn @click="viewprofile(item.user_id)" color="primary" label="View Details" />
          <!-- <q-btn flat @click="step = 1" color="primary" label="Back" class="q-ml-sm" />
          <q-btn color="red" @click="deleteRowNominee(k, nominee)" icon="delete" /> -->
                                
          </div>
       </q-card>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >ID:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.user_id}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Marital Status:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.marital_status}}</q-item-label>
           </div>
         </div>
          <!-- <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Full Name:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.fullname}}</q-item-label>
           </div>
         </div> -->
            <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Gender:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.gender}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Religion:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.religion}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Caste:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.caste}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Subcaste:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.sub_caste}}</q-item-label>
           </div>
         </div>
                     <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Current Address:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.current_address}}</q-item-label>
           </div>
         </div>
          
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Height:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.height}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Qualification:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.qualification}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Occupation:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.occupation}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Annual Income:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.annual_income}}</q-item-label>
           </div>
         </div>
       
                     <div class="row" text-center>
            <div class="col-6">
            <q-item-label >About Myself:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.about_myself}}</q-item-label>
           </div>
         </div>

    

      </div>
</template>

<script>
import { api } from 'boot/axios';
import { LocalStorage,useQuasar } from 'quasar'
export default {

data(){
        return{
          brides_data:[],

            
        }
    },
    mounted(){
              api.get('brides/')
               .then((response) => {
               console.log(response)
              this.brides_data=response.data
               console.log(this.brides_data)
         
               })
},
methods:{

        viewprofile(user_id)
        {
          
        console.log(user_id)
        localStorage.setItem("user_id",user_id)
        this.$router.push('/viewprofileb/'+user_id)
        //this.$router.push({ name: 'viewbride', params: { user_id: user_id} })     
        }
    }
}
</script>
<style>
.my-card1{
  width: 100%;
  max-width: 350px;
}
</style>