<template>
<q-page padding>
   <div class="row">

      <div class="text-h5 text-bold  q-px-md q-pl-sm">Card </div>
     </div>
   
    <div class="q-pa-md">
    <q-card class="my-card" inline style="width: 1000px">
    <div class="container ">
  <div class="row">
    <div class="col-12 col-md">
   <q-btn 
   style="background: goldenrod; color: white; width:1000px"
   size="10px" 
   label="Search"
   text-color="black"
   icon="search" />
   
    </div>
  </div>
    <q-separator inset />
      



  <div class="row">
    <div class="col-6 col-md">
     <q-btn 
     style="background: goldenrod; color: white; width:500px" 
     size="10px"
      label="My Profile" 
       icon="group"
      />
    </div>
    <div class="col-6 col-md">
     <q-btn style="background: goldenrod; color: white; width:500px"
      size="10px" 
      label="Goldenrod"
    icon="message" />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <q-btn style="background: goldenrod; color: white; width:1000px" 
      size="10px"
       label="Chat"
        icon="message" />
    </div>
  </div>

<div class="row">
    <div class="col-6 col-md">
    <q-btn style="background: goldenrod; color: white; width:500px" 
    size="10px" 
    label="Proposals" 
      icon="message"
    />
    </div>
    <div class="col-6 col-md">
      <q-btn style="background: goldenrod; color: white; width:500px" 
      size="10px" 
      label="My Proposals" 
        icon="message"
        />
    </div>
  </div>

</div>
    </q-card>
  </div>
</q-page>
</template>

<script>
export default {

}
</script>

<style>

</style>