<template>
   <div class="row q-pa-lg">
        <div class="col-12">
            <q-card class="my-card">
            <q-card-section>
              
             <div class="text-body1">
<p class="center">Dev Solutions 
184, Kokate Vasti, Old Pune Jakat Naka, <q-separator dark />
Pune Solapur Highway, Indapur, <q-separator dark /></p>
Indapur, Pune - 403106, <q-separator dark />
Maharashtra (INDIA) <q-separator dark />
Email : support@jeevanmeet.com <q-separator dark />
 Timing : 10 AM to 6 PM <q-separator dark />
Contact : (+91)9970013272 <q-separator dark />

             </div>
    
            </q-card-section>
            </q-card>
        </div>
      </div>

     
</template>

<script>
export default {
  name:'ConatctUs',


}
</script>

<style>

</style>