<template>
  <div class="q-pa-md">
    <q-layout view="lhh LpR lff" container style="height: 590px" class="shadow-2 rounded-borders">
      <q-page-container>
        <q-page padding>
          
        <div class="row" >
          <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h6 class="display-1">Registered Office</h6>
      <p class="lead">Dev Solutions
184, Kokate Vasti, Old Pune Jakat Naka,
Pune Solapur Highway, Indapur,
Indapur, Pune - 403106,
<br>
Maharashtra (INDIA)
<br>
Email : support@jeevanmeet.com
<br>

 Timing : 10 AM to 6 PM
 <br>
Contact : (+91)9970013272</p>
    </div>
        </div>
        
          
        </q-page>
      </q-page-container>
    </q-layout>
  </div>
</template>

<script>
import { ref } from 'vue'

export default {
  setup () {
    

  }
}
</script>


<style>

</style>