<template>
  <div class="q-pa-md">
      <div class="row">
    <q-btn label="Register Data " text-color="primary"  @click="adddemo()" class="q-mb-md bg-primary text-white" />
    <q-space />
    
    </div>
  <q-list v-for="item in demo_data" :key="item.demo_id">
  <!-- <q-list v-for="(item, key) in demo_data" :key="key">-->
      <q-item clickable v-ripple>
        <q-item-section>
          <q-item-label>Name - {{item.name}} </q-item-label>
         <q-item-label>Address -  {{ item.address }}</q-item-label>
          <q-item-label>Mobile Number -  {{ item.mobile_no }}</q-item-label>
        </q-item-section>
         <q-item-section>
           <q-btn 
              flat 
              round
              dense
              color="primary" 
              icon="edit"
              @click="EditDemo(item.demo_id)"
              />
         </q-item-section>
         <q-item-section>

         <q-btn 
              flat 
              round
              dense
              color="primary" 
              icon="delete"
              @click="DeleteDemo(item.demo_id)" />
          </q-item-section>
          <q-item-section>
            <q-btn 
              flat 
              round
              dense
              color="primary" 
              icon="details"
              @click="DetailDemo(item.demo_id)" />
          </q-item-section>
      </q-item>
      <q-separator spaced inset />

    </q-list>
    
    
  </div>
</template>

<script>
import { api } from 'boot/axios'
export default {
  data(){
        return{
        demo_data:[],
    
        }
},
mounted(){
            api.get('demo/')
               .then((response) => {
               console.log(response)
              this.demo_data=response.data
               console.log(this.demo_data)
         
               })


},
methods:{
   EditDemo(demo_id){

   },
   DetailDemo(demo_id){
       console.log(demo_id);
          // this.$router.push('/editdemo/'+demo_id)
          this.$router.push({ name: 'detail-demo', params: { demo_id: demo_id} })

   },
   DeleteDemo(demo_id)
   {

   },
   adddemo()
   {
      //this.$router.push('/demopage');
    
   },
 
}
}
</script>

<style>

</style>