<template>
  <q-form @submit="onSubmit">
        <div class="q-pa-md">
                        <div class="row q-mt-md">
                             <div class="col">
                                <q-input  label="Name" outlined v-model="name"  />
                            </div>
                        </div>
                           <div class="row q-mt-md">
                               <div class="col">
                                <q-input  label="Address" outlined v-model="address" />
                            </div>
                           </div>
                            <div class="row q-mt-md">
                                <div class="col">
                                <q-input  label="Mobile No" type="number" outlined v-model.number="mobile_no" />
                            </div>
                            </div>

                            
                            <q-separator spaced inset />
                            <div align="center">
                                <q-btn  color="primary" label="Submit" type="submit" />      
                            </div>
    
                        </div>    
   </q-form>
</template>

<script>
import { api } from 'boot/axios';
export default {

data(){
        return{
            name:'',
            address:'',
            mobile_no:'',
        }
    },
    methods:{
            onSubmit(){
                var postdata = {
                    name:this.name,
                    address:this.address,
                    mobile_no:this.mobile_no  
            };
            api.post('demo/', postdata)
                .then((response) => {
               
                        this.$router.push('/demolist');
                
              
                    
                })

            }
    }


}
</script>
<style>

</style>