
<template>
    <q-card flat bordered class="my-card q-ma-lg">
    <q-toolbar-title class="text-center text-weight-bold" style="font-size:30px">Employee Details</q-toolbar-title>
      <q-form @submit="onSubmit">
        <div class="q-pa-md">
            <q-stepper
                v-model="step"
                color="primary"
                animated>
                    <q-step
                    :name="1"
                    title="Basic Information"
                    icon="settings"
                    :done="step > 1">
                        <div class="row q-ma-lg">
                        <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">Employee Photo:</q-item-label>
                                <input type="file" @change="previewImage_emp" accept="image/*">

                                <div class="image-preview" v-if="employee_img.length > 0">
                                    <img class="preview" :src="employee_img">
                                </div>
                        </div>
                        </div>
                        <div class="row q-ma-lg">
                            <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">First Name:</q-item-label>
                                <q-input outlined v-model="first_name" style="max-width:280px" @keydown="alphaOnly" :rules="[val => !!val || 'Field is required']"/>
                            </div>
                            <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">Middle Name:</q-item-label>
                                <q-input outlined v-model="middle_name"  style="max-width:280px" @keydown="alphaOnly" :rules="[val => !!val || 'Field is required']"/>
                            </div>
                            <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">Last Name:</q-item-label>
                                <q-input outlined v-model="last_name"  style="max-width:280px" @keydown="alphaOnly" :rules="[val => !!val || 'Field is required']"/>
                            </div>
                        </div>
                        <div class="row q-ma-lg">
                            <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">Maiden First Name:</q-item-label>
                                <q-input outlined v-model="maiden_first_name"  style="max-width:280px" @keydown="alphaOnly"/>
                            </div>
                            <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">Maiden Middle Name:</q-item-label>
                                <q-input outlined v-model="maiden_middle_name"  style="max-width:280px" @keydown="alphaOnly"/>
                            </div>
                            <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">Maiden Last Name:</q-item-label>
                                <q-input outlined v-model="maiden_last_name"  style="max-width:280px" @keydown="alphaOnly"/>
                            </div>
                        </div>
                        <div class="row q-ma-lg">
                            <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">Designation:</q-item-label>
                                <q-select 
                                outlined 
                                v-model="designation" 
                                :options="designation_list" 
                                option-value="designation_id"
                                option-label="designation"
                                emit-value 
                                map-options 
                                style="max-width:280px"
                                :rules="[val => !!val || 'Field is required']">
                                </q-select>
                            </div>
                             <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">Department:</q-item-label>
                                <q-select 
                                outlined 
                                v-model="department" 
                                :options="department_list"                               
                                option-value="department_id"
                                option-label="department_name"
                                emit-value 
                                map-options 
                                style="max-width:280px"
                                :rules="[val => !!val || 'Field is required']">
                                </q-select>
                            </div>
                            <div class="col-md-4">
                                    <q-item-label class="q-mb-lg" style="font-weight:bold">Date Of Birth:</q-item-label>
                                    <q-input outlined v-model="dob" style="max-width:280px" :rules="[val => !!val || 'Field is required']">
                                        <template v-slot:append>
                                            <q-icon name="event" class="cursor-pointer">
                                            <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                                                <q-date v-model="dob"  mask="YYYY-MM-DD"/>
                                            </q-popup-proxy>
                                            </q-icon>
                                        </template>
                                    </q-input>
                            </div>
                        </div>
                        <div class="row q-ma-lg">
                            <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">Permanant Address:</q-item-label>
                                <q-input outlined v-model="permanant_address" type="textarea" style="max-width:280px"  :rules="[val => !!val || 'Field is required']"/>
                            </div>
                            <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">Corresponding Address:</q-item-label>
                                <q-input outlined v-model="corresponding_address" type="textarea" style="max-width:280px"  :rules="[val => !!val || 'Field is required']"/>
                            </div>
                            <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">Blood Group:</q-item-label>
                                <q-select 
                                    outlined 
                                    v-model="blood_group" 
                                    :options="optionsblood_sugar"                                   
                                    emit-value 
                                    map-options 
                                    style="max-width:280px"
                                    :rules="[val => !!val || 'Field is required']">
                                    </q-select>
                            </div>
                        </div>
                        <div class="row q-ma-lg">
                            <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">Phone No.:</q-item-label>
                                <q-input outlined v-model="phone_no"  style="max-width:280px" :rules="[val => !!val || 'Field is required']"/>
                            </div>  
                            <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">Mobile No.(WAP):</q-item-label>
                                <q-input outlined v-model="wap_mobile_no"  style="max-width:280px" />
                            </div> 
                            <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">Emergency Contact No.:</q-item-label>
                                <q-input outlined v-model="emergency_contact_no"  style="max-width:280px" :rules="[val => !!val || 'Field is required']"/>
                            </div> 
                              
                        </div>
                        <div class="row q-ma-lg">
                            <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">PAN No.:</q-item-label>
                                <q-input outlined v-model="emp_pan_no"  style="max-width:280px" :rules="[val => !!val || 'Field is required']"/>
                            </div> 
                            
                            <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">Email ID:</q-item-label>
                                <q-input outlined v-model="emp_email"  style="max-width:280px" :rules="[val => !!val || 'Field is required']"/>
                            </div>  
                            <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">Nominee Name:</q-item-label>
                                <q-input outlined v-model="nominee_name"  style="max-width:280px" @keydown="alphaOnly" :rules="[val => !!val || 'Field is required']"/>
                            </div>   
                        </div>
                        <div class="row q-ma-lg">
                            <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">Marrital Status:</q-item-label>
                                <q-select 
                                    outlined 
                                    v-model="marrital_status" 
                                    :options="optionsmarrital_status"                                    
                                    emit-value 
                                    map-options 
                                    style="max-width:280px"
                                    :rules="[val => !!val || 'Field is required']">
                                    </q-select>
                            </div>
                            <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">No. Of Childrens:</q-item-label>
                                <q-input outlined v-model="no_of_childrens" style="max-width:280px" :rules="[val => !!val || 'Field is required']"/>
                            </div>
                            <div class="col-md-3">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">Physically Handicaped:</q-item-label>
                                <q-checkbox v-model="physically_handicaped" size="70px" val="70px" true-value="True" false-value="False"/>
                            </div>
                        </div>
                        <div class="row q-ma-lg">
                            <div class="col-md-4" v-if="physically_handicaped === 'True'">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">Handicap Details:</q-item-label>
                                <q-input outlined type="textarea" v-model="handicap_details_if_yes" style="max-width:280px"/>
                            </div>
                            <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">Religion:</q-item-label>
                                <q-select 
                                outlined 
                                v-model="religion" 
                                :options="religion_list"                               
                                option-value="religion_id"
                                option-label="religion_name"
                                emit-value 
                                map-options 
                                @input="call_caste_data(religion)"
                                style="max-width:280px"
                                :rules="[val => !!val || 'Field is required']">
                                </q-select>
                            </div>
                            <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">Caste:</q-item-label>
                                <q-select 
                                outlined 
                                v-model="caste_community" 
                                :options="caste_list"                               
                                option-value="caste_id"
                                option-label="caste_name"
                                emit-value 
                                map-options 
                                style="max-width:280px"
                                :rules="[val => !!val || 'Field is required']">
                                </q-select>
                            </div>
                        </div>
                        <div class="row q-ma-lg">
                            <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">Personal Mark Of Identification:</q-item-label>
                                <q-input outlined v-model="personal_mark_of_identification"  style="max-width:280px" @keydown="alphaOnly" :rules="[val => !!val || 'Field is required']"/>
                            </div>   
                            <div class="col-md-4">
                                    <q-item-label class="q-mb-lg" style="font-weight:bold">Date Of Joining:</q-item-label>
                                    <q-input outlined v-model="date_of_joining" style="max-width:280px" :rules="[val => !!val || 'Field is required']">
                                        <template v-slot:append>
                                            <q-icon name="event" class="cursor-pointer">
                                            <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                                                <q-date v-model="date_of_joining"  mask="YYYY-MM-DD"/>
                                            </q-popup-proxy>
                                            </q-icon>
                                        </template>
                                    </q-input>
                            </div>
                            <div class="col-md-4">
                                    <q-item-label class="q-mb-lg" style="font-weight:bold">Date Of Probation:</q-item-label>
                                    <q-input outlined v-model="date_of_probation" style="max-width:280px">
                                        <template v-slot:append>
                                            <q-icon name="event" class="cursor-pointer">
                                            <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                                                <q-date v-model="date_of_probation"  mask="YYYY-MM-DD"/>
                                            </q-popup-proxy>
                                            </q-icon>
                                        </template>
                                    </q-input>
                            </div>
                        </div>
                        <div class="row q-ma-lg">
                            <div class="col-md-4">
                                    <q-item-label class="q-mb-lg" style="font-weight:bold">Date Of Confirmation:</q-item-label>
                                    <q-input outlined v-model="date_of_confirmation" style="max-width:280px">
                                        <template v-slot:append>
                                            <q-icon name="event" class="cursor-pointer">
                                            <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                                                <q-date v-model="date_of_confirmation"  mask="YYYY-MM-DD"/>
                                            </q-popup-proxy>
                                            </q-icon>
                                        </template>
                                    </q-input>
                            </div>
                        </div>
                        <q-item-label class="q-mb-lg" style="font-weight:bold">Bank Account Details</q-item-label>
                        <div class="row q-ma-lg">
                            <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">Account No.:</q-item-label>
                                <q-input outlined v-model="account_no"  style="max-width:280px" :rules="[val => !!val || 'Field is required']"/>
                            </div>  
                            <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">Account Type:</q-item-label>
                                <q-select 
                                    outlined 
                                    v-model="account_type" 
                                    :options="optionsaccount_type"                                   
                                    emit-value 
                                    map-options 
                                    style="max-width:280px"
                                    :rules="[val => !!val || 'Field is required']">
                                </q-select>
                            </div>
                            <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">Bank Name:</q-item-label>
                                <q-input outlined v-model="bank_name"  style="max-width:280px" @keydown="alphaOnly" :rules="[val => !!val || 'Field is required']"/>
                            </div>   
                        </div>
                        <div class="row q-ma-lg">
                            <div class="col-md-4">
                                <q-item-label class="q-mb-lg" style="font-weight:bold">City:</q-item-label>
                                <q-select 
                                outlined 
                                v-model="bank_city" 
                                :options="city_list"                               
                                option-value="city_id"
                                option-label="city_name"
                                emit-value 
                                map-options 
                                style="max-width:280px"
                                :rules="[val => !!val || 'Field is required']">
                                </q-select>
                            </div>
                        </div>
                        <q-item-label class="q-mb-lg" style="font-weight:bold">Date of discontinuance of service due to</q-item-label>
                        <div class="row q-ma-lg">
                            <div class="col-md-4">
                                    <q-item-label class="q-mb-lg" style="font-weight:bold">Retirement Date:</q-item-label>
                                    <q-input outlined v-model="retirement_date" style="max-width:280px" :rules="[val => !!val || 'Field is required']">
                                        <template v-slot:append>
                                            <q-icon name="event" class="cursor-pointer">
                                            <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                                                <q-date v-model="retirement_date"  mask="YYYY-MM-DD"/>
                                            </q-popup-proxy>
                                            </q-icon>
                                        </template>
                                    </q-input>
                            </div>
                            <div class="col-md-4">
                                    <q-item-label class="q-mb-lg" style="font-weight:bold">Resignation Date:</q-item-label>
                                    <q-input outlined v-model="resignation_date" style="max-width:280px" :rules="[val => !!val || 'Field is required']">
                                        <template v-slot:append>
                                            <q-icon name="event" class="cursor-pointer">
                                            <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                                                <q-date v-model="resignation_date"  mask="YYYY-MM-DD"/>
                                            </q-popup-proxy>
                                            </q-icon>
                                        </template>
                                    </q-input>
                            </div>
                              <div class="col-md-4">
                                    <q-item-label class="q-mb-lg" style="font-weight:bold">Death:</q-item-label>
                                    <q-input outlined v-model="death" style="max-width:280px" :rules="[val => !!val || 'Field is required']">
                                        <template v-slot:append>
                                            <q-icon name="event" class="cursor-pointer">
                                            <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                                                <q-date v-model="death"  mask="YYYY-MM-DD"/>
                                            </q-popup-proxy>
                                            </q-icon>
                                        </template>
                                    </q-input>
                            </div>
                        </div>
                    <q-stepper-navigation>
                    <q-btn @click="step = 2" color="primary" label="Continue" />
                    </q-stepper-navigation>
                </q-step>

                <q-step
                    :name="2"
                    title="Educational Details"
                    icon="settings"
                    :done="step > 2">
                           <div class="row q-mt-lg">
                                <div class="col-12 col-md-12 col-xs-12">
                                I have done following degrees : 
                                </div><hr>
                            </div>                          
                            <div class="row">
                                <div class="col-md-1 text-center">
                                Sr.
                                </div>
                                <div class="col-md-2 text-center ">
                                Qualification
                                </div>
                                <div class="col-md-3 text-center ">
                                Name Of College
                                </div>
                                <div class="col-md-3 text-center ">
                                Name Of University
                                </div>
                                <div class="col-md-1 text-center ">
                                Year Of Passing
                                </div>
                                <div class="col-md-2 text-center ">
                                Actions
                                </div>
                            </div>

                            <div class="row " v-for="(education, k) in educational_details" :key="'education'+k">
                        
                                <div class="col-md-1 text-center q-pt-lg">
                                {{k+1}}
                                </div>
                                
                                <div class="col-md-2 text-center q-pa-xs">
                                    <q-select 
                                    outlined 
                                    v-model="education.qualification" 
                                    :options="qualification_list"                               
                                    option-value="qualification_id"
                                    option-label="qualification_name"
                                    emit-value 
                                    map-options 
                                    name="qualification[]"
                                    style="max-width:280px"
                                    :rules="[val => !!val || 'Field is required']">
                                    </q-select>
                                                           
                                </div>
                                <div class="col-md-3 text-center q-pa-xs">
                                <q-input lazy-rules name="name_of_college[]"
                                 v-model="education.name_of_college" outlined  />                                
                                </div>
                                 <div class="col-md-3 text-center q-pa-xs">
                                <q-input lazy-rules name="name_of_university[]"
                                 v-model="education.name_of_university" outlined  />                                
                                </div>
                                 <div class="col-md-1 text-center q-pa-xs">
                                <q-input lazy-rules name="year[]"
                                 v-model="education.year" outlined  />                                
                                </div>

                                <div class="col-md-2 text-center q-pt-md">
                                <q-btn color="primary" @click="addNewRow" icon="add" title="Add New"/>
                                <q-btn color="red" @click="deleteRow(k, education)" icon="delete" />
                                
                                </div>

                                </div>
                            <div class="row">
                                <div class="col-12 col-md-12 col-xs-12">
                                <hr/>
                                </div>
                            </div>
                    <q-stepper-navigation>
                        <q-btn @click="step = 3" color="primary" label="Continue" />
                        <q-btn flat @click="step = 1" color="primary" label="Back" class="q-ml-sm" />
                    </q-stepper-navigation>
                 </q-step>

                 <q-step
                    :name="3"
                    title="Experience Details"
                    icon="settings"
                    :done="step > 3">
                        <div class="row q-mt-lg">
                            <div class="col-12 col-md-12 col-xs-12">
                                I have Experience in : 
                                </div><hr>
                            </div>                          
                            <div class="row">
                                <div class="col-md-1 text-center">
                                Sr.
                                </div>
                                <div class="col-md-2 text-center ">
                                Position
                                </div>
                                <div class="col-md-2 text-center ">
                                Name Of Institution
                                </div>
                                <div class="col-md-2 text-center ">
                                From Date
                                </div>
                                <div class="col-md-2 text-center ">
                                To Date
                                </div>
                                <div class="col-md-1 text-center ">
                                Total Experience (In Month)
                                </div>
                                <div class="col-md-2 text-center ">
                                Actions
                                </div>
                            </div>

                            <div class="row " v-for="(experience, k) in experience_details" :key="'experience'+k">
                        
                                <div class="col-md-1 text-center q-pt-lg">
                                {{k+1}}
                                </div>
                                
                                <div class="col-md-2 text-center q-pa-xs">
                                    <q-input lazy-rules name="position[]"
                                    v-model="experience.position" outlined  /> 
                                                           
                                </div>
                                <div class="col-md-2 text-center q-pa-xs">
                                    <q-input lazy-rules name="name_of_institution[]"
                                    v-model="experience.name_of_institution" outlined  />                                
                                </div>
                                <div class="col-md-2 text-center q-pa-xs">
                                    <q-input outlined v-model="experience.from_date" name="from_date[]" :rules="[val => !!val || 'Field is required']">
                                        <template v-slot:append>
                                            <q-icon name="event" class="cursor-pointer">
                                            <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                                                <q-date v-model="experience.from_date"  mask="YYYY-MM-DD"/>
                                            </q-popup-proxy>
                                            </q-icon>
                                        </template>
                                    </q-input>                       
                                </div>
                                <div class="col-md-2 text-center q-pa-xs">
                                    <q-input outlined v-model="experience.to_date" name="to_date[]" :rules="[val => !!val || 'Field is required']">
                                        <template v-slot:append>
                                            <q-icon name="event" class="cursor-pointer">
                                            <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                                                <q-date v-model="experience.to_date"  mask="YYYY-MM-DD"/>
                                            </q-popup-proxy>
                                            </q-icon>
                                        </template>
                                    </q-input>                                 
                                </div>
                                <div class="col-md-1 text-center q-pa-xs">
                                    <q-input lazy-rules name="total_experience_in_year_month[]"
                                    v-model="experience.total_experience_in_year_month" outlined  />                                
                                </div>
                                <div class="col-md-2 text-center q-pt-md">
                                <q-btn color="primary" @click="addNewRowExperience" icon="add" title="Add New"/>
                                <q-btn color="red" @click="deleteRowExperience(k, experience)" icon="delete" />
                                
                                </div>

                                </div>
                            <div class="row">
                                <div class="col-12 col-md-12 col-xs-12">
                                <hr/>
                                </div>
                            </div>
                     <q-stepper-navigation>
                        <q-btn @click="step = 4" color="primary" label="Continue" />
                        <q-btn flat @click="step = 2" color="primary" label="Back" class="q-ml-sm" />
                    </q-stepper-navigation>
                 </q-step>

                 <q-step
                    :name="4"
                    title="Nominee Details"
                    icon="settings"
                    :done="step > 4">
                        <div class="row q-mt-lg">
                            <div class="col-12 col-md-12 col-xs-12">
                                Fund Nominees are : 
                                </div><hr>
                            </div>                          
                            <div class="row">
                                <div class="col-md-1 text-center">
                                Sr.
                                </div>
                                <div class="col-md-2 text-center ">
                                Name Of Nominee
                                </div>
                                <div class="col-md-2 text-center ">
                                Address
                                </div>
                                <div class="col-md-1 text-center ">
                                Date Of Birth
                                </div>
                                <div class="col-md-1 text-center ">
                                Tel. No.
                                </div>
                                <div class="col-md-2 text-center ">
                                Other Contact No.
                                </div>
                                <div class="col-md-1 text-center ">
                                Relationship
                                </div>
                                <div class="col-md-2 text-center ">
                                Actions
                                </div>
                            </div>

                            <div class="row " v-for="(nominee, k) in nominee_details" :key="'nominee'+k">
                        
                                <div class="col-md-1 text-center q-pt-lg">
                                {{k+1}}
                                </div>
                                
                                <div class="col-md-2 text-center q-pa-xs">
                                    <q-input lazy-rules name="name_of_nominee[]"
                                    v-model="nominee.name_of_nominee" outlined  /> 
                                                           
                                </div>
                                <div class="col-md-2 text-center q-pa-xs">
                                    <q-input lazy-rules name="address[]"
                                    v-model="nominee.address" outlined  />                                
                                </div>
                                <div class="col-md-1 text-center q-pa-xs">
                                    <q-input outlined v-model="nominee.nominee_dob" name="nominee_dob[]" :rules="[val => !!val || 'Field is required']">
                                        <template v-slot:append>
                                            <q-icon name="event" class="cursor-pointer">
                                            <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                                                <q-date v-model="nominee.nominee_dob"  mask="YYYY-MM-DD"/>
                                            </q-popup-proxy>
                                            </q-icon>
                                        </template>
                                    </q-input>                       
                                </div>
                                <div class="col-md-1 text-center q-pa-xs">
                                    <q-input lazy-rules name="tel_no[]"
                                    v-model="nominee.tel_no" outlined  />                          
                                </div>
                                <div class="col-md-2 text-center q-pa-xs">
                                    <q-input lazy-rules name="other_contact_no[]"
                                    v-model="nominee.other_contact_no" outlined  />                                
                                </div>
                                <div class="col-md-1 text-center q-pa-xs">
                                    <q-input lazy-rules name="relationship[]"
                                    v-model="nominee.relationship" outlined  />                                
                                </div>
                                <div class="col-md-2 text-center q-pt-md">
                                <q-btn color="primary" @click="addNewRowNominee" icon="add" title="Add New"/>
                                <q-btn color="red" @click="deleteRowNominee(k, nominee)" icon="delete" />
                                
                                </div>

                                </div>
                            <div class="row">
                                <div class="col-12 col-md-12 col-xs-12">
                                <hr/>
                                </div>
                            </div>
                     <q-stepper-navigation>
                        <q-btn @click="step = 5" color="primary" label="Continue" />
                        <q-btn flat @click="step = 3" color="primary" label="Back" class="q-ml-sm" />
                    </q-stepper-navigation>
                 </q-step>
                 <q-step
                    :name="5"
                    title="Leave Details"
                    icon="settings"
                    :done="step > 5">
                        <div class="row q-mt-lg">
                            <div class="col-12 col-md-12 col-xs-12">
                                Leave Account: 
                                </div><hr>
                            </div>                          
                            <div class="row">
                                <div class="col-md-1 text-center">
                                Sr.
                                </div>
                                <div class="col-md-3 text-center ">
                                Leave Type
                                </div>
                                <div class="col-md-3 text-center ">
                                Leaves Taken
                                </div>
                                <div class="col-md-1 text-center ">
                                Opening
                                </div>
                                <div class="col-md-1 text-center ">
                                Enjoyed.
                                </div>
                                <div class="col-md-1 text-center ">
                                Balanced
                                </div>
                               
                                <div class="col-md-2 text-center ">
                                Actions
                                </div>
                            </div>

                            <div class="row " v-for="(leave, k) in leave_details" :key="'leave'+k">
                        
                                <div class="col-md-1 text-center q-pt-lg">
                                {{k+1}}
                                </div>
                                
                                <div class="col-md-3 text-center q-pa-xs">
                                   <q-select 
                                    outlined 
                                    v-model="leave.leave_type" 
                                    :options="leaves_list"                               
                                    option-value="leave_id"
                                    option-label="leave_type"
                                    emit-value 
                                    map-options 
                                    name="leave_type[]"
                                    style="max-width:280px"
                                    :rules="[val => !!val || 'Field is required']">
                                    </q-select>
                                                           
                                </div>
                                <div class="col-md-3 text-center q-pa-xs">
                                    <q-input lazy-rules name="taken_leaves[]"
                                    v-model="leave.taken_leaves" outlined  />                                
                                </div>
                                <div class="col-md-1 text-center q-pa-xs">
                                    <q-input lazy-rules name="opening[]"
                                    v-model="leave.opening" outlined  />                  
                                </div>
                                <div class="col-md-1 text-center q-pa-xs">
                                    <q-input lazy-rules name="enjoyed[]"
                                    v-model="leave.enjoyed" outlined  />                          
                                </div>
                                <div class="col-md-1 text-center q-pa-xs">
                                    <q-input lazy-rules name="balanced[]"
                                    v-model="leave.balanced" outlined  />                                
                                </div>
                             
                                <div class="col-md-2 text-center q-pt-md">
                                <q-btn color="primary" @click="addNewRowLeave" icon="add" title="Add New"/>
                                <q-btn color="red" @click="deleteRowLeave(k, leave)" icon="delete" />
                                
                                </div>

                                </div>
                            <div class="row">
                                <div class="col-12 col-md-12 col-xs-12">
                                <hr/>
                                </div>
                            </div>
                     <q-stepper-navigation>
                        <q-btn flat @click="step = 4" color="primary" label="Back" class="q-ml-sm" />
                    </q-stepper-navigation>
                 </q-step>
            </q-stepper>
            <div align="center">
                <q-btn  color="primary" label="Submit" type="submit" />      
           </div>
        </div>
      </q-form>
    </q-card>
</template>
<script>
export default {
    data(){
        return{
             step:1,
             employee_img:'',
             first_name:'',
             middle_name:'',
             last_name:'',
             maiden_first_name:'',
             maiden_middle_name:'',
             maiden_last_name:'',
             designation:'',
             designation_list:[],
             department:'',
             department_list:[],
             permanant_address:'',
             corresponding_address:'',
             dob:'',
             blood_group:'',
             phone_no:'',
             wap_mobile_no:'',   
             nominee_name:'',
             emp_pan_no:'',
             emergency_contact_no:'',
             emp_email:'',
             marrital_status:'',
             no_of_childrens:'',
             physically_handicaped:'False',
             handicap_details_if_yes:'',
             religion:'',
             religion_list:[],
             caste_community:'',
             caste_list:[],
             personal_mark_of_identification:'',
             date_of_joining:'',
             date_of_probation:'',
             date_of_confirmation:'',
             account_no:'',
             account_type:'',
             bank_name:'',
             bank_city:'',
             city_list:[],
             retirement_date:'',
             resignation_date:'',
             death:'',
            
            educational_details: [{
                qualification: '',
                name_of_college: '',
                name_of_university:'',
                year:'',
            }
            ],
            qualification_list:[],

            experience_details: [{
                position: '',
                name_of_institution: '',
                from_date:'',
                to_date:'',
                total_experience_in_year_month:'',
            }
            ],

            nominee_details: [{
                name_of_nominee: '',
                address: '',
                nominee_dob:'',
                tel_no:'',
                other_contact_no:'',
                relationship:'',
            }
            ],

            leave_details: [{
                leave_type: '',
                taken_leaves: '',
                opening:'',
                enjoyed:'',
                balanced:'',
            }
            ],
            leaves_list:[],
            optionsblood_sugar:[
                "A+",
                "A-",
                "B+",
                "B-",
                "AB+",
                "AB-",
                "O+",
                "O-",
                "Not known",
            ],
            optionsmarrital_status:[
                "Unmarried",
                "Married"
            ],
            optionsaccount_type:[
                "Savings",
                "Fixed",
                "Current"
            ],
        }
    },
    mounted(){
              this.$axios.get('get-designation')
               .then((response) => {
               //console.log(response)
               this.designation_list = response.data;         
               }),

               this.$axios.get('get-department')
               .then((response) => {
               //console.log(response)
               this.department_list = response.data;         
               })

               this.$axios.get('get-religion')
               .then((response) => {
               //console.log(response)
               this.religion_list = response.data;         
               })

               this.$axios.get('get-city')
               .then((response) => {
               console.log(response)
               this.city_list = response.data;         
               })

               this.$axios.get('get-qualification')
               .then((response) => {
               console.log(response)
               this.qualification_list = response.data;         
               })

                this.$axios.get('get-leavedetails')
               .then((response) => {
               console.log(response)
               this.leaves_list = response.data;         
               })

    },
    methods:{
        previewImage_emp: function(event) {
            // Reference to the DOM input element
            var input = event.target;
            // Ensure that you have a file before attempting to read it
            if (input.files && input.files[0]) {
                // create a new FileReader to read this image and convert to base64 format
                var reader = new FileReader();
                // Define a callback function to run, when FileReader finishes its job
                reader.onload = (e) => {
                    // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
                    // Read image as base64 and set to imageData
                    this.employee_img = e.target.result;
                }
                // Start the reader job - read file as a data url (base64 format)
                reader.readAsDataURL(input.files[0]);
            }
        },
        alphaOnly(event) {
              let allowedKeys = [8, 9, 37, 39, 46]
              let key = event.keyCode;
              if ((key <= 64 || key >= 90) && !allowedKeys.includes(key)) {
                event.preventDefault()
              }
        },
        call_caste_data(religion){
            console.log(religion)
            this.$axios.get('get-caste?religion_id='+this.religion)
                .then((response) => {
                  console.log(response)
                  this.caste_list = response.data;         
                })
        },

        deleteRow(index, education) {
            var idx = this.educational_details.indexOf(education);
            console.log(idx, index);
            if (idx > -1) {
                this.educational_details.splice(idx, 1);
            }
           
        },

        addNewRow() {
            this.educational_details.push({
                qualification: '',
                name_of_college:'',
                name_of_university:'',
                year:'',
            });
        },

        deleteRowExperience(index, experience) {
            var idx = this.experience_details.indexOf(experience);
            console.log(idx, index);
            if (idx > -1) {
                this.experience_details.splice(idx, 1);
            }
           
        },

        addNewRowExperience() {
            this.experience_details.push({
                position: '',
                name_of_institution:'',
                from_date:'',
                to_date:'',
                total_experience_in_year_month:'',
               
            });
        },

        deleteRowNominee(index, nominee) {
            var idx = this.nominee_details.indexOf(nominee);
            console.log(idx, index);
            if (idx > -1) {
                this.nominee_details.splice(idx, 1);
            }
           
        },

        addNewRowNominee() {
            this.nominee_details.push({
                name_of_nominee: '',
                address:'',
                nominee_dob:'',
                tel_no:'',
                other_contact_no:'',
                relationship:'',
               
            });
        },

        deleteRowLeave(index, leave) {
            var idx = this.leave_details.indexOf(leave);
            console.log(idx, index);
            if (idx > -1) {
                this.leave_details.splice(idx, 1);
            }
           
        },

        addNewRowLeave() {
            this.leave_details.push({
                leave_type: '',
                taken_leaves:'',
                opening:'',
                enjoyed:'',
                balanced:'',             
               
            });
        },
        onSubmit(){
            console.log('submit');
            var postdata = {
                emp_photo:this.employee_img,
                first_name:this.first_name,
                middle_name:this.middle_name,
                last_name:this.last_name,
                maiden_first_name:this.maiden_first_name,
                maiden_middle_name:this.maiden_middle_name,
                maiden_last_name:this.maiden_last_name,
                designation:this.designation,
                department:this.department,
                permanant_address:this.permanant_address,
                corresponding_address:this.corresponding_address,
                dob:this.dob,
                blood_group:this.blood_group,
                phone_no:this.phone_no,
                wap_mobile_no:this.wap_mobile_no,
                nominee_name:this.nominee_name,
                emp_pan_no:this.emp_pan_no,
                emergency_contact_no:this.emergency_contact_no,
                emp_email:this.emp_email,
                marrital_status:this.marrital_status,
                no_of_childrens:this.no_of_childrens,
                physically_handicaped:this.physically_handicaped,
                handicap_details_if_yes:this.handicap_details_if_yes,
                religion:this.religion,
                caste_community:this.caste_community,
                personal_mark_of_identification:this.personal_mark_of_identification,
                date_of_joining:this.date_of_joining,
                date_of_probation:this.date_of_probation,
                date_of_confirmation:this.date_of_confirmation,
                account_no:this.account_no,
                account_type:this.account_type,
                bank_name:this.bank_name,
                bank_city:this.bank_city,
                retirement_date:this.retirement_date,
                resignation_date:this.resignation_date,
                death:this.death,
                education:this.educational_details,
                experience:this.experience_details,
                nominees:this.nominee_details,
                leaves:this.leave_details,
            };
             this.$axios.post('servicebooklist', postdata)
                .then((response) => {
                    console.log(response);
                    console.log(response.config.data, '****----');
                    console.log(response.status);
                    
                })

        },
    }
}
</script>
<style>
img.preview {
    width: 200px;
    background-color: white;
    border: 1px solid #DDD;
    padding: 5px;
}
</style>