<template>
  <q-card class="my-card">
       <q-card-section>
    <div class="q-pa-md">
       <center>Franchise Register</center>
        <q-separator spaced inset /> 
        <div class="row q-mt-md"  style="text-align:justify">
        <div class="col">

  <span class="question">How do I create my profile online?</span>
        <p>Creating a profile on JeevanMeet is free. Go to home page on www.JeevanMeet.com 
           and select the option Register in Menu Bar. Fill the Registration From
           (Quick or Detail). We recommend Detail Registration. Contact details i.e.
           E-mail id and mobile number are mandatory. 
           Once you complete the registration form the profile is screened and made 
           available to be viewed by other members within 24 hrs.</p>
     </div>
    
     <div class="col-md-12 col-sm-12">
        <span class="question">What is profile validation?</span>
        <p>All the profiles are validated before inclusion in the database.
           Our support team meticulously validates each and every profile carefully on 
           specific criterion before it is added to our database.</p>
     </div>
     
     <div class="col-md-12 col-sm-12">
        <span class="question">On what criteria is a profile validated?</span>
        <p>Almost every word counts. We categorically ignore profiles that are submitted by
           underage persons, and profiles that contain abusive content. We reject profiles 
           that contain invalid data such as added for fun/looking for friendship/not related
           to marriage. We try and maintain the highest quality in the database we serve to 
           ensure only members who are serious about marriage make use of the service.
         </p>
     </div>
     
     <div class="col-md-12 col-sm-12">
        <span class="question">Are there any specific DO's and DON'T's while creating a matrimonial profile? </span>
        <p>DO's start with a simple rule - "Be Honest". Fill all your details accurately. Just the way you would shortlist other profile basis the criteria that they have filled. They would be doing the same. Also it is advisable to add as much details as possible in the profile to facilitate your search process.
           DONT write any content that is vulgar, pornographic or racist. 
           Also please don't put your contact details in the "About Me" section. 
           Lastly please ensure you put a valid email id and phone number as that's 
           the only way other members will contact you.
        </p>
     </div>
     
     
     <div class="col-md-12 col-sm-12">
        <span class="question">How do I change / edit my profile? </span>
        <p>The profile post creation can be edited by going to My Profile on Menu Bar. 
            Once you login, go to My Profile and click on the edit option next to the 
            information you wish to change. However any changes are again screened and are 
            visible within 24 hrs.</p>
     </div>
     
     <div class="col-md-12 col-sm-12">
        <span class="question">Can I change all the information on my profile? </span>
        <p>Except certain basic details like Email, Gender and Username all the rest of the 
           information can be changed. If you wish to change these fields then the same 
           can be done by our servicing team.
        </p>
     </div>
     
     <div class="col-md-12 col-sm-12">
        <span class="question">How do I delete my profile ?</span>
        <p>We hope that you want to delete your profile because you have found your soul-mate.
           If you are angry with us because you had a bad experience with a member, 
           then let us know. Incase you are annoyed because we call you/email to you very
           often, then you can switch of these services from the control panel.
           To delete the profile post login go to Related Information option under My Profile
           Option on Menu Bar. Click on the 'Delete my profile' button </p>
     </div>
     
     <div class="col-md-12 col-sm-12">
        <span class="question">How can I opt for a customized Profile id? </span>
        <p>There is no option to opt for a personalized Profile Id. 
           Profile id is system generated and is assigned automatically.
           Once generated it cannot be changed.</p>
     </div>    
        </div>
        </div>
    
       </q-card-section>
       
  </q-card>
</template>

<script>
export default {

}
</script>

<style>

</style>