<template>
   <q-form @submit="onFeedback">
    <q-card class="my-card">
       <q-card-section>
    <div class="q-pa-md">
                        <div class="row q-mt-md">
                             <div class="col">
                                  
                                <q-input outlined label="Feedback Name*" v-model="feedback_name " :rules="[val => !!val || 'Field is required']"/>

                            </div>
                        </div>


    <div class="row q-mt-md">
                             <div class="col">
                                  
                                <q-input outlined label="Email Address*" v-model="email" :rules="[val => !!val || 'Field is required']"/>

                            </div>
                        </div>

      <div class="row q-mt-md">
                             <div class="col">
                                <q-input label="Mobile No" 
                                type="number" 
                                outlined 
                                v-model.number="mobile" 
                                :rules="[val => !!val || 'Field is required']"/>

                            </div>
                        </div>

      <div class="row q-mt-md">
                             <div class="col">
                                  
                                <q-input outlined label="Address*" v-model="address" :rules="[val => !!val || 'Field is required']"/>

                            </div>
                        </div>

      <div class="row q-mt-md">
                             <div class="col">
                                  
                                <q-input outlined label="Subject*" v-model="subject" :rules="[val => !!val || 'Field is required']"/>

                            </div>
                        </div>

      <div class="row q-mt-md">
                             <div class="col">
                                  
                                <q-input outlined label="Suggestions*" v-model="suggestions" :rules="[val => !!val || 'Field is required']"/>

                            </div>
                        </div>

<div class="row">

    <div class="col-6">
        <div align="center">
        <q-btn  color="primary" label="Submit" type="submit" />      
        </div>                
    </div>


<div class="col-6">
         <q-btn color="primary"  @click="getreset()" label="reset"  type="submit"/>      
</div> 
                            
</div>
<!-- 
 <div class="row q-mt-md">
                             <div class="col">
         <q-separator spaced inset />
                            <div align="center">
                                <q-btn  color="primary" label="Submit" type="submit" />      
                            </div> 
                             </div>
 </div>   -->
           

    
    </div>
       </q-card-section>
    </q-card>
   </q-form>
</template>

<script>
import { api } from 'boot/axios';
import { LocalStorage, useQuasar } from 'quasar'
export default {

data(){
        return{
            feedback_name:'',
            email:'',
            address:'',
            mobile:'',
            subject:'',
            suggestions:'',

        }
    },
    methods:{
            onFeedback(){
                var postdata = {
                    feedback_name:this.feedback_name,
                    email:this.email,
                    address:this.address,
                    mobile:this.mobile ,
                    subject:this.subject,
                    suggestions:this.suggestions, 
            };
            api.post('feedback/', postdata)
                .then((response) => {

                this.$q.notify({
                                  type: 'positive',
                                  message: 'Your feedback submited',
                                  position: 'bottom',
                                });
                //this.$router.push('/dashboard');
                
              
                    
                });

     },
     getreset(){
        this.feedback_name;
        this.email;
        this.address;
        this.mobile ;
        this.subject;
        this.suggestions;
      },
    },
    setup(){
    const $q = useQuasar()

    const value = $q.localStorage.getItem('token')
    console.log('******************');
    console.log(value);
     
  }


}
</script>
<style>

</style>