<template>
   <q-form @submit="onSubmit">
    <q-card class="my-card">
       <q-card-section>
    <div class="q-pa-md">
       <center>Franchise Register</center>
        <q-separator spaced inset /> 



        <div class="row q-mt-md">
        <div class="col">

          <q-input v-model="email" filled type="email" hint="Email" />  
        </div>
         </div>
        <!--<div class="row q-mt-md">
        <div class="col">
                                  
         <q-input square clearable v-model="password" type="password" label="Password">
                <template v-slot:prepend>
                  <q-icon name="lock" />
                </template>
              </q-input>
        </div>
        </div>

         <div class="row q-mt-md">
        <div class="col">
               <q-input label="Password" v-model="repassword"  :type="isPwd ? 'password' : 'text'">
                      <template v-slot:append>
                        <q-icon
                          :name="isPwd ? 'visibility_off' : 'visibility'"
                          class="cursor-pointer"
                          @click="isPwd = !isPwd"
                        />
                      </template>
        </q-input>

        </div>
         </div> -->

    </div>
    </q-card-section>
    </q-card>

    <q-card class="my-card">
    <q-card-section>
    <div class="q-pa-md">
       <center>Franchise Information</center>
        <q-separator spaced inset /> 
       <div class="row q-mt-md">
        <div class="col">
                                  
        <q-input outlined label="Franchies Name*" v-model="franchise_name" :rules="[val => !!val || 'Field is required']"/>

        </div>
        </div>
    <div class="row q-mt-md">
        <div class="col">
                                  
        <q-input outlined label="Owner Name*" v-model="owner_name" :rules="[val => !!val || 'Field is required']"/>

        </div>
    </div>

    <div class="row q-mt-md">
      <div class="col">
      <q-input  
      label="Mobile Number*" 
      type="number" 
      outlined 
      v-model.number="mobile_number" />
      </div>
      </div>

      <div class="row q-mt-md">
      <div class="col">
      <q-input  
      label="Mobile Number2*" 
      type="number" 
      outlined 
      v-model.number="mobile_number2" />
      </div>
      </div>



    </div>
    </q-card-section>
    </q-card>
            
       


    <q-card class="my-card">
       <q-card-section>
    <div class="q-pa-md">
        <h9><center>Address Details</center></h9>
        <q-separator spaced inset />  

           <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="country"
                outlined
                label="Living Country* "
                :options="optcountry"
                option-value="country_id"
                option-label="country_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>             
        <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="state"
                outlined
                label="State* "
                :options="optstate"
                option-value="state_id"
                option-label="state_name"
                map-options
                emit-value
                fill-input
               
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>


          <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="district"
                outlined
                label="District* "
                :options="optdist"
                option-value="district_id"
                option-label="district_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>

        
          <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="city"
                outlined
                label="City* "
                :options="optcity"
                option-value="city_id"
                option-label="city_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>

        <div class="row q-mt-md">
         <div class="col">
            <q-input outlined 
            label="Current Address"
            type="textarea"
            v-model="current_address" 
            :rules="[val => !!val || 'Field is required']"/>
        </div>
        </div>

    </div>
       </q-card-section>
    </q-card>

         


<q-card class="my-card">
       <q-card-section>
    <div class="q-pa-md">
      <h9><center>Photo Upload</center></h9>
      <q-separator spaced inset />
       <p><span class="err_spn">*</span> Select image from size 20 KB to 80 KB (Only JPG, JPEG, PNG and GIF image file types are allowed)</p>
                            <hr>

    <div class="row q-mt-md">
    <div class="col">
        <div class="col-5 bg-primary container text-center" style="font-size: 16px;" @change="previewImage_user5">
           <input type="file" accept="image/*">
            <q-item-label class="text-white">Adhaar Card Photo<br/> </q-item-label><br/>
  </div>
        </div>
    </div>
 
    </div>
   </q-card-section>
</q-card>

<q-separator dark />
<q-separator dark />
    <q-separator dark />
    
      <div class="row q-mt-md">
    <div class="col">
         <q-separator spaced inset />
                            <div align="center">
                                <q-btn  color="primary" label="Register" type="submit" />      
                            </div> 
                             </div>
 </div>   
   </q-form>
</template>

<script>
import { api } from 'boot/axios';
export default {

data(){
        return{
            images:'',
            email:'',
            //password:'',
            //isPwd: true,
           // repassword:'',
            franchise_name:'',
            owner_name:'',
            mobile_number:'',
            mobile_number2:'',
            country:'',
            optcountry:[],
            state:'',
            optstate:[],
            district:'',
            optdist:[],
            city:'',
            optcity:[],
            current_address:'',
            
        }
    },
    mounted()
    {
                 api.get('country/')
                 .then((response) => {
                   console.log(response)
                   this.optcountry=response.data                  
              })
                api.get('state/')
                 .then((response) => {
                   console.log(response)
                   this.optstate=response.data                  
              })
                api.get('district/')
                 .then((response) => {
                   console.log(response)
                   this.optdist=response.data                  
              })
                api.get('city/')
                 .then((response) => {
                   console.log(response)
                   this.optcity=response.data                  
              })
                 
     },
    
 methods:{
     onSubmit(){
            console.log('submit');
            var postdata = {
                email:this.email,
                //password:this.password,
                //repassword:this.repassword,
                franchise_name:this.franchise_name,
                owner_name:this.owner_name,
                mobile_number:this.mobile_number,
                mobile_number2:this.mobile_number2,
                country:this.country,
                state:this.state,
                district:this.district,
                city:this.city,
                current_address:this.current_address,
                images:this.images,
                
                
            };
             api.post('franchiesregister/', postdata)
                .then((response) => {
                    console.log(response);
                    console.log(response.config.data, '****----');
                    console.log(response.status);
                   
                    
                })

        },
   
      
     previewImage_user5: function(event) {
        
            var input = event.target;
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = (e) => {
                    this.images = e.target.result;
                }
               
                reader.readAsDataURL(input.files[0]);
            }
        }
        
  },
       
} 
</script>
<style>
img.preview {
    width: 200px;
    background-color: white;
    border: 1px solid #DDD;
    padding: 5px;
}
</style>