<template>

<q-form @submit="onSubmit">
    <div class="row">
    <div class="col-12">
    <q-card class="my-card">
       <q-card-section>
    <div class="q-pa-md">
        <h9><center>Address Details</center></h9>
        <q-separator spaced inset />  

        
        <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="state"
                outlined
                label="State* "
                :options="optstate"
                option-value="state_id"
                option-label="state_name"
                map-options
                emit-value
                fill-input
               
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>


          <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="district"
                outlined
                label="District* "
                :options="optdist"
                option-value="district_id"
                option-label="district_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>

        
          <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="city"
                outlined
                label="City* "
                :options="optcity"
                option-value="city_id"
                option-label="city_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>
    </div>

        
      <div class="row q-mt-md">
    <div class="col">
         <q-separator spaced inset />
                            <div align="center">
                                <q-btn  color="primary" label="Register" type="submit" />      
                            </div> 
                             </div>
    </div>  
    </q-card-section>
    </q-card>
    </div>

           
    <div class="col-12">
        <q-card class="my-card">
       <q-card-section>
      <div class="q-pa-md" v-for="(item, key) in franchies_data" :key="key">
       <q-card flat bordered class="my-card q-ma-lg">
      <div class="q-col-gutter-md row items-start">
      <div class="col-12" text-center>
        <img 
          :src="'http://127.0.0.1:8000/'+item.images" 
          :ratio="1"
          style="width:300px"
        />
      </div>
         </div>
          <div class="col-md-2 text-center q-pt-md">
          <q-btn @click="viewprofile(item.user_id)" color="primary" label="View Details" />
          <!-- <q-btn flat @click="step = 1" color="primary" label="Back" class="q-ml-sm" />
          <q-btn color="red" @click="deleteRowNominee(k, nominee)" icon="delete" /> -->
                                
          </div>
       </q-card>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Email:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.email}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Franchies Name:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.franchise_name}}</q-item-label>
           </div>
         </div>
            <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Owner Name:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.owner_name}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Mobile Number:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.mobile_number}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Mobile Number2:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.mobile_number2}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Email:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.email}}</q-item-label>
           </div>
         </div>

         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >City:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.city}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Current Address:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.current_address}}</q-item-label>
           </div>
         </div>
          
          
         

    
     </div>
       </q-card-section>
    </q-card>
           </div>
       </div>
 
   </q-form>
</template>

<script>
import { api } from 'boot/axios';
import { LocalStorage,useQuasar } from 'quasar'
export default {

data(){
        return{
          franchies_data:[],
          state:'',
          optstate:[],
          district:'',
          optdist:[],
          city:'',
          optcity:[],
          

            
        }
    },
    mounted(){

             api.get('state/')
                 .then((response) => {
                   console.log(response)
                   this.optstate=response.data                  
              })
                api.get('district/')
                 .then((response) => {
                   console.log(response)
                   this.optdist=response.data                  
              })
                api.get('city/')
                 .then((response) => {
                   console.log(response)
                   this.optcity=response.data                  
              })
              api.get('findfranchies/')
               .then((response) => {
               console.log(response)
              this.franchies_data=response.data
               console.log(this.franchies_data)
         
               })
},
methods:{

    onSubmit(){
            console.log('submit');
            var postdata = {
               
                state:this.state,
                district:this.district,
                city:this.city,   
            }
        },     

        viewprofile(user_id)
        {
        console.log(user_id)
        localStorage.setItem("user_id",user_id)

        this.$router.push('/viewprofileb/'+user_id)
        // this.$router.push({ name: 'viewbride', params: { user_id: user_id} })     
        }
    }
}
</script>
<style>
.my-card1{
  width: 100%;
  max-width: 350px;
}
</style>