<template>
  <div class="q-pa-md">
      <div class="row">
    <q-btn label="Redister Data " text-color="primary"  @click="addgrooms()" class="q-mb-md bg-primary text-white" />
    <q-space />
    
    </div>
    <q-list v-for="item in grooms_data" :key="item.grooms_id">
    <!--<q-list v-for="(item, key) in brides_data" :key="key">-->
      <q-item clickable v-ripple>
        <q-item-section>
          <q-item-label>Name - {{item.name}} </q-item-label>
         <q-item-label>Gender -  {{ item.gender }}</q-item-label>
          <q-item-label>Cast -  {{ item.caste }}</q-item-label>
           <q-item-label>Age -  {{ item.age }}</q-item-label>
        </q-item-section>
         <q-item-section>
           <q-btn 
              flat 
              round
              dense
              color="primary" 
              icon="edit"
              @click="EditGrooms(item.grooms_id)"
              />
         </q-item-section>
         <q-item-section>
         <q-btn 
              flat 
              round
              dense
              color="primary" 
              icon="delete"
              @click="DeleteGrooms(item.grooms_id)" />
          </q-item-section>
          <q-item-section>
            <q-btn 
              flat 
              round
              dense
              color="primary" 
              icon="details"
              @click="DetailGrooms(item.grooms_id)" />
          </q-item-section>
      </q-item>
      <q-separator spaced inset />

    </q-list>
    
    
  </div>
</template>

<script>
import { api } from 'boot/axios'
export default {
  setup(){
        return{
        grooms_data:[],
       
    
        }
},
mounted(){
            api.get('grooms/')
               .then((response) => {
               console.log(response)
              this.grooms_data=response.data
               console.log(this.grooms_data)
         
               })


},
methods:{
   EditGrooms(grooms_id){

   },
   DetailGrooms(grooms_id){
       console.log(grooms_id);
          // this.$router.push('/editdemo/'+demo_id)
          this.$router.push({ name: 'detail-grooms', params: { grooms_id: grooms_id} })

   },
   DeleteGrooms(grooms_id)
   {

   },
   addgrooms()
   {
    
   },
 
}
}
</script>

<style>

</style>