<template>
  <div class="q-pa-md" >
    
   
   
       <center>Search By Profile Id</center>
        <q-separator spaced inset />
                        <div class="row q-mt-md">
                             <div class="col">
                                  
                                <!-- <q-input outlined label="ID Serach*" v-model="user_id" :rules="[val => !!val || 'Field is required']"/> -->
                                   <q-input outlined bottom-slots v-model="user_id" label="Search" dense>
        <template v-slot:append>
          <!-- <q-icon v-if="search !== ''" name="close" @click="user_id = ''" class="cursor-pointer" />
          <q-icon name="search" @click="search(user_id)"/> -->
        </template>
    </q-input>
                            </div>
                        </div>
    
    <div class="row q-ma-md">
      <div class="col-12">
            <q-btn class="full-width" label="Search By Profile Id" @click="search(user_id)" type="submit" color="red-14"/> 
      </div>
      </div>
    

<!--startlist-->

<div v-for="(item, key) in iddata" :key="key">
      <q-card flat bordered class="my-card ">
      <div class="q-col-gutter-md row items-start">
      <div class="col-12"  style="order:2">
        <img 
        :src="item.photo1" 
        style="width: 300px"
        :ratio="1"
        basic
        class="rounded-borders "
          
         
        />
      </div>
    
         </div>
           <div class="row q-ma-md">
      <div class="col-12">
            <q-btn class="full-width" label="View Profile" @click="idsearchdetails(item.user_id)" type="submit" color="red-14"/> 
      </div>
      </div>
      </q-card>
          <div class="col-md-2 text-center q-pt-md">
          
                                
          </div>
       
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >ID:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.user_id}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Marital Status:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.marital_status}}</q-item-label>
           </div>
         </div>
     
            <div class="row" text-center>
            <div class="col-6">
            <q-item-label >mt:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.mother_tongue}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Religion:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.religion}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Caste:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.caste}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Subcaste:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.sub_caste}}</q-item-label>
           </div>
         </div>
                     <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Current Address:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.current_address}}</q-item-label>
           </div>
         </div>
          
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Height:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.height}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Qualification:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.qualification}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Occupation:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.occupation}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Annual Income:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.annual_income}}</q-item-label>
           </div>
         </div>
       
                     <div class="row" text-center>
            <div class="col-6">
            <q-item-label >About Myself:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.about_myself}}</q-item-label>
           </div>
         </div>

    

      </div> 
  


  </div>
<!--endlist-->







   


</template>

<script>
import { api } from 'boot/axios';
import { LocalStorage, useQuasar } from 'quasar'
export default {

data(){
        return{
            user_id:'',
            iddata:[],
            
            marital_status:'',
           
            mother_tongue:'',
            
            religion:'',
          
            caste:'',
         
            sub_caste:'',
           
            height:'',
            weight:'',
            blood_group:'',
           
            complexion:'',
            
            body_type:'',
           
            manglik:'',

        
        }
    },
    methods:{
          
           search(user_id){
            console.log(user_id)
            api.get('idsearch/?search='+user_id)
           .then((response) => {
           console.log(response.data.results)
           this.marital_status=response.data.marital_status
            console.log(this.marital_status)
           this.mother_tongue=response.data.mother_tongue

           this.iddata=response.data.results
           })
      },
      idsearchdetails(user_id)
      {
        console.log(user_id)
        localStorage.setItem("user_id",user_id)
        this.$router.push('/viewprofileb/'+user_id)
      }
     

     }
    }
</script>
<style>

</style>