<template>
  <div class="q-pa-md">
               <div class="row justify-evenly">
                <div class="col-5 bg-green container text-center" style="font-size: 16px;" @click="add_caneregistration()">
                  <q-icon color="white" name="add_circle" /><br/>
                  <q-item-label class="text-white">नवीन ऊस नोंद</q-item-label><br/>
                </div>
                <div class="col-5 bg-red container text-center" style="font-size: 16px;" @click="show_caneregistrations()">
                  <q-icon color="white" name="content_copy" /><br/>
                  <q-item-label class="text-white">सर्व ऊस नोंद</q-item-label><br/>
                </div>
              </div><br/>
              <div class="row justify-evenly">
                 <div class="col-5 bg-pink container text-center" style="font-size: 16px;" @click="download_data()">
                  <q-icon color="white" name="cloud_download" /><br/>
                  <q-item-label class="text-white">माहिती डाउनलोड<br/> करा</q-item-label><br/>
                </div>
                <div class="col-5 bg-grey container text-center" style="font-size: 16px;" @click="download_farmerdata()">
                  <q-icon color="white" name="vertical_align_bottom" /><br/>
                  <q-item-label class="text-white">शेतकरी माहिती <br/>डाउनलोड करा</q-item-label><br/>
                </div>

              </div><br/>
              <!-- <div class="row justify-evenly">
                <div class="col-5 bg-orange container text-center" style="font-size: 16px;" @click="upload_data()">
                  <q-icon color="white" name="cloud_upload" /><br/>
                  <q-item-label class="text-white">ऊस नोंदी <br/>अपलोड करा</q-item-label><br/>
                </div>
                <div class="col-5 bg-primary container text-center" style="font-size: 16px;" @click="upload_photos()">
                  <q-icon color="white" name="cloud_upload" /><br/>
                  <q-item-label class="text-white">छायाचित्र <br/>अपलोड करा </q-item-label><br/>
                </div>
              </div><br/> -->
              <div class="row justify-evenly">
                 <div class="col-5 bg-purple container text-center" style="font-size: 16px;" @click="search_farmer()">
                  <q-icon color="white" name="vertical_align_bottom" /><br/>
                  <q-item-label class="text-white">शेतकरी कोड शोधा</q-item-label><br/>
                </div>
                <div class="col-5 bg-info container text-center" style="font-size: 16px;" @click="rujwat()">
                  <q-icon color="white" name="content_copy" /><br/>
                  <q-item-label class="text-white">रुजवात</q-item-label><br/>
                </div>
              </div>
              <br/>
              <div class="row justify-evenly">
                 <div class="col-5 bg-orange container text-center" style="font-size: 16px;" @click="adhar_info()">
                  <q-icon color="white" name="vertical_align_bottom" /><br/>
                  <q-item-label class="text-white">आधार माहिती</q-item-label><br/>
                </div>
                <div class="col-5 bg-green-13 container text-center" style="font-size: 16px;" @click="mobile_info()">
                  <q-icon color="white" name="vertical_align_bottom" /><br/>
                  <q-item-label class="text-white">मोबईल माहिती</q-item-label><br/>
                </div>
              </div> 
   </div>
</template>

<script>
export default {
     data () {
return {
      lorem: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
    }
}
}
</script>

<style>

</style>