<template>


    
    <div class="row q-ma-md">
        <div class="col-12">
            <q-card class="my-card">
            <q-card-section>
            <q-carousel
      animated
      v-model="slide"
      navigation
      infinite
      autoplay
      
      arrows
      transition-prev="slide-right"
      transition-next="slide-left"
      height="300px"
      next-icon="home" 
      prev-icon="home"
      swipeable
      control-color="black" >
      <q-carousel-slide :name="1" img-src="~assets/img1.jpeg" />
      <q-carousel-slide :name="2" img-src="~assets/img2.jpeg" />
      <q-carousel-slide :name="3" img-src="~assets/img3.jpeg" />
      <q-carousel-slide :name="4" img-src="~assets/img1.jpeg" />
    </q-carousel>
            </q-card-section>
            </q-card>
        </div>
      </div>

      <div class="row q-ma-md">
        <div class="col-12">
            <q-card class="my-card">
            <q-card-section>
          
  
    
   
   
       <center>Search By Profile Id</center>
        <q-separator spaced inset />
                        <div class="row q-mt-md">
                             <div class="col">
                                  
                                <!-- <q-input outlined label="ID Serach*" v-model="user_id" :rules="[val => !!val || 'Field is required']"/> -->
                                   <q-input outlined bottom-slots v-model="user_id" label="Search" dense>
        <template v-slot:append>
          <!-- <q-icon v-if="search !== ''" name="close" @click="user_id = ''" class="cursor-pointer" />
          <q-icon name="search" @click="search(user_id)"/> -->
        </template>
    </q-input>
                            </div>
                        </div>
    
    <div class="row q-ma-md">
      <div class="col-12">
            <q-btn class="full-width" label="Search By Profile Id" @click="search(user_id)" type="submit" color="red-14"/> 
      </div>
      </div>
    

<!--startlist-->

<div v-for="(item, key) in iddata" :key="key">
      <q-card flat bordered class="my-card ">
      <div class="q-col-gutter-md row items-start">
      <div class="col-12"  style="order:2">
        <img 
        :src="item.photo1" 
        style="width: 300px"
        :ratio="1"
        basic
        class="rounded-borders "
          
         
        />
      </div>
    
         </div>
           <div class="row q-ma-md">
      <div class="col-12">
            <q-btn class="full-width" label="View Profile" @click="idsearchdetails(item.user_id)" type="submit" color="red-14"/> 
      </div>
      </div>
      </q-card>
          <div class="col-md-2 text-center q-pt-md">
          
                                
          </div>
       
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >ID:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.user_id}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Marital Status:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.marital_status}}</q-item-label>
           </div>
         </div>
     
            <div class="row" text-center>
            <div class="col-6">
            <q-item-label >mt:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.mother_tongue}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Religion:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.religion}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Caste:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.caste}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Subcaste:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.sub_caste}}</q-item-label>
           </div>
         </div>
                     <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Current Address:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.current_address}}</q-item-label>
           </div>
         </div>
          
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Height:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.height}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Qualification:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.qualification}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Occupation:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.occupation}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Annual Income:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.annual_income}}</q-item-label>
           </div>
         </div>
       
                     <div class="row" text-center>
            <div class="col-6">
            <q-item-label >About Myself:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.about_myself}}</q-item-label>
           </div>
         </div>

    

      </div> 
  

            </q-card-section>
            </q-card>
        </div>
      </div>



<!--

<div class="row q-ma-md">
        <div class="col-12">
            <q-card class="my-card">
            <q-card-section>
              
    <div class="q-pa-md row items-start q-gutter-md">
    <q-card class="my-card1 bg-warning  text-white">
      <q-card-section>
        <div class="text-h6">Flat 78% OFF</div>
        <div class="text-subtitle2">Upgrade Your membership plan</div>
      </q-card-section>

      <q-card-section>
        
      </q-card-section>

      <q-separator dark />

      <q-card-actions>
        <q-btn flat>UPGRADE NOW</q-btn>
        
      </q-card-actions>
    </q-card>
    </div>
   </q-card-section>
            </q-card>
        </div>
</div>  

 <div class="row q-ma-md">
        <div class="col-12">
            <q-card class="my-card">
            <q-card-section>
              
            <div class="col-12 col-md">
    <div class="q-pa-md">
    <q-card class="my-card">
      <q-video src="https://www.youtube.com/embed/k3_tw44QsZQ?rel=0" />

      <q-card-section>
        <div class="text-h6">Success Story</div>
        <div class="text-subtitle2"></div>
      </q-card-section>

      <q-card-section class="q-pt-none">
       JeevanMeet is Web based matrimonial service provider serving Indian market from year 2010. Our vision is to make marriage search a easy and effortless process through our franchise network which can help finding life partner and get people married by working as proper mediator.
        The mission of JeevanMeet.com is to give a friendly atmosphere to the parents who are looking for in law for there loved one.
      </q-card-section>
    </q-card>.
  </div>
</div> 


            </q-card-section>
            </q-card>
        </div>
      </div> -->
 <div class="row q-ma-md">
  <div class="col-12">
  <q-card class="my-card">
  <q-card-section>
     <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">

                          <div class="panel">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3 col-xs-3"><i class="fa fa-edit fa-3x"></i></div>
                                    <h5><center><a href="/register">Register Now</a></center></h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-justify">Paid Members to get Additional Contacts of 24 Profiles absolutely Free, Yearly.</div>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3 col-xs-3"><i class="fa fa-search-plus fa-3x"></i></div>
                                        <h5><center><a href="/idsearch">Search</a></center></h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-justify">Find well suited profiles with varied and multiple criteria</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3 col-xs-3"><i class="fa fa-phone fa-3x"></i></div>
                                        <h5><center><a href="/contact">Contact Us</a></center></h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-justify">Get In touch through Email/Phone numbers</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3 col-xs-3"><i class="fa fa-edit fa-3x"></i></div>
                                         <h5><center><a  href="/franchiesregister">Franchise</a></center></h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-justify">Get in touch with your nearest franchise. 
                                        We also need<b> New Franchises</b>, who could help People get Married.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
     </div>
  </q-card-section>
  </q-card>
  </div>
</div>

 <div class="row q-ma-md">
  <div class="col-12">
  <q-card class="my-card">
  <q-card-section>
     <h9><strong><center>Franchies</center></strong></h9>
      <q-separator spaced inset />
       <p class="text-justify">
                                        JeevanMeet.com has a vast Franchise Network and is expanding
                                        consistently. Franchises are located in metros as well as small
                                        towns for the convenience of customers. As the Profiles are uploaded
                                        through Franchise most of the profiles are verified. Franchise owner
                                        gives personal attention and advice regarding marriage proposals.
                                        Pre-Marriage and Post-Marriage counseling facility also available.
                                    </p>
    
  </q-card-section>
  </q-card>
  </div>
</div> 

  <div class="row q-ma-md">
  <div class="col-12">
  <q-card class="my-card">
  <q-card-section>
     <h9><strong><center>About JeevanMeet</center></strong></h9>
      <q-separator spaced inset />
      <p class="text-justify">JeevanMeet is Web based matrimonial service provider 
                            serving Indian market
                            from year 2010. Our vision is to make marriage search a easy and effortless process through our franchise network which can help finding life partner and get people married by working as proper mediator.
                            The mission of JeevanMeet.com is to give a friendly atmosphere to the parents who are looking for in 
                            law for there loved one.
                        </p>
    
  </q-card-section>
  </q-card>
  </div>
</div> 
  <div class="row q-ma-md">
  <div class="col-12">
  <q-card class="my-card">
  <q-card-section>
     <h9><strong><center>Terms of Use</center></strong></h9>
      <q-separator spaced inset />
      
                        <p> 
         <q-item
        to="/termsconditions"
        exact
        clickable>
        <q-item-section avatar>
        <q-icon color="negative" name="gavel"/>
        </q-item-section>
        <q-item-section>
          <q-item-label>Search By Id</q-item-label>
        </q-item-section>
        </q-item>
           <q-item
        to="/policy"
        exact
        clickable>
        <q-item-section avatar>
        <q-icon color="negative" name="policy"/>
        </q-item-section>
        <q-item-section>
          <q-item-label>Privacy Policy</q-item-label>
        </q-item-section>
        </q-item>
      <q-item
        to="/faq"
        exact
        clickable>
        <q-item-section avatar>
        <q-icon color="negative" name="quiz"/>
        </q-item-section>
        <q-item-section>
          <q-item-label>FAQ</q-item-label>
        </q-item-section>
        </q-item>

         <q-item
        to="/feedback"
        exact
        clickable>
        <q-item-section avatar>
        <q-icon color="negative" name="rss_feed"/>
        </q-item-section>
        <q-item-section>
          <q-item-label>Feedback</q-item-label>
        </q-item-section>
        </q-item>
                                
        </p>
         </q-card-section>
  </q-card>
  </div>
</div>

        <div class="row q-ma-md">
  <div class="col-12">
  <q-card class="my-card">
  <q-card-section>
     <h9><strong><center>Social Networking</center></strong></h9>
      <q-separator spaced inset />
      
                        
                        <p>
                           <q-item
        to="/https://www.facebook.com/jeevanmeet"
        exact
        clickable>
        <q-item-section avatar>
        <q-icon color="negative" name="facebook"/>
        </q-item-section>
       
        </q-item> 
       
        
                        </p>

  </q-card-section>
  </q-card>
  </div>
</div> 

<div class="row q-ma-md">
  <div class="col-12">
  <q-card class="my-card">
  <q-card-section>
     <h9><strong><center>Get in Touch</center></strong></h9>
      <q-separator spaced inset />
                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="fa fa-phone fa-fw"></i>
                                <strong>Phone : </strong> <a tel="+919970013272"> (+91) 9970013272</a>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-envelope fa-fw"></i>
                                <strong>Email : </strong><a title="Email" href="mailto:support@jeevanmeet.com">support@jeevanmeet.com</a>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-clock-o fa-fw"></i>
                                <strong>Timing : </strong> 10 AM to 6 PM
                            </li>
                        </ul>
                    

  </q-card-section>
  </q-card>
  </div>
</div> 

           
</template>


<script>
import { defineComponent } from 'vue';
import { LocalStorage, useQuasar } from 'quasar'

export default defineComponent({  
 name: 'PageIndex',
 
  data(){
    const $q = useQuasar()
    const value = $q.localStorage.getItem('token')
    console.log('******************');
    console.log(value);
        return{
        slide:'1',
        user_id:'',
            iddata:[],
            
            marital_status:'',
           
            mother_tongue:'',
            
            religion:'',
          
            caste:'',
         
            sub_caste:'',
           
            height:'',
            weight:'',
            blood_group:'',
           
            complexion:'',
            
            body_type:'',
           
            manglik:'',

        
       
      }
  },
  methods:{
          
           search(user_id){
            console.log(user_id)
            api.get('idsearch/?search='+user_id)
           .then((response) => {
           console.log(response.data.results)
           this.marital_status=response.data.marital_status
            console.log(this.marital_status)
           this.mother_tongue=response.data.mother_tongue

           this.iddata=response.data.results
           })
      },
      idsearchdetails(user_id)
      {
        console.log(user_id)
        localStorage.setItem("user_id",user_id)
        this.$router.push('/viewprofileb/'+user_id)
      }
     

     }
  
})
</script>
<style lang="sass" scoped>
.my-card1
  width: 200%
  max-width: 1500px
</style>