<template>
    <q-page class="flex q-pa-md">
      <q-card class="full-width">
   
    <div class="q-pa-md">
      <center> NRI <Address></Address></center>
        <q-separator spaced inset />

        <div class="row q-mt-md">
       <div class="col">
                                  
        <q-select
                v-model="partners_religion"
                outlined
                label=" Partners Religion*"
                :options="optpreligion"
                option-value="religion_id"
                option-label="religion_name"
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>

       </div>
    </div>


    <div class="row q-mt-md">
       <div class="col">
                                  
         <q-select
                v-model="partners_caste"
                outlined
                label=" partners Caste* "
                :options="optpcaste"
                option-value="caste_id"
                option-label="caste_name"
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>

       </div>
    </div>





       <center> Regular Search</center>
        <q-separator spaced inset />

       <div class="row q-mt-md">
       <div class="col">
      <q-item-label class="q-mb-lg" style="font-weight">Select </q-item-label>
       <q-option-group
            :options="opt1"
            label="Select"
            type="radio"
            v-model="gender"
            :rules="[val => !!val || 'Field is required']"
          />
       </div>
    </div>
   <div class="row q-mt-md">
       <div class="col">
                                  
          <q-select
                v-model="complexion"
                outlined
                label="Complexion*"
                :options="optcx"
                option-value="complexion_id"
                option-label="complexion_name"
               
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>

       </div>
    </div>

        <div class="row q-mt-md">
       <div class="col">
    <q-select
          outlined
          v-model="partners_marital_status"
          :options="optpmsts"
          label="Marital Status*" 
          option-value="maritalstatus_id"
          option-label="maritalstatus_name"
          emit-value
          map-options
          fill-input
         
          :rules="[val => !!val || 'Field is required']"
        ></q-select>

       </div>
    </div>



        <div class="row q-mt-md">
       <div class="col">
                                  
        <q-select
                v-model="partners_mother_tongue"
                outlined
                label="Partners Mother Tongue*"
                :options="optpmtongue"
                option-value="mothertongue_id"
                option-label="mothertongue_name"
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>

       </div>
    </div>


        <div class="row q-mt-md">
       <div class="col">
                                  
        <q-select
                v-model="partners_religion"
                outlined
                label=" Partners Religion*"
                :options="optpreligion"
                option-value="religion_id"
                option-label="religion_name"
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>

       </div>
    </div>


    <div class="row q-mt-md">
       <div class="col">
                                  
         <q-select
                v-model="partners_caste"
                outlined
                label=" partners Caste* "
                :options="optpcaste"
                option-value="caste_id"
                option-label="caste_name"
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>

       </div>
    </div>

    <div class="row q-mt-md">
       <div class="col">
                                  
         <q-select
                v-model="partners_sub_caste"
                outlined
                label="Partners SubCaste* "
                :options="optpscaste"
                option-value="subcaste_id"
                option-label="subcaste_name"
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>

       </div>
    </div>
     
        <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="partners_education"
                outlined
                label=" Partners Education* "
                :options="optpeducation"
                option-value="education_id"
                option-label="education_name"
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>
   <div class="row q-mt-md">
       <div class="col">
                                  
           <q-select
                v-model="body_type"
                outlined
                label="Body Type* "
                :options="optbt"
                option-value="bodytype_id"
                option-label="bodytype_name"
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>

       </div>
    </div>
    
         <div class="row q-mt-md">
       <div class="col-6">
                                  
           <q-input
                v-model.number="partners_height_from "
                outlined
                label="Partners Height From* "
                type="number"

                :rules="[val => !!val || 'Field is required']">
            </q-input>
   </div>
       <div class="col-6">
                                  
           <q-input
                v-model="partners_height_to"
                outlined
                label="Partners Height To* "
                type="number"
            
                :rules="[val => !!val || 'Field is required']">
            </q-input>

       </div>
    </div>

       <div class="row q-mt-md">
       <div class="col-6">
                                  
           <q-input
                v-model="partners_age_from  "
                outlined
                label="Partners Age From* "
                type="number"
            
                :rules="[val => !!val || 'Field is required']">
            </q-input>

       </div>
       <div class="col-6">
                                  
           <q-input
                v-model="partners_age_to"
                outlined
                label="Partner Age To* "
                type="number"

                :rules="[val => !!val || 'Field is required']">
            </q-input>

       </div>
    </div>
    

    </div>
    <div class="row q-ma-md">
      <div class="col-12">
            <q-btn class="full-width" label=" Regular Search" @click="regular_search()" type="submit" color="red-14"/> 
      </div>
      </div>
   
      </q-card>
   

  </q-page>
</template>

<script>
import { api } from 'boot/axios';
import { LocalStorage, useQuasar } from 'quasar'
export default {

data(){
        return{
            user_id:'',
            gender: '',
            opt1: [
            { label: 'Groom', value: 'M' },
            { label: 'Bride', value: 'F' },
             ],
            complexion:'',
            optcx:[],
            partners_marital_status:'',
            optpmsts:[],
            partners_mother_tongue:'',
            optpmtongue:[],
            partners_religion:'',
            optpreligion:[],
            partners_caste:'',
            optpcaste:[],
            partners_sub_caste:'',
            optpscaste:[],
            partners_education:'',
            optpeducation:[],
            partners_height_from:'',
            partners_height_to:'',
            body_type:'',
            optbt:[],
            partners_age_from:'',
            partners_age_to:'',
        
        }
    },
    methods:{
            regular_search(){
               
                     
            }

     },
mounted()
    {
            api.get('complexion/')
                 .then((response) => {
                   console.log(response)
                  this.optcx=response.data                  
              })
              api.get('pmaritalstatus/')
                .then((response) => {
                  console.log(response)
                  this.optpmstatus=response.data
             })
             api.get('mothertongue/')
                .then((response) => {
                  console.log(response)
                  this.optpmt=response.data                  
             })
              api.get('preligion/')
                .then((response) => {
                  console.log(response)
                  this.optpreligion=response.data                  
             })
            api.get('pcaste/')
                .then((response) => {
                  console.log(response)
                  this.optpcaste=response.data                  
             })
            api.get('psubcaste/')
                .then((response) => {
                  console.log(response)
                  this.optpscaste=response.data                  
             })
            api.get('peducation/')
                 .then((response) => {
                   console.log(response)
                   this.optpeducation=response.data                  
              })
                api.get('bodytype/')
                 .then((response) => {
                   console.log(response)
                   this.optbt=response.data                  
              })
    }
    }
</script>
<style>

</style>