<template>
 <q-layout>
    <q-page-container>
      <q-page class="flex flex-center">

    <q-card square class="shadow-24" style="width:300px;height:485px;">
          <q-card-section class="bg-red-9">
            <h4 class="text-h5 text-white q-my-md">Login To Your Account</h4>
          
          </q-card-section>
          <q-card-section>
            <q-form class="q-px-sm q-pt-xl" @submit="login()">
              <q-input square clearable v-model="username" label="Username">
                <template v-slot:prepend>
                  <q-icon name="perm_identity" />
                </template>
              </q-input>
              <q-input square clearable v-model="password" type="password" label="Password">
                <template v-slot:prepend>
                  <q-icon name="lock" />
                </template>
              </q-input>
              <!-- <div>
                <q-btn label="Login"  type="submit" color="primary"/>

            </div> -->
             <q-card-actions class="q-px-lg">
            <q-btn unelevated size="lg" color="red-9" type="submit" class="full-width text-white"  label="Sign In" />
          </q-card-actions>
          <q-card-section class="text-center q-pa-sm">
                  <q-btn flat color="primary" label="Forgot your password?" type="submit" />
          </q-card-section>
            
          
            </q-form>
          </q-card-section>
          
         
        </q-card>

      </q-page>
    </q-page-container>
 </q-layout>

</template>
<script>

import { useQuasar } from 'quasar'
import { ref } from 'vue'

export default {
  setup () {
    const $q = useQuasar()

    const username = ref(null)
    const password = ref(null)
    const accept = ref(false)

    return {
      username,
      password,
      isPwd: true,
      accept,
        }
  },
    methods:{
      login: function () {
                    let username = this.username 
                    let password = this.password
                    this.$store.dispatch('auth/login', { username, password })
                .then(() => { 
                 //this.$router.push('/dashboard')
                  this.$router.push('/bridespage')
                   })
                .catch(err =>{ 
                  console.log('************');
                  console.log(err); 
                      console.log('In Login Error Page. !!'); })
                },

      onReset () {
        username.value = null
        password.value = null
      }
  
  }
}
</script>





