<template>
      <div class="q-pa-md" v-for="(item, key) in plan_data" :key="key">
         
       <q-card class="my-card">
       <q-card-section>
    <div class="q-pa-md">
         
                 
         <div class="row">
             <div class="col">
                
                <center>{{item.plan_name}}</center>
                <q-separator spaced inset /> 
             </div>
         </div>
           <div class="row">
             <div class="col">
                <center>{{item.amount}}</center>
                <q-separator spaced inset /> 
             </div>
         </div>
           <div class="row">
             <div class="col">
                <center> {{item.days}}</center>
                <q-separator spaced inset /> 
             </div>
         </div>  
         <div class="row">
             <div class="col">
                <center>{{item.profiles}}</center>
                <q-separator spaced inset /> 
             </div>
         </div>                 
          <div class="col-md-2 text-center q-pt-md">
          <q-btn @click="buy(item.plan_id)" color="primary" label="Buy" /> 
          
          <!--<q-btn color="red" @click="deleteRowNominee(k, nominee)" icon="delete" /> -->
                               
          </div>               
</div>
</q-card-section>
</q-card>
      </div>
</template>

<script>
import { api } from 'boot/axios';
import { LocalStorage,useQuasar } from 'quasar'
export default {

data(){
        return{
          plan_data:[],

            
        }
    },
    mounted(){
              api.get('memebershipplan/')
               .then((response) => {
               console.log(response)
              this.plan_data=response.data
               console.log(this.plan_data)
         
               })
         
},
methods:{

        buy(plan_id)
        {
        console.log(plan_id)
        localStorage.setItem("plan_id",plan_id)
        this.$router.push('/upgradationdetails/'+plan_id)
             
        }
    }
}
</script>
<style>
.my-card1{
  width: 100%;
  max-width: 350px;
}
</style>