<template>
<!-- 
<div class="row">
   
   <q-card flat bordered class="my-card q-ma-lg">
      <div class="q-col-gutter-md row items-start">
      <div class="col-12" text-center>
        <img 
          :src="'http://127.0.0.1:8000/'" 
          :ratio="1"
          style="width:300px"
        />
      </div>
         </div>
       </q-card>
</div>
<div class="row">
   <div class="col">
      <q-card class="my-card"> 
       <q-card-section>
          <q-item
        to="/franchiesregister"
        exact
        clickable>
        <q-item-section avatar>
        <q-icon color="negative" name="switch_account"/>
        </q-item-section>
        <q-item-section>
          <q-item-label>Personal Details</q-item-label>
        </q-item-section>
        </q-item>
        <q-item
        to="/franchiesregister"
        exact
        clickable>
        <q-item-section avatar>
        <q-icon color="negative" name="switch_account"/>
        </q-item-section>
        <q-item-section>
          <q-item-label>Religion Details</q-item-label>
        </q-item-section>
        </q-item>
        <q-item
        to="/franchiesregister"
        exact
        clickable>
        <q-item-section avatar>
        <q-icon color="negative" name="switch_account"/>
        </q-item-section>
        <q-item-section>
          <q-item-label>Professional Details</q-item-label>
        </q-item-section>
        </q-item>
        <q-item
        to="/franchiesregister"
        exact
        clickable>
        <q-item-section avatar>
        <q-icon color="negative" name="switch_account"/>
        </q-item-section>
        <q-item-section>
          <q-item-label>Family Background</q-item-label>
        </q-item-section>
        </q-item>
        <q-item
        to="/franchiesregister"
        exact
        clickable>
        <q-item-section avatar>
        <q-icon color="negative" name="switch_account"/>
        </q-item-section>
        <q-item-section>
          <q-item-label>Partner Preferences</q-item-label>
        </q-item-section>
        </q-item>
        <q-item
        to="/franchiesregister"
        exact
        clickable>
        <q-item-section avatar>
        <q-icon color="negative" name="switch_account"/>
        </q-item-section>
        <q-item-section>
          <q-item-label>Upload Photos</q-item-label>
        </q-item-section>
        </q-item>
       </q-card-section>
</q-card>
   </div>
</div> -->


 
   <q-form @submit="onSubmit">
    <q-card class="my-card">
       <q-card-section>
    <div class="q-pa-md">
       <center>Personal Information</center>
        <q-separator spaced inset /> 

                      <div class="row q-mt-md">
                             <div class="col">
                                  
                                <q-input outlined label="Full Name*" v-model="fullname" :rules="[val => !!val || 'Field is required']"/>

                            </div>
                       </div>

          <div class="row q-mt-md">
            <div class="col">
            <q-item-label class="q-mb-lg" style="font-weight">Date of Birth*</q-item-label>
            <q-input outlined 
                     v-model="date_of_birth" 
                      
                     :rules="[val => !!val || 'Field is required']">
                      <template v-slot:append>
                                            <q-icon name="event" class="cursor-pointer">
                                            <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                                                <q-date v-model="date_of_birth"  mask="YYYY-MM-DD"/>
                                            </q-popup-proxy>
                                            </q-icon>
                                        </template>
                                    </q-input> 
        </div>
    </div>

  <div class="row q-mt-md">
                             <div class="col">
                                  
                                <q-input outlined 
                                label="Birth Place*" 
                                v-model="birth_place" 
                                :rules="[val => !!val || 'Field is required']"/>

                            </div>
                       </div>
      <div class="row q-mt-md">
       <div class="col">
                                  
           <q-select
                v-model="body_type"
                outlined
                label="Body Type* "
                :options="optbt"
                option-value="bodytype_id"
                option-label="bodytype_name"
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>

       </div>
    </div>

    <div class="row q-mt-md">
       <div class="col">
    <q-select
          outlined
          v-model="marital_status"
          :options="optmsts"
          label="Marital Status*" 
          option-value="maritalstatus_id"
          option-label="maritalstatus_name"
          emit-value
          map-options
          fill-input
         
          :rules="[val => !!val || 'Field is required']"
        ></q-select>

       </div>
    </div>
     


        <div class="row q-mt-md" >
        <div class="col" >
        <q-input  
        label="No of Childrens*" 
        type="number" 
        outlined 
        v-model.number="no_of_childrens" />
        </div>
        </div>

        <div class="row q-mt-md">
       <div class="col">
        <q-input
                v-model="height"
                outlined
                label="Height "
                type="number"
                :rules="[val => !!val || 'Field is required']">
            </q-input>                        
         

       </div>
    </div>
    

    <div class="row q-mt-md">
       <div class="col">
                                  
         <q-input
                v-model="weight"
                outlined
                label="weight "
                type="number"
                :rules="[val => !!val || 'Field is required']">
            </q-input>

       </div>
    </div>
    <div class="row q-mt-md">
       <div class="col">

          <q-select
                v-model="blood_group"
                outlined
                label="Blood Group* "
                :options="optbg"
                option-value="bloodgroup_id"
                option-label="bloodgroup_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>                        
         

       </div>
    </div>

   <div class="row q-mt-md">
       <div class="col">
                                  
          <q-select
                v-model="complexion"
                outlined
                label="Complexion*"
                :options="optcx"
                option-value="complexion_id"
                option-label="complexion_name"
               
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>

       </div>
    </div>

      <div class="row q-mt-md">
       <div class="col">
      <q-item-label class="q-mb-lg" style="font-weight">Eating Habits *</q-item-label>
       <q-option-group
            :options="opteh"
            type="radio"
            name="eating_habits[]"
            v-model="eating_habits"
            :rules="[val => !!val || 'Field is required']"
          />
       </div>
    </div>
    <div class="row q-mt-md">
       <div class="col">
      <q-item-label class="q-mb-lg" style="font-weight">Drinking Habits *</q-item-label>
       <q-option-group
            :options="optdh"
            type="radio"
            name="drinking_habits[]"
            v-model="drinking_habits"
            :rules="[val => !!val || 'Field is required']"
          />
       </div>
    </div>

        <div class="row q-mt-md">
       <div class="col">
      <q-item-label class="q-mb-lg" style="font-weight">Smoking Habits *</q-item-label>
       <q-option-group
            :options="optsh"
            
            type="radio"
            v-model="smoking_habits"
            :rules="[val => !!val || 'Field is required']"
          />
       </div>
    </div>
    <div class="row q-mt-md">
       <div class="col">
                                  
          <q-input outlined label="Disability Details" v-model="disability_details" :rules="[val => !!val || 'Field is required']"/>

       </div>
    </div>

    

    <div class="row q-mt-md">
       <div class="col">
                                  
        <q-input 
        outlined
        label="About Myself*" 
        filled
        type="textarea"
        v-model="about_myself" 
        :rules="[val => !!val || 'Field is required']"/>

       </div>
    </div>

       <div class="row q-mt-md">
    <div class="col">
         <q-separator spaced inset />
                            <div align="center">
                                <q-btn  color="primary" label="Edit" type="submit" />      
                            </div> 
                             </div>
 </div> 


    </div>
       </q-card-section>
    </q-card>
   </q-form>
</template>

<script>
import { api } from 'boot/axios';
export default {

data(){
        return{
           brides_data:[],

            photo1:'',
            photo2:'',
            photo3:'',
            user_id:'',
            fullname:'',
            date_of_birth:'',
            birth_place:'',
            marital_status:'',
            optmsts:[],
            no_of_childrens:'',
            mother_tongue:'',
            optmt:[],
            height:'',
            weight:'',
            blood_group:'',
            optbg:[],
            complexion:'',
            optcx:[],
            body_type:'',
            optbt:[],
            eating_habits:'', 
            opteh: [
            { label: 'Vegetarian', value: 'Vegetarian' },
            { label: 'Non-Vegetarian', value: 'Non-Vegetarian' },
            { label: 'Eggetarian', value: 'Eggetarian' },
            ],
            drinking_habits:'',
            optdh: [
            { label: 'No', value: 'No' },
            { label: 'Occassionally', value: 'Occassionally' },
            { label: 'Yes', value: 'Yes' },
             ],
            smoking_habits:'',
            optsh: [
            { label: 'No', value: 'No' },
            { label: 'Occassionally', value: 'Occassionally' },
            { label: 'Yes', value: 'Yes' },
             ],
            disability_details:'',
            about_myself:'',
        }
},
mounted()
    {
         api.get('maritalstatus/')
                .then((response) => {
                  console.log(response)
                  this.optmsts=response.data
               
             })
             api.get('mothertongue/')
                .then((response) => {
                  console.log(response)
                  this.optmt=response.data                  
             })
            api.get('religion/')
                .then((response) => {
                  console.log(response)
                  this.optreligion=response.data                  
             })
            
         
            api.get('bloodgroup/')
                .then((response) => {   
                  console.log(response)
                  this.optbg=response.data                  
             })
            api.get('complexion/')
                 .then((response) => {
                   console.log(response)
                  this.optcx=response.data                  
              })
             api.get('bodytype/')
                 .then((response) => {
                   console.log(response)
                   this.optbt=response.data                  
              })

            
               // let id = this.$route.params.user_id
               //  console.log(id)
               //  axiosInstance.get('api/edit-profile/'+id)
               //  .then((response) => {
               //    this.name = response.data.name
               //    this.address=response.data.address
               //    this.mobile_no=response.data.mobile_no                  
               //  })
    },



 
 methods:{
     onSubmit(){
        console.log('submit');
            var postdata = {
                fullname:this.fullname,
                gender:this.gender,
                date_of_birth:this.date_of_birth,
                //time_of_birth:this.time_of_birth,
                birth_place:this.birth_place,
                marital_status:this.marital_status,
                no_of_childrens:this.no_of_childrens,
                mother_tongue:this.mother_tongue,
                religion:this.religion,
               
                height:this.height,
                weight:this.weight,
                blood_group:this.blood_group,
                complexion:this.complexion,
                body_type:this.body_type,
               
                eating_habits:this.eating_habits,
                drinking_habits:this.drinking_habits,
                smoking_habits:this.smoking_habits,
                disability_details:this.disability_details,
                about_myself:this.about_myself,
     };
   
       api.get('get-profile/')
               .then((response) => {
                 console.log(response)
                this.data = response.data
                console.log(this.data)
               })
          

      
     },

   
      
     previewImage_user: function(event) {
        
            var input = event.target;
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = (e) => {
                    this.photo1 = e.target.result;
                }
               
                reader.readAsDataURL(input.files[0]);
            }
        },
 },

}
</script>

<style>

</style>