<template>
 <div class="q-pa-md" style="max-width: 350px">
    <q-form>
     
      <q-card class="q-pa-md">
        <q-item-label class="q-mb-lg text-center" style="font-weight:bold" >{{('farm_photo')}}</q-item-label>
        <div class="item-center">
        <input type="file" @change="previewImage_farm" accept="image/*">
        </div>
        <br />
        <div class="image-preview justify-center" v-if="farm_img.length > 0">
            <img class="preview" :src="farm_img">
        </div>
      </q-card>

    
 </q-form>
</div>

</template>
<script>
import { ref } from 'vue'
import { api } from 'boot/axios'

export default {
  data () {
    const $q = useQuasar()

    return {
    
      farm_img:'',
      farm:this.$t('farm_photo')
    }
  },
   methods:{
    previewImage_farm: function(event) {
            // Reference to the DOM input element
            var input = event.target;
            // Ensure that you have a file before attempting to read it
            if (input.files && input.files[0]) {
                // create a new FileReader to read this image and convert to base64 format
                var reader = new FileReader();
                // Define a callback function to run, when FileReader finishes its job
                reader.onload = (e) => {
                    // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
                    // Read image as base64 and set to imageData
                    this.farm_img = e.target.result;
                }
                // Start the reader job - read file as a data url (base64 format)
                reader.readAsDataURL(input.files[0]);
            }
        },
       
}
}
</script>
<style>
img.preview {
    width: 200px;
    background-color: white;
    border: 1px solid #DDD;
    padding: 5px;
}
</style>