<template>
  <q-card class="my-card">
       <q-card-section>
    <div class="q-pa-md">
       <center>Franchise Register</center>
        <q-separator spaced inset /> 
        <div class="row q-mt-md"  style="text-align:justify">
        <div class="col">

            <p style="text-align:justify">
Please read and comprehend our Privacy Policy, which also governs your visit to JeevanMeet, to understand our practices. Members agree that their profile(s) may be crawled and indexed by search engines, where JeevanMeet and its network does not have any control over the search engines behavior and JeevanMeet shall not be responsible for such activities of other search engines.
JeevanMeet is not responsible for any errors, omissions or representations on any of its pages or on any links or on any of the linked website pages. JeevanMeet does not endorse any advertiser on its web pages in any manner and you are requested to verify the accuracy of all information on your own before undertaking any reliance on such information. The linked sites are not under the control of JeevanMeet and JeevanMeet is not responsible for the contents of any linked site or any link contained in a linked site, or any changes or updates to such sites.
JeevanMeet has the right to change its features and services from time to time based on member’s comments or as a result of a change of policy in our company.
</p>
        </div>
        </div>
    </div>
       </q-card-section>
       
  </q-card>
</template>

<script>
export default {

}
</script>

<style>

</style>