<template>
   <q-form @submit="onSubmit">
    <q-card class="my-card">
       <q-card-section>
    <div class="q-pa-md">
       <center>Personal Information</center>
        <q-separator spaced inset /> 

                      <div class="row q-mt-md">
                             <div class="col">
                                  
                                <q-input outlined label="Full Name*" v-model="fullname" :rules="[val => !!val || 'Field is required']"/>

                            </div>
                       </div>

    
    

    <div class="row q-mt-md">
       <div class="col">
      <q-item-label class="q-mb-lg" style="font-weight">Gender *</q-item-label>
       <q-option-group
            :options="opt1"
            type="radio"
            v-model="gender"
            :rules="[val => !!val || 'Field is required']"
          />
       </div>
    </div>
            <div class="row q-mt-md">
            <div class="col">
            <q-item-label class="q-mb-lg" style="font-weight">Date of Birth*</q-item-label>
            <q-input outlined 
                     v-model="date_of_birth" 
                      
                     :rules="[val => !!val || 'Field is required']">
                      <template v-slot:append>
                                            <q-icon name="event" class="cursor-pointer">
                                            <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                                                <q-date v-model="date_of_birth"  mask="YYYY-MM-DD"/>
                                            </q-popup-proxy>
                                            </q-icon>
                                        </template>
                                    </q-input> 
        </div>
    </div>

  <div class="row q-mt-md">
                             <div class="col">
                                  
                                <q-input outlined 
                                label="Birth Place*" 
                                v-model="birth_place" 
                                :rules="[val => !!val || 'Field is required']"/>

                            </div>
                       </div>

    <div class="row q-mt-md">
       <div class="col">
    <q-select
          outlined
          v-model="marital_status"
          :options="optmsts"
          label="Marital Status*" 
          option-value="maritalstatus_id"
          option-label="maritalstatus_name"
          emit-value
          map-options
          fill-input
         
          :rules="[val => !!val || 'Field is required']"
        ></q-select>

       </div>
    </div>


        <div class="row q-mt-md" >
        <div class="col" >
        <q-input  
        label="No of Childrens*" 
        type="number" 
        outlined 
        v-model.number="no_of_childrens" />
        </div>
        </div>

      <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="mother_tongue"
                outlined
                label="Mother Tongue* "
                :options="optmt"
                option-value="mothertongue_id"
                option-label="mothertongue_name"
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
    </div>


          <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="religion"
                outlined
                label="Religion* "
                :options="optreligion"
                option-value="religion_id"
                option-label="religion_name"
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
    </div>

    <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="caste"
                outlined
                label="Caste* "
                :options="optcaste"
                option-value="caste_id"
                option-label="caste_name"
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
    </div>

    <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="sub_caste"
                outlined
                label="Sub Caste* "
                :options="optpscaste"
                option-value="subcaste_id"
                option-label="subcaste_name"
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
    </div>

     
    <div class="row q-mt-md">
       <div class="col">
        <q-input
                v-model="height"
                outlined
                label="Height "
                type="number"
                :rules="[val => !!val || 'Field is required']">
            </q-input>                        
         

       </div>
    </div>
    

    <div class="row q-mt-md">
       <div class="col">
                                  
         <q-input
                v-model="weight"
                outlined
                label="weight "
                type="number"
                :rules="[val => !!val || 'Field is required']">
            </q-input>

       </div>
    </div>
    <div class="row q-mt-md">
       <div class="col">

          <q-select
                v-model="blood_group"
                outlined
                label="Blood Group* "
                :options="optbg"
                option-value="bloodgroup_id"
                option-label="bloodgroup_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>                        
         

       </div>
    </div>

   <div class="row q-mt-md">
       <div class="col">
                                  
          <q-select
                v-model="complexion"
                outlined
                label="Complexion*"
                :options="optcx"
                option-value="complexion_id"
                option-label="complexion_name"
               
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>

       </div>
    </div>
    

   <div class="row q-mt-md">
       <div class="col">
                                  
           <q-select
                v-model="body_type"
                outlined
                label="Body Type* "
                :options="optbt"
                option-value="bodytype_id"
                option-label="bodytype_name"
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>

       </div>
    </div>

 
        <div class="row q-mt-md">
       <div class="col">
      <q-item-label class="q-mb-lg" style="font-weight">Manglik *</q-item-label>
       <q-option-group
            :options="optmanglik"
            type="radio"
            v-model="manglik"
            :rules="[val => !!val || 'Field is required']"
          />
       </div>
    </div>
  

    <div class="row q-mt-md">
       <div class="col">
        <q-input outlined 
        label="Gothram*" 
        v-model="gothram" 
        :rules="[val => !!val || 'Field is required']"/>
       </div>
    </div>
  
   <div class="row q-mt-md">
       <div class="col">
                                  
         <q-select
                v-model="rashi_name"
                outlined
                label="Start/Rashi* "
                :options="optrn"
                option-value="rashi_id"
                option-label="rashi_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>

       </div>
    </div>

  <div class="row q-mt-md">
       <div class="col">
      <q-item-label class="q-mb-lg" style="font-weight">Eating Habits *</q-item-label>
       <q-option-group
            :options="opteh"
            type="radio"
            name="eating_habits[]"
            v-model="eating_habits"
            :rules="[val => !!val || 'Field is required']"
          />
       </div>
    </div>

    <div class="row q-mt-md">
       <div class="col">
      <q-item-label class="q-mb-lg" style="font-weight">Drinking Habits *</q-item-label>
       <q-option-group
            :options="optdh"
            type="radio"
            name="drinking_habits[]"
            v-model="drinking_habits"
            :rules="[val => !!val || 'Field is required']"
          />
       </div>
    </div>

        <div class="row q-mt-md">
       <div class="col">
      <q-item-label class="q-mb-lg" style="font-weight">Smoking Habits *</q-item-label>
       <q-option-group
            :options="optsh"
            
            type="radio"
            v-model="smoking_habits"
            :rules="[val => !!val || 'Field is required']"
          />
       </div>
    </div>
    <div class="row q-mt-md">
       <div class="col">
                                  
          <q-input outlined label="Disability Details" v-model="disability_details" :rules="[val => !!val || 'Field is required']"/>

       </div>
    </div>

    

    <div class="row q-mt-md">
       <div class="col">
                                  
        <q-input 
        outlined
        label="About Myself*" 
        filled
        type="textarea"
        v-model="about_myself" 
        :rules="[val => !!val || 'Field is required']"/>

       </div>
    </div>

    </div>
    </q-card-section>
    </q-card>    

    <q-separator dark />
    <q-separator dark />
    <q-separator dark />


    <q-card class="my-card">
       <q-card-section>
    <div class="q-pa-md">
        <h9><center>Address Details</center></h9>
        <q-separator spaced inset />               
        <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="state"
                outlined
                label="State* "
                :options="optstate"
                option-value="state_id"
                option-label="state_name"
                map-options
                emit-value
                fill-input
               
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>


          <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="district"
                outlined
                label="District* "
                :options="optdist"
                option-value="district_id"
                option-label="district_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>

        
          <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="city"
                outlined
                label="City* "
                :options="optcity"
                option-value="city_id"
                option-label="city_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>

         <div class="row q-mt-md">
         <div class="col">
            <q-input outlined 
            label="Current Address"
            type="textarea"
            v-model="current_address" 
            :rules="[val => !!val || 'Field is required']"/>
        </div>
        </div>

        
    <div class="row q-mt-md">
      <div class="col">
      <q-input  
      label="Pincode*" 
      type="number" 
      outlined 
      v-model.number="pincode" />
      </div>
      </div>

      <div class="row q-mt-md">
      <div class="col">
      <q-input  
      label="Phone Number*" 
      type="number" 
      outlined 
      v-model.number="phone_number" />
      </div>
      </div>

      <div class="row q-mt-md">
      <div class="col">
      <q-input  
      label="Mobile Number*" 
      type="number" 
      outlined 
      v-model.number="mobile_number" />
      </div>
      </div>

      <div class="row q-mt-md">
      <div class="col">
      <q-input  
      label="Mobile Number2*" 
      type="number" 
      outlined 
      v-model.number="mobile_number2" />
      </div>
      </div>
     
   <h9><center>Ancestral Origin Address</center></h9>
   <q-separator spaced inset />

   <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="state_ancestral"
                outlined
                label="State* "
                :options="optancstate"
                option-value="state_id"
                option-label="state_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>

      <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="district_ancestral"
                outlined
                label="District* "
                :options="optancdist"
                option-value="district_id"
                option-label="district_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>

         <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="city_ancestral"
                outlined
                label="City* "
                :options="optanccity"
                option-value="city_id"
                option-label="city_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>

                 <div class="row q-mt-md">
         <div class="col">
            <q-input outlined
            type=""
            label="Current Address" 
            v-model="current_address_ancestral" 
            :rules="[val => !!val || 'Field is required']"/>
        </div>
        </div>

            <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="country"
                outlined
                label="Living Country* "
                :options="optcountry"
                option-value="country_id"
                option-label="country_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>

          <div class="row q-mt-md">
         <div class="col">
            <q-input outlined
            filled
            type="textarea"
            label="Current Address"
            
            v-model="nri_address" :rules="[val => !!val || 'Field is required']"/>
        </div>
        </div>
        
    </div>
       </q-card-section>
</q-card>
<q-separator dark />
    <q-separator dark />
    <q-separator dark />


<q-card class="my-card">
       <q-card-section>
    <div class="q-pa-md">
      <h9><center>Address Details</center></h9>
      <q-separator spaced inset />
                       
        <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="education"
                outlined
                label="Education* "
                :options="opteducation"
                option-value="education_id"
                option-label="education_name"
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>

           <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="qualification"
                outlined
                label="Qualification* "
                :options="optquali"
                option-value="qualification_id"
                option-label="qualification_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>
        <div class="row q-mt-md">
                             <div class="col">
                                  
                              <q-input outlined 
                              label="More Information*"
                              v-model="more_information" 
                              :rules="[val => !!val || 'Field is required']"/>

                            </div>
                        </div>

              <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="occupation"
                outlined
                label="Occupation* "
                :options="optocc"
                option-value="occupation_id"
                option-label="occupation_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>

           <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="sub_occupation"
                outlined
                label="Sub Occupation* "
                :options="optsocc"
                option-value="suboccupation_id"
                option-label="suboccupation_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>
        <div class="row q-mt-md">
                             <div class="col">
                                  
                              <q-input outlined 
                              label="Employed In"
                              v-model="employed_in" 
                              :rules="[val => !!val || 'Field is required']"/>

                            </div>
                        </div>
                 <div class="row q-mt-md">
                             <div class="col">
                                  
                              <q-input outlined label="Annual Income"
                              type="number"
                              v-model="annual_income" 
                              :rules="[val => !!val || 'Field is required']"/>

                            </div>
                        </div>
    </div>
       </q-card-section>
</q-card>

<q-separator dark />
<q-separator dark />
<q-separator dark />
  
<q-card class="my-card">
       <q-card-section>
    <div class="q-pa-md">
      <h9><center>Family Background</center></h9>
      <q-separator spaced inset />
                       
        <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="family_value"
                outlined
                label="Family Value* "
                :options="optfamilyv"
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>

           <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="family_type"
                outlined
                label="Family Type* "
                :options="optfamilyt"
              
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>

        <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="family_status"
                outlined
                label="Family Status* "
                :options="optfamilys"
              
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>
    
        
        <div class="row q-mt-md">
                             <div class="col">
                                  
                                <q-input outlined label="Fathers Name*" v-model="fathers_name" :rules="[val => !!val || 'Field is required']"/>

                            </div>
                       </div>
          
        <div class="row q-mt-md">
                             <div class="col">
                                  
                                <q-input outlined label="Father occupation*" v-model="fathers_occupation" :rules="[val => !!val || 'Field is required']"/>

                            </div>
                       </div>
          
        <div class="row q-mt-md">
                             <div class="col">
                                  
                                <q-input outlined label="Mother name*" v-model="mothers_name" :rules="[val => !!val || 'Field is required']"/>

                            </div>
                       </div>
          
        <div class="row q-mt-md">
                             <div class="col">
                                  
                                <q-input outlined label="Mother Occupation*" v-model="mothers_occupation" :rules="[val => !!val || 'Field is required']"/>

                            </div>
                       </div>
              

      <div class="row q-mt-md">
      <div class="col">
      <q-input  
      label="No of Brothers*" 
      type="number" 
      outlined 
      v-model.number="no_of_brothers" />
      </div>
      </div>

      <div class="row q-mt-md">
      <div class="col">
      <q-input  
      label="Brother married*" 
      type="number" 
      outlined 
      v-model.number="brother_married" />
      </div>
      </div>

            <div class="row q-mt-md">
      <div class="col">
      <q-input  
      label="No of Sister*" 
      type="number" 
      outlined 
      v-model.number="no_of_sisters" />
      </div>
      </div>

            <div class="row q-mt-md">
      <div class="col">
      <q-input  
      label="Sister married*" 
      type="number" 
      outlined 
      v-model.number="sister_married" />
      </div>
      </div>
    <div class="row q-mt-md">
       <div class="col">
                                  
        <q-input 
        outlined
        label="Surname of Relativte*" 
        filled
        type="textarea"
        v-model="surname_of_relatives" 
        :rules="[val => !!val || 'Field is required']"/>

       </div>
    </div>
    <div class="row q-mt-md">
       <div class="col">
                                  
        <q-input 
        outlined
        label="Parental Details*" 
        filled
        type="textarea"
        v-model="parental_details" 
        :rules="[val => !!val || 'Field is required']"/>

       </div>
    </div>
    </div>
       </q-card-section>
</q-card>


<q-separator dark />
<q-separator dark />
<q-separator dark />
  
<q-card class="my-card">
       <q-card-section>
    <div class="q-pa-md">
      <h9><center>Partner Preference</center></h9>
      <q-separator spaced inset />
                       
        <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="partners_age_from"
                outlined
                label="Partners age from* "
                :options="optptnagef"
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>

           <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="partners_age_to"
                outlined
                label="Partners age To* "
                :options="optptnaget"
              
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>

        <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="partners_height_from"
                outlined
                label="Partners Height From* "
                :options="optptnheightf"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>
    
        
        <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="partners_height_to"
                outlined
                label="Partners Height To* "
                :options="optptnheightt"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>
          

       <div class="row q-mt-md">
       <div class="col">
                                  
        <q-select
                v-model="partners_marital_status"
                outlined
                label=" Partners Marital Status*"
                :options="optpmstatus"
                option-value="maritalstatus_id"
                option-label="maritalstatus_name"
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>

       </div>
    </div>


        <div class="row q-mt-md">
       <div class="col">
                                  
        <q-select
                v-model="partners_mother_tongue"
                outlined
                label="Partners Mother Tongue*"
                :options="optpmtongue"
                option-value="mothertongue_id"
                option-label="mothertongue_name"
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>

       </div>
    </div>

          
  <div class="row q-mt-md">
       <div class="col">
      <q-item-label class="q-mb-lg" style="font-weight">Partners Eating Habits *</q-item-label>
       <q-option-group
            :options="optpeh"
            name="prt_eating_habits[]"
            type="radio"
            v-model="prt_eating_habits"
            :rules="[val => !!val || 'Field is required']"
          />
       </div>
    </div>


      <div class="row q-mt-md">
       <div class="col">
      <q-item-label class="q-mb-lg" style="font-weight">Partners Drinking Habits *</q-item-label>
       <q-option-group
            :options="optpdh"
           
            type="radio"
            v-model="prt_drinking_habits"
            :rules="[val => !!val || 'Field is required']"
          />
       </div>
    </div>


      <div class="row q-mt-md">
       <div class="col">
      <q-item-label class="q-mb-lg" style="font-weight">Partners Smoking Habits *</q-item-label>
       <q-option-group
            :options="optpsh"
           
            type="radio"
            v-model="prt_smoking_habits"
            :rules="[val => !!val || 'Field is required']"
          />
       </div>
    </div>
          

      <div class="row q-mt-md">
      <div class="col">
      <q-input  
      label="Have Childs*" 
      type="number" 
      outlined 
      v-model.number="have_childs" />
      </div>
      </div>


        <div class="row q-mt-md">
                             <div class="col">
                                  
                                <q-input 
                                outlined label="About Partner*" 
                                type="textarea"
                                v-model="about_partner" />

                            </div>
          </div>

<q-separator dark />  
<q-separator dark />  
      <h9><center>Partners Religious Information</center></h9>
      <q-separator spaced inset />

    <div class="row q-mt-md">
       <div class="col">
                                  
        <q-select
                v-model="partners_religion"
                outlined
                label=" Partners Religion*"
                :options="optpreligion"
                option-value="religion_id"
                option-label="religion_name"
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>

       </div>
    </div>


    <div class="row q-mt-md">
       <div class="col">
                                  
         <q-select
                v-model="partners_caste"
                outlined
                label=" partners Caste* "
                :options="optpcaste"
                option-value="caste_id"
                option-label="caste_name"
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>

       </div>
    </div>

    <div class="row q-mt-md">
       <div class="col">
                                  
         <q-select
                v-model="partners_sub_caste"
                outlined
                label="Partners SubCaste* "
                :options="optpscaste"
                option-value="subcaste_id"
                option-label="subcaste_name"
                map-options
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>

       </div>
    </div> 

    <div class="row q-mt-md">
       <div class="col">
                                  
         <q-select
                v-model="partners_rashi_name"
                outlined
                label=" Partners Start/Rashi* "
                :options="optprn"
                option-value="rashi_id"
                option-label="rashi_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>

       </div>
    </div>

<div class="row q-mt-md">
       <div class="col">
      <q-item-label class="q-mb-lg" style="font-weight"> Partners Manglik *</q-item-label>
       <q-option-group
            :options="optpmanglik"
            type="radio"
            v-model="partners_manglik"
            :rules="[val => !!val || 'Field is required']"
          />
       </div>
    </div>


        <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="partners_education"
                outlined
                label=" Partners Education* "
                :options="optpeducation"
                option-value="education_id"
                option-label="education_name"
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>

              <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="partners_occupation"
                outlined
                label="Partners Occupation* "
                :options="optpocc"
                option-value="occupation_id"
                option-label="occupation_name"
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>


        <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="annual_income_from"
                outlined
                label="Partners Income from* "
                :options="optpincomef"
                emit-value
                fill-input
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>

           <div class="row q-mt-md">
         <div class="col">
            <q-select
                v-model="annual_income_to"
                outlined
                label="Partners Income To* "
                :options="optpincomet"
              
                map-options
                emit-value
                fill-input
                
                :rules="[val => !!val || 'Field is required']">
            </q-select>
        </div>
        </div>



    </div>
       </q-card-section>
</q-card>
<q-separator dark />
<q-separator dark />
<q-separator dark />  



<q-card class="my-card">
       <q-card-section>
    <div class="q-pa-md">
      <h9><center>Photo Upload</center></h9>
      <q-separator spaced inset />
       <p><span class="err_spn">*</span> Select image from size 20 KB to 80 KB (Only JPG, JPEG, PNG and GIF image file types are allowed)</p>
                            <hr>

    <div class="row q-mt-md">
    <div class="col">
        <div class="col-5 bg-primary container text-center" style="font-size: 16px;" @change="previewImage_user">
           <input type="file" accept="image/*">
            <q-item-label class="text-white">Photo1<br/> </q-item-label><br/>
  </div>
        </div>
    </div>

            <div class="row q-mt-md">
    <div class="col">
        <div class="col-5 bg-primary container text-center" style="font-size: 16px;" @change="previewImage_user2">
           <input type="file" accept="image/*">
            <q-item-label class="text-white">Photo2<br/> </q-item-label><br/>
  </div>
        </div>
    </div>
        <div class="row q-mt-md">
    <div class="col">
        <div class="col-5 bg-primary container text-center" style="font-size: 16px;" @change="previewImage_user3">
           <input type="file" accept="image/*">
            <q-item-label class="text-white">Photo3<br/> </q-item-label><br/>
  </div>
        </div>
    </div>
    <br>


   <h9><center>Identity Proof Upload</center></h9>
      <q-separator spaced inset />

    <div class="row q-mt-md">
        <div class="col">
        <q-input  
        label="Adhaar Card Number" 
        type="number" 
        outlined 
        v-model.number="adhaar_card_number" />
        </div>
    </div>

    <div class="row q-mt-md">
    <div class="col">
        <div class="col-5 bg-primary container text-center" style="font-size: 16px;" @change="previewImage_user4">
           <input type="file" accept="image/*">
            <q-item-label class="text-white">Adhaar Card Photo<br/> </q-item-label><br/>
  </div>
        </div>
    </div>
 
    </div>
   </q-card-section>
</q-card>

<q-separator dark />
    <q-separator dark />
    <q-separator dark />
    
      <div class="row q-mt-md">
    <div class="col">
         <q-separator spaced inset />
                            <div align="center">
                                <q-btn  color="primary" label="Register" type="submit" />      
                            </div> 
                             </div>
 </div>   
   </q-form>
</template>

<script>
import { api } from 'boot/axios';
export default {

data(){
        return{
            photo1:'',
            photo2:'',
            photo3:'',
            adhaar_card_photocopy:'',

            fullname:'',
            gender: '',
            opt1: [
            { label: 'Male', value: 'Male' },
            { label: 'Female', value: 'Female' },
             ],
         
            date_of_birth:'',
            time_of_birth:'',
            birth_place:'',
            marital_status:'',
            optmsts:[],
            no_of_childrens:'',
            mother_tongue:'',
            optmt:[],
            religion:'',
            optreligion:[],
            caste:'',
            optcaste:[],
            sub_caste:'',
            optscaste:[],
            height:'',
            weight:'',
            blood_group:'',
            optbg:[],
            complexion:'',
            optcx:[],
            body_type:'',
            optbt:[],
            manglik:'',
            optmanglik: [
            { label: 'Yes', value: 'Yes' },
            { label: 'No', value: 'No' },
             ],
            gothram:'',
            rashi_name:'',
            optrn:[],
            eating_habits:'', 
            opteh: [
            { label: 'Vegetarian', value: 'Vegetarian' },
            { label: 'Non-Vegetarian', value: 'Non-Vegetarian' },
            { label: 'Eggetarian', value: 'Eggetarian' },
            ],
            drinking_habits:'',
            optdh: [
            { label: 'No', value: 'No' },
            { label: 'Occassionally', value: 'Occassionally' },
            { label: 'Yes', value: 'Yes' },
             ],
            smoking_habits:'',
            optsh: [
            { label: 'No', value: 'No' },
            { label: 'Occassionally', value: 'Occassionally' },
            { label: 'Yes', value: 'Yes' },
             ],
            disability_details:'',
            about_myself:'',
            state:'',
            optstate:[],
            district:'',
            optdist:[],
            city:'',
            optcity:[],
            current_address:'',
            pincode:'',
            phone_number:'',
            mobile_number:'',
            mobile_number2:'',
            state_ancestral:'',
            optancstate:[],
            district_ancestral:'',
            optancdist:[],
            city_ancestral:'',
            optanccity:[],
            current_address_ancestral:'',
            country:'',
            optcountry:[],
            nri_address:'',
            education:'',
            opteducation:[],
            qualification:'',
            optquali:[],
            more_information:'',
            occupation:'',
            optocc:[],
            sub_occupation:'',
            optsocc:[],
            employed_in:'',
            employed_income:'',
            annual_income:'',
            family_value:'',
            optfamilyv: [
            { label: 'Liberal', value: 'Liberal' },
            { label: 'Moderate', value: 'Moderate' },
            { label: 'Orthodox', value: 'Orthodox' },
            { label: 'Traditional', value: 'Traditional' },
             ],
            family_type:'',
            optfamilyt: [
            { label: 'Joint', value: 'Joint' },
            { label: 'Nuclear', value: 'Nuclear' },
             ],
            family_status:'',
            optfamilys: [
            { label: 'Affluent', value: 'Affluent' },
            { label: 'Middle Class', value: 'Middle Class' },
            { label: 'Rich', value: 'Rich' },
            { label: 'Upper Middle Class', value: 'Upper Middle Class' },
             ],
            fathers_name:'',
            fathers_occupation:'',
            mothers_name:'',
            mothers_occupation:'',
            no_of_brothers:'',
            brother_married:'',
            no_of_sisters:'',
            sister_married:'',
            surname_of_relatives:'',
            parental_details:'',
            partners_age_from:'',
            optptnagef: [
            { label: '21', value: '21' },
            { label: '22', value: '22' },
            { label: '23', value: '23' },
            { label: '24', value: '24' },
             ],
            partners_age_to:'',
            optptnaget: [
            { label: '21', value: '21' },
            { label: '22', value: '22' },
            { label: '23', value: '23' },
            { label: '24', value: '24' },
             ],
            partners_height_from:'',
            optptnheightf: [
            { label: '4.9', value: '4.9' },
            { label: '5.1', value: '5.1' },
            { label: '5.2', value: '5.2' },
            { label: '5.3', value: '5.3' },
             ],
            partners_height_to:'',
            optptnheightt: [
            { label: '5.1', value: '5.1' },
            { label: '5.2', value: '5.2' },
            { label: '5.3', value: '5.3' },
            { label: '5.4', value: '5.4' },
             ],
            partners_marital_status:'',
            optpmstatus:[],
            partners_mother_tongue:'',
            optpmtongue:[],
            prt_eating_habits:'',
            optpeh: [
            { label: 'Vegetarian', value: 'Vegetarian' },
            { label: 'Non-Vegetarian', value: 'Non-Vegetarian' },
            { label: 'Eggetarian', value: 'Eggetarian' },
            ],
            prt_drinking_habits:'',
            optpdh: [
            { label: 'Occassionally', value: 'Occassionally' },
            { label: 'No', value: 'No' },
            { label: 'Yes', value: 'Yes' },
             ],
            prt_smoking_habits:'',
            optpsh: [
            { label: 'Occassionally', value: 'Occassionally' },
            { label: 'No', value: 'No' },
            { label: 'Yes', value: 'Yes' },
             ],
            have_childs:'',
            about_partner:'',
            partners_religion:'',
            optpreligion:[],
            partners_caste:'',
            optpcaste:[],
            partners_sub_caste:'',
            optpscaste:[],
            partners_rashi_name:'',
            optprn:[],
            partners_manglik:'',
            optpmanglik:[
            { label: 'No', value: 'No' },
            { label: 'Yes', value: 'Yes' },
             ],
            partners_education:'',
            optpeducation:[],
            partners_occupation:'',
            optpocc:[],
            annual_income_from:'',
            optpincomef: [
            { label: '3k', value: '3k' },
            { label: '5k', value: '5k' },
            { label: '10k', value: '10k' },
            { label: '15k', value: '15k' },
             ],
            annual_income_to:'',
            optpincomet: [
            { label: '3k', value: '3k' },
            { label: '5k', value: '5k' },
            { label: '10k', value: '10k' },
            { label: '15k', value: '15k' },
             ],
            adhaar_card_number:'',
        }
    },
    mounted()
    {
         api.get('maritalstatus/')
                .then((response) => {
                  console.log(response)
                  this.optmsts=response.data
            
                //   for(var i=0; i<response.data.length; i++)
                //   {
                //     this.options1.push({name:response.data[i].marital_status_name,id:response.data[i].marital_status_id});
                //   }
                //   console.log(this.options1)
                  
             })
             api.get('mothertongue/')
                .then((response) => {
                  console.log(response)
                  this.optmt=response.data                  
             })
            api.get('religion/')
                .then((response) => {
                  console.log(response)
                  this.optreligion=response.data                  
             })
            api.get('caste/')
                .then((response) => {
                  console.log(response)
                  this.optcaste=response.data                  
             })
            api.get('subcaste/')
                .then((response) => {
                  console.log(response)
                  this.optscaste=response.data                  
             })
         
            api.get('bloodgroup/')
                .then((response) => {   
                  console.log(response)
                  this.optbg=response.data                  
             })
            api.get('complexion/')
                 .then((response) => {
                   console.log(response)
                  this.optcx=response.data                  
              })
             api.get('bodytype/')
                 .then((response) => {
                   console.log(response)
                   this.optbt=response.data                  
              })
                api.get('rashi/')
                 .then((response) => {
                   console.log(response)
                   this.optrn=response.data                  
              })
                api.get('state/')
                 .then((response) => {
                   console.log(response)
                   this.optstate=response.data                  
              })
                api.get('district/')
                 .then((response) => {
                   console.log(response)
                   this.optdist=response.data                  
              })
                api.get('city/')
                 .then((response) => {
                   console.log(response)
                   this.optcity=response.data                  
              })
                api.get('state/')
                 .then((response) => {
                   console.log(response)
                   this.optancstate=response.data                  
              })
                api.get('district/')
                 .then((response) => {
                   console.log(response)
                   this.optancdist=response.data                  
              })
                api.get('city/')
                 .then((response) => {
                   console.log(response)
                   this.optanccity=response.data
                 })
                api.get('country/')
                 .then((response) => {
                   console.log(response)
                   this.optcountry=response.data                  
              })
                api.get('education/')
                 .then((response) => {
                   console.log(response)
                   this.opteducation=response.data                  
              })
                api.get('qualification/')
                 .then((response) => {
                   console.log(response)
                   this.optquali=response.data                  
              })
                api.get('occupation/')
                 .then((response) => {
                   console.log(response)
                   this.optocc=response.data                  
              })
                api.get('suboccupation/')
                 .then((response) => {
                   console.log(response)
                   this.optsocc=response.data                  
              })
              api.get('preligion/')
                .then((response) => {
                  console.log(response)
                  this.optpreligion=response.data                  
             })
            api.get('pcaste/')
                .then((response) => {
                  console.log(response)
                  this.optpcaste=response.data                  
             })
            api.get('psubcaste/')
                .then((response) => {
                  console.log(response)
                  this.optpscaste=response.data                  
             })
            api.get('prashi/')
                 .then((response) => {
                   console.log(response)
                   this.optprn=response.data                  
              })
            api.get('peducation/')
                 .then((response) => {
                   console.log(response)
                   this.optpeducation=response.data                  
              })
            api.get('poccupation/')
                 .then((response) => {
                   console.log(response)
                   this.optpocc=response.data                  
              })
              api.get('pmaritalstatus/')
                .then((response) => {
                  console.log(response)
                  this.optpmstatus=response.data
             })
             api.get('pmothertongue/')
                .then((response) => {
                  console.log(response)
                  this.optpmtongue=response.data                  
             })
              


                 
     },
    
 methods:{
     onSubmit(){
            console.log('submit');
            var postdata = {
                fullname:this.fullname,
                gender:this.gender,
                date_of_birth:this.date_of_birth,
                //time_of_birth:this.time_of_birth,
                birth_place:this.birth_place,
                marital_status:this.marital_status,
                no_of_childrens:this.no_of_childrens,
                mother_tongue:this.mother_tongue,
                religion:this.religion,
                caste:this.caste,
                sub_caste:this.sub_caste,
                height:this.height,
                weight:this.weight,
                blood_group:this.blood_group,
                complexion:this.complexion,
                body_type:this.body_type,
                manglik:this.manglik,
                gothram:this.gothram,
                rashi_name:this.rashi_name,
                eating_habits:this.eating_habits,
                drinking_habits:this.drinking_habits,
                smoking_habits:this.smoking_habits,
                disability_details:this.disability_details,
                about_myself:this.about_myself,
                state:this.state,
                district:this.district,
                city:this.city,
                current_address:this.current_address,
                pincode:this.pincode,
                phone_number:this.phone_number,
                mobile_number:this.mobile_number,
                mobile_number2:this.mobile_number2,
                state_ancestral:this.state_ancestral,
                mobile_number2:this.mobile_number2,
                state_ancestral:this.state_ancestral,
                district_ancestral:this.district_ancestral,
                city_ancestral:this.city_ancestral,
                current_address_ancestral:this.current_address_ancestral,
                country:this.country,
                nri_address:this.nri_address,
                education:this.education,
                qualification:this.qualification,
                more_information:this.more_information,
                occupation:this.occupation,
                sub_occupation:this.sub_occupation,
                employed_in:this.employed_in,
                annual_income:this.annual_income,
                family_value:this.family_value,
                family_type:this.family_type,
                family_status:this.family_status,
                fathers_name:this.fathers_name,
                fathers_occupation:this.fathers_occupation,
                mothers_name:this.mothers_name,
                mothers_occupation:this.mothers_occupation,
                no_of_brothers:this.no_of_brothers,
                brother_married:this.brother_married,
                no_of_sisters:this.no_of_sisters,
                sister_married:this.sister_married,
                surname_of_relatives:this.surname_of_relatives,
                parental_details:this.parental_details,
                partners_age_from:this.partners_age_from,
                partners_age_to:this.partners_age_to,
                partners_height_from:this.partners_height_from,
                partners_height_to:this.partners_height_to,
                partners_marital_status:this.partners_marital_status,
                partners_mother_tongue:this.partners_mother_tongue,
                prt_eating_habits:this.prt_eating_habits,
                prt_drinking_habits:this.prt_drinking_habits,
                prt_smoking_habits:this.prt_smoking_habits,
                have_childs:this.have_childs,
                about_partner:this.about_partner,
                partners_religion:this.partners_religion,
                partners_caste:this.partners_caste,
                partners_sub_caste:this.partners_sub_caste,
                partners_rashi_name:this.partners_rashi_name,
                partners_manglik:this.partners_manglik,
                partners_education:this.partners_education,
                partners_occupation:this.partners_occupation,
                annual_income_from:this.annual_income_from,
                annual_income_to:this.annual_income_to,
                photo1:this.photo1,
                photo2:this.photo2,
                photo3:this.photo3,
                adhaar_card_number:this.adhaar_card_number,
                adhaar_card_photocopy:this.adhaar_card_photocopy,
                
            };
             api.post('register/', postdata)
                .then((response) => {
                    console.log(response);
                    console.log(response.config.data, '****----');
                    console.log(response.status);
                    //this.$router.push('/brides');
                    
                })

        },
   
      
     previewImage_user: function(event) {
        
            var input = event.target;
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = (e) => {
                    this.photo1 = e.target.result;
                }
               
                reader.readAsDataURL(input.files[0]);
            }
        },
        previewImage_user2: function(event) {
        
            var input = event.target;
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = (e) => {
                    this.photo2 = e.target.result;
                }
               
                reader.readAsDataURL(input.files[0]);
            }
        },
        previewImage_user3: function(event) {
        
            var input = event.target;
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = (e) => {
                    this.photo3 = e.target.result;
                }
               
                reader.readAsDataURL(input.files[0]);
            }
        },
             previewImage_user4: function(event) {
        
            var input = event.target;
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = (e) => {
                    this.adhaar_card_photocopy = e.target.result;
                }
               
                reader.readAsDataURL(input.files[0]);
            }
        }
        
  },
       
} 
</script>
<style>
img.preview {
    width: 200px;
    background-color: white;
    border: 1px solid #DDD;
    padding: 5px;
}
</style>