<template>
   <q-form @submit="onSubmit">
    <q-card class="my-card">
       <q-card-section>
       <div class="q-pa-md">

        <center>Tell Story</center>
        <q-separator spaced inset /> 
                      <div class="row q-mt-md">
                             <div class="col">
                                  
                                <q-input outlined label="Your Name*" v-model="your_name" :rules="[val => !!val || 'Field is required']"/>

                            </div>
                       </div>

                          <div class="row q-mt-md">
                             <div class="col">
                                  
                                <q-input outlined label="Your Partners Name*" v-model="partner_name" :rules="[val => !!val || 'Field is required']"/>

                            </div>
                       </div>


<div class="row q-mt-md">
            <div class="col">
            <q-item-label class="q-mb-lg" style="font-weight">Your Wedding Date*</q-item-label>
            <q-input outlined 
                     v-model="wedding_date" 
                      
                     :rules="[val => !!val || 'Field is required']">
                      <template v-slot:append>
                                            <q-icon name="event" class="cursor-pointer">
                                            <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                                                <q-date v-model="wedding_date"  mask="YYYY-MM-DD"/>
                                            </q-popup-proxy>
                                            </q-icon>
                                        </template>
        </q-input> 
    </div>
</div>
    <div class="row q-mt-md">
       <div class="col">
       <q-input 
        outlined
        label="Tell us story *" 
        filled
        type="textarea"
        v-model="story" 
        :rules="[val => !!val || 'Field is required']"/>
       </div>
    </div>
     <div class="row q-mt-md">
    <div class="col">
        <div class="col-5 bg-primary container text-center" style="font-size: 16px;" @change="previewImage_user">
           <input type="file" accept="image/*">
            <q-item-label class="text-white">Photo<br/> </q-item-label><br/>
  </div>
        </div>
    </div>

    </div>
   </q-card-section>
</q-card>   
      <div class="row q-mt-md">
    <div class="col">
         <q-separator spaced inset />
                            <div align="center">
                                <q-btn  color="primary" label="Submit" type="submit" />      
                            </div> 
                             </div>
 </div>   
   </q-form>
</template>

<script>
import { api } from 'boot/axios';
export default {

data(){
        return{
            
            your_name:'',
            partner_name:'',
            wedding_date:'',
            photo:'',
            story:'',
      }
},
  methods:{
            onSubmit(){
                var postdata = {
                    photo:this.photo,
                    your_name:this.your_name,
                    partner_name:this.partner_name,
                    wedding_date:this.wedding_date,
                    story:this.story,
                   
            };
            api.post('tellstory/', postdata)
                .then((response) => {
                console.log(response);
                console.log(response.config.data, '****----');
                console.log(response.status);
                
              
                    
                })

     },
 
    previewImage_user: function(event) {
        
            var input = event.target;
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = (e) => {
                    this.photo = e.target.result;
                }
               
                reader.readAsDataURL(input.files[0]);
            }
        }
}
}
</script>

<style>

</style>