<template>
  <q-card class="my-card">
       <q-card-section>
    <div class="q-pa-md">
       <center>Franchise Register</center>
        <q-separator spaced inset /> 
        <div class="row q-mt-md"  style="text-align:justify">
        <div class="col">

            <ol>
<li>Jeevanmeet.com site is a Matrimonial project of Dev Solutions, and all rights are reserved to Dev Solution.</li>
<li> Whatever information about the matrimonial candidates supplied to you is based on the Information supplied by candidates.</li>
<li>  We do not guarantee about the truthfulness of the Information received by us. The concerned are directed to verify and satisfy themselves about the same, by any other mode of their choice.</li>
<li> The accessibility of the website from any location depends upon the factors, which are not controlled by us. So we do not give the guarantee of the accessibility of website, from all locations.</li>
<li> The information and photograph of the candidate is available on the internet, hence we do not give guarantee that the information and photograph will not be misused. Also we use your Profile on Social Media Platform for your Benefit.</li>
<li> After registration member's information will be accessible to all registered candidates.</li>
<li> The Registration charges are taken only to put your form on our website. Registration fees are Non-Refundable.</li>
<li> Jeevanmeet.com will take care of all the database of members on Jeevanmeet.com, but by mistake of any technical errors database is lost, Jeevanmeet.com will not be responsible.</li>
<li> Approvals from company side will be done after cash is received or cheque/DD clearance is done for appropriate members send by Franchise.</li>
<li> While registering Members under Franchise, Members should know that their profiles will be listed on JeevanMeet's Site for period as per scheme.</li>
<li> Availability of website depends on various factors and external agencies which are beyond control of Dev Solutions and Dev Solutions does not give guarantee of 24X7 availability.</li>
<li> Members profile which has been uploaded by franchise, Franchise will be responsible for data of the profile holders which has been uploaded by the franchise, till the profile holder does not edit/change the data.</li>
<li> Profile holder should change his password at regular interval and should not share the same to secure his data.</li>
<li> Profile holder will receive email’s till his profile is on JeevanMeet.com website.</li>
<li> Profile holder can view maximum 6 profile's contact details in 3 days. </li>
<li> Disputes - If there is any dispute about or involving the Site and/or the Service,
 by using the Site, you agree that the dispute will be governed by the laws of India.
 You agree to the exclusive jurisdiction to the courts of Indapur, Tal - Indapur, Dist - Pune, India.</li>
<li> Right of "Approval of Profile" is reserved with Admin of JeevanMeet.com. No compulsion shall be done by Profile Holder for approval his/her Profile from any third party.
</li> 
<li>If we receive Complaint Regarding Specific Profile or if we find a Profile indulging in misuse of Website, Website admin has rights to delete his/her profile.</li>
<li>If a Profile Holder is found, not receiving calls from existing Profile Holders of JeevanMeet.com or JeevanMeet.com Team then his/her Profile will be Deleted.
 Profile Holders should call other Profile Holders regarding his/her Marriage purpose only, 
 else his/her Profile will be Deleted.</li>
<li> Profile holder's Profile will have maximum validity of one Year on Website. </li>
             </ol>
        </div>
        </div>
    </div>
       </q-card-section>
       
  </q-card>
</template>

<script>
export default {

}
</script>

<style>

</style>