<template>
    <q-card flat bordered class="my-card q-ma-lg">
   <div class="row">
    <div class="col-12">
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >ID:</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.user_id}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Name:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.fullname}}</q-item-label>
           </div>
         </div>
     
            <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Online Payment</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.amount}}</q-item-label>
           </div>
         </div>
      
    </div>
   </div>
    </q-card>
  
  
</template>

<script>
import { api } from 'boot/axios';
import { LocalStorage,useQuasar } from 'quasar'
export default {

data(){
        return{
          data:[],
          id:'',
          user_id:'',

            
        }
    },
    mounted(){
       let id = this.$route.params.user_id
              console.log(id)
              let user_id =  localStorage.getItem('user_id')
            api.get('userinfo/'+user_id)
               .then((response) => {
                 console.log(response)
                 this.data = response.data
               console.log(this.data)
               })
             
}
}


</script>
<style>
.my-card1{
  width: 100%;
  max-width: 350px;
}
</style>