<template>
<q-card flat bordered class="my-card q-ma-lg">
  <div class="row">
    <div class="col-12">

      <div class="q-pa-md" >
       <center>Search By Profile Id</center>
        <q-separator spaced inset />
                        <div class="row q-mt-md">
                             <div class="col">
                                  
                                
                        <q-input outlined bottom-slots v-model="user_id" label="Search" dense>
      
                           </q-input>
                            </div>
                        </div>
    
       <div class="row q-ma-md">
      <div class="col-12">
            <q-btn class="full-width" label="Search By Profile Id" @click="search(user_id)" type="submit" color="red-14"/> 
      </div>
      </div>
    

<!--startlist-->

<div v-for="(item, key) in iddata" :key="key">
      
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >ID:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.user_id}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Name:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.fullname}}</q-item-label>
           </div>
         </div>
     
            <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Online Payment</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{item.mother_tongue}}</q-item-label>
           </div>
         </div>
          <q-card flat bordered class="my-card ">
    
           <div class="row q-ma-md">
      <div class="col-12">
            <q-btn class="full-width" label="Confirm" @click="confirm(item.user_id)" type="submit" color="red-14"/> 
      </div>
      </div>
      </q-card>
         
</div> 
  </div>
    </div>
  </div>
</q-card>
<q-separator/>

   <q-card flat bordered class="my-card q-ma-lg">
   <div class="row">
    <div class="col-12">
                <center>{{data.plan_name}}</center>
                <q-separator spaced inset /> 
             </div>
         </div>
           <div class="row">
             <div class="col">
                <center>{{data.amount}}</center>
                <q-separator spaced inset /> 
             </div>
         </div>
           <div class="row">
             <div class="col">
                <center>{{data.days}}</center>
                <q-separator spaced inset /> 
             </div>
         </div>  
         <div class="row">
             <div class="col">
                <center>{{data.profiles}}</center>
                <q-separator spaced inset /> 
             </div>
         </div>                 
             
   </q-card>

    

</template>

<script>
import { api } from 'boot/axios';
import { LocalStorage, useQuasar } from 'quasar'
export default {

data(){
        return{
            user_id:'',
            iddata:[],
            marital_status:'',
            mother_tongue:'',
            religion:'',
            caste:'',
            sub_caste:'',
            height:'',
            weight:'',
            blood_group:'',
            complexion:'',
            body_type:'',
            manglik:'',


            data:[],
            id:'',
        
        }
    },
    mounted(){
              let id = this.$route.params.plan_id
              console.log(id)
              let plan_id =  localStorage.getItem('plan_id')
            api.get('detail-plan/'+plan_id)
               .then((response) => {
                 console.log(response)
                 this.data = response.data
               console.log(this.data)
               })
               //api.get('upgrade-plan/')
               //.then((response) => {
              // console.log(response)
             // this.user_id=response.data
              // console.log(this.user_id)
         
              // })
              //    api.get('userinfo/')
              //  .then((response) => {
              //  console.log(response)
              // this.iddata=response.data
              //  console.log(this.iddata)
         
              //  })
          },
          


    methods:{
  
           search(user_id){
            console.log(user_id)
            api.get('idsearch/?search='+user_id)
           .then((response) => {
           console.log(response.data.results)
          //  this.marital_status=response.data.marital_status
          //   console.log(this.marital_status)
          //  this.mother_tongue=response.data.mother_tongue

           this.iddata=response.data.results
           })
      },
      

      confirm(user_id)
      {
        console.log(user_id)
        localStorage.setItem("user_id",user_id)
        this.$router.push('/upgradauser/'+user_id)
      }
     

     }
    }
</script>
<style>

</style>