<template>
  <div class="row">

      <div class="text-h5 text-bold  q-px-md q-pl-sm">Card </div>
  </div>

  <div class="row">
    <div class="col-12 col-md">
    <div class="q-pa-md">
    <q-card class="my-card">
      <q-video src="https://www.youtube.com/embed/k3_tw44QsZQ?rel=0" />

      <q-card-section>
        <div class="text-h6">Success Story</div>
        <div class="text-subtitle2"></div>
      </q-card-section>

      <q-card-section class="q-pt-none">
       JeevanMeet is Web based matrimonial service provider serving Indian market from year 2010. Our vision is to make marriage search a easy and effortless process through our franchise network which can help finding life partner and get people married by working as proper mediator.
        The mission of JeevanMeet.com is to give a friendly atmosphere to the parents who are looking for in law for there loved one.
      </q-card-section>
    </q-card>.
  </div>
</div> 
<div class="col-12 col-md">
    <div class="q-pa-md">
    <q-card class="my-card">
      <q-video src="https://www.youtube.com/embed/k3_tw44QsZQ?rel=0" />

      <q-card-section>
        <div class="text-h6">Success Story</div>
        <div class="text-subtitle2"></div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        JeevanMeet is Web based matrimonial service provider serving Indian market from year 2010. Our vision is to make marriage search a easy and effortless process through our franchise network which can help finding life partner and get people married by working as proper mediator. 
        The mission of JeevanMeet.com is to give a friendly atmosphere to the parents who are looking for in law for there loved one.
      </q-card-section>
    </q-card>.
  </div>
</div> 
<div class="col-12 col-md">
    <div class="q-pa-md">
    <q-card class="my-card">
      <q-video src="https://www.youtube.com/embed/k3_tw44QsZQ?rel=0" />

      <q-card-section>
        <div class="text-h6">Our Changing Planet</div>
        <div class="text-subtitle2">by John Doe</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </q-card-section>
    </q-card>.
  </div>
</div> 
</div>



</template>

<script>
export default {

}
</script>

<style>

</style>