<template>
  
      <div class="q-pa-md">
          <q-btn flat @click="backpage" color="primary" label="Back" align="right" />
          <q-card flat bordered class="my-card q-ma-lg">
       
          <div class="q-col-gutter-md row items-start">
      <div class="col-12" text-center>
        <img 
          :src="'http://127.0.0.1:8000/'+data.photo1" 
          :ratio="1"
          style="width:300px"
          
        /> 
                 <div class="col-md-2 text-center q-pt-md">
          <q-btn @click="viewprofile" color="primary" label=" Login To View  Complete Profile" /> 
          
          <!--<q-btn color="red" @click="deleteRowNominee(k, nominee)" icon="delete" /> -->
                               
          </div> 
          </div>
      </div> 
        
          </q-card>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >ID:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.user_id}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Full Name:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.fullname}}</q-item-label>
           </div>
         </div>
            <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Gender:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.gender}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Date of Birth:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.date_of_birth}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Birth Place:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.birth_place}}</q-item-label>
           </div>
         </div>
   
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Height:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.height}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Weight:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.weight}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Blood Group:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.blood_group}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Body Type:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.body_type}}</q-item-label>
           </div>
         </div>
        <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Complexion:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.complexion}}</q-item-label>
           </div>
         </div>
        <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Marital Status:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.marital_status}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Mother Tongue:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.mother_tongue}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Have a Childs:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.have_childs}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Eating Habits:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.eating_habits}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Drinking Habits:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.drinking_habits}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Smoking Habits:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.smoking_habits}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Phone Number:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.phone_number}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Mobile Number:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.mobile_number}}</q-item-label>
           </div>
         </div>
                   <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Alternative  Number:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.mobile_number2}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Physical Disability:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.disability_details}}</q-item-label>
           </div>
         </div><br/>
      <q-separator /><q-separator /><br/>
          <div text-right>
            <q-item-label > Religious Information</q-item-label>
           </div><br/>


            <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Religion:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.religion}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Caste:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.caste}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Subcaste:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.sub_caste}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Start Rashi:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.rashi_name}}</q-item-label>
           </div>
         </div>
                  <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Maglik Status:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.manglik}}</q-item-label>
           </div>
         </div>
                  <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Gothram:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.gothram}}</q-item-label>
           </div>
         </div>

         <br/>
      <q-separator /><q-separator /><br/>
          <div text-right>
            <q-item-label>Family Information</q-item-label>
           </div><br/>


            <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Family Type:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.family_type}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Family Status:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.family_status}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Family Value:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.family_value}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Father Name:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.fathers_name}}</q-item-label>
           </div>
         </div>
                  <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Father Occupation:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.fathers_occupation}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Mother Name:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.mothers_name}}</q-item-label>
           </div>
         </div>
        <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Mother Occupation:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.mothers_occupation}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label>No Of Brothers:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.no_of_brothers}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Brothers married:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.brother_married}}</q-item-label>
           </div>
         </div>
        <div class="row" text-center>
            <div class="col-6">
            <q-item-label>NO Of Sister:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.no_of_sisters}}</q-item-label>
           </div>
         </div>
        <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Sister married:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.sister_married}}</q-item-label>
           </div>
         </div>
        <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Surname of Relatives:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.surname_of_relatives}}</q-item-label>
           </div>
         </div>
                 <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Parental Details:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.parental_details}}</q-item-label>
           </div>
         </div><br/>
               <q-separator /><q-separator /><br/>
          <div text-right>
            <q-item-label>Professional Information</q-item-label>
           </div><br/>


            <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Educations:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.education}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Qualification:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.qualification}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Occupation:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.occupation}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>More Information:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.more_information}}</q-item-label>
           </div>
         </div>
                  <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Employed In:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.employed_in}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Annual Income:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.annual_income}}</q-item-label>
           </div>
         </div>
        

         <br/>
               <q-separator /><q-separator /><br/>
          <div text-right>
            <q-item-label>Location</q-item-label>
           </div><br/>


            <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Current Address:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.current_address}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Pincode:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.pincode}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Current Loction:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.city}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>City Ancestral:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.city_ancestral}}</q-item-label>
           </div>
         </div>
                  <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Current Address Ancestral:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.current_address_ancestral}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Country:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.country}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Nri Address:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.nri_address}}</q-item-label>
           </div>
         </div>

         <br/>
               <q-separator /><q-separator /><br/>
          <div text-right>
            <q-item-label>About Myself</q-item-label>
           </div><br/>


            <div class="row" text-center>
            <div class="col-6">
            <q-item-label >About Myself:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.about_myself}}</q-item-label>
           </div>
         </div>
         
                  <br/>
               <q-separator /><q-separator /><br/>
          <div text-right>
            <q-item-label>Partner Preferences</q-item-label>
           </div><br/>


            <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Age To:-</q-item-label>
           </div><div class="col-6">
            <q-item-label >{{data.partners_age_from}} to {{data.partners_age_to}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label >Height:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.partners_height_from}} to {{data.partners_height_to}} </q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Mother Tongue:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.partners_mother_tongue}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Marital Status:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.partners_marital_status}}</q-item-label>
           </div>
         </div>
                  <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Have Childs:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.have_childs}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Eating Habits:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.prt_eating_habits}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Drinking Habits:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.prt_drinking_habits}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Smoking Habits:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.prt_smoking_habits}}</q-item-label>
           </div>
         </div>
        <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Religion:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.partners_religion}}</q-item-label>
           </div>
         </div>
         <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Caste:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.partners_caste}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Sub Caste:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.partners_sub_caste}}</q-item-label>
           </div>
         </div>
        <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Rashi Name:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.partners_rashi_name}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Manglik:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.partners_manglik}}</q-item-label>
           </div>
         </div>
        <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Educations:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.partners_education}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Occupation:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.partners_occupation}}</q-item-label>
           </div>
         </div>
        <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Physical Disability:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.disability_details}}</q-item-label>
           </div>
         </div>
          <div class="row" text-center>
            <div class="col-6">
            <q-item-label>Partners Income:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.annual_income_from}} to {{data.annual_income_to}}</q-item-label>
           </div>
         </div>
                   <div class="row" text-center>
            <div class="col-6">
            <q-item-label>About Partners:-</q-item-label>
           </div>
            <div class="col-6">
            <q-item-label >{{data.about_partner}}</q-item-label>
           </div>
         </div>
         

 






      
      </div>
</template>

<script>
import { api } from 'boot/axios';
import { LocalStorage } from 'quasar'
export default {

data(){

  
        return{
           data:[],
           id:'',
            
        }
    },
    mounted(){
             let id = this.$route.params.user_id
             console.log(id)
             let user_id =  localStorage.getItem('user_id')
            api.get('detail-bridesget/'+user_id)
               .then((response) => {
                 console.log(response)
                this.data = response.data
                console.log(this.data)
               })
},
methods:{

        viewprofile()
        {
        this.$router.push('/login'); 
        },
        backpage()
        {
        this.$router.push('/bridespage'); 
        },
    }
}
</script>
<style>
.my-card1{
  width: 100%;
  max-width: 350px;
}
</style>