<template>
  <div class="q-pa-md">

    <q-list>
        <!-- <q-item>
        <q-item-section>
        <div class="row justify-center" style="font-weight:bold">{{$t('Reg_no')}}. - {{reg_id}} </div>
        </q-item-section>
        </q-item> -->
        <div v-for="(obj, key) in bride" :key="key">
          
               <q-separator spaced inset />

      <q-item>
        <q-item-section>
                <div class="row justify-center">
                <div class="col-6">
                    <q-item-label>user id</q-item-label>
                </div>
                <div class="col-6">
                    {{obj.user_id}}
                </div>
                </div>
        </q-item-section>
      </q-item>
       
      
      <q-separator spaced inset />
      <q-item >
        <q-item-section>
                <div class="row justify-center">
                  <img :src="'http://127.0.0.1:8000/'+obj.photo1"  style="max-width: 800px; height: 200px;">
                </div>
        </q-item-section>
      </q-item>
        </div>
    </q-list>
  </div>
</template>
<script>
import { LocalStorage,useQuasar } from 'quasar'
import { ref } from 'vue'
import { api } from 'boot/axios'

export default {
  data () {
    const $q = useQuasar()

    return {
        bride:[],
        
    }
  },
 mounted (){
             var user_id = localStorage.getItem('user_id');
            console.log(user_id)
            api.get('detail-bridesget/'+user_id)
               .then((response) => {
                this.bride = response.data
                console.log(this.bride)
               })
},
  methods:{
     
}
}
</script>
