{% extends 'reports/adminbase.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    
    <!-- Main content -->
    <br>
    <section class="content">
      <div class="container-fluid">
<div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">FranchiseRegister Form</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.errors }}
                <div class="card-body">
                  <div class="row">
                  <div class="col-4">
                    <label for="code">Email</label>
                    {{ form.email|add_class:"form-control" }}                 
                  </div>
                  <div class="col-4">
                    <label for="full_name_ma">Passwords</label>
                    {{ form.password|add_class:"form-control" }}                  
                  </div>
                  <div class="col-4">
                    <label for="f_name_ma">Repassword</label>
                    {{ form.repassword|add_class:"form-control" }}                  
                  </div>
                </div>
                  <div class="row">
                  <div class="col-4">
                    <label for="m_name_ma">Franchise Name</label>
                    {{ form.franchise_name|add_class:"form-control" }}
                  </div>
                  <div class="col-4">
                    <label for="l_name_ma">Owner name</label>
                    {{ form.owner_name|add_class:"form-control" }}                  
                  </div>
                  <div class="col-4">
                    <label for="full_name_en">Mobile Number</label>
                    {{ form.mobile_number|add_class:"form-control" }}                  
                  </div>
                </div>
                  <div class="row">
                  <div class="col-4">
                    <label for="f_name_en">Mobile number2</label>
                    {{ form.mobile_number2|add_class:"form-control" }}             
                  </div>
                  <div class="col-4">
                    <label for="m_name_en">Country</label>
                    {{ form.country|add_class:"form-control" }}                  
                  </div>
                  <div class="col-4">
                    <label for="l_name_en">State</label>
                    {{ form.state|add_class:"form-control" }}                  
                  </div>
                </div>
                  <div class="row">
                  <div class="col-4">
                    <label for="village_ma">District</label>
                    {{ form.district|add_class:"form-control" }}                  
                  </div>
                  <div class="col-4">
                    <label for="village_en">City</label>
                    {{ form.city|add_class:"form-control" }}                  
                  </div>
                  <div class="col-4">
                    <label for="taluka_ma">Current Address</label>
                    {{ form.current_address|add_class:"form-control" }}                  
                  </div>
                </div>
                  <div class="row">
                  <div class="col-4">
                    <label for="taluka_en">Images</label>
                    {{ form.images|add_class:"form-control" }}
                  </div>
                  
                 <!--  <div class="col-4">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">                  
                  </div> -->
                </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>


  {% endblock %}