{% extends 'reports/adminbase.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    
    <!-- Main content -->
    <br>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-1">
            <a href="{% url 'add-franchiseregister' %}" class="btn btn-primary btn-sm float-right">Add Franchise</a> 
            </div>
        </div>
        <br>

           <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <!-- Default box -->
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Search Criteria</h3>

                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                          <i class="fas fa-minus"></i>
                        </button>

                      </div>
                    </div>
                    <div class="card-body">
                       <form method="get" id="search-form">

                <div class="row texture" style="margin-top:5px">

                  <div class="col-md-2">Email</div>
                  <div class="col-md-4">{{ form.email|add_class:"form-control" }}</div>

                   <div class="col-md-2">Passwords</div>
                  <div class="col-md-4">{{ form.password|add_class:"form-control" }}</div>

                  <div class="col-md-2">Repassword</div>
                  <div class="col-md-4">{{ form.repassword|add_class:"form-control" }}</div>
                  
                  <div class="col-md-2">Franchise Name</div>
                  <div class="col-md-4">{{ form.franchise_name|add_class:"form-control" }}</div>
                  
                  <div class="col-md-2">Owner Name</div>
                  <div class="col-md-4">{{ form.owner_name|add_class:"form-control" }}</div>
                  
                  <div class="col-md-2">Mobile Number</div>
                  <div class="col-md-4">{{ form.mobile_number|add_class:"form-control" }}</div>
                  
                  <div class="col-md-2">Mobile Number2</div>
                  <div class="col-md-4">{{ form.mobile_number2|add_class:"form-control" }}</div>
                  
                  <div class="col-md-2">Country</div>
                  <div class="col-md-4">{{ form.country|add_class:"form-control" }}</div>
                  
                  <div class="col-md-2">State</div>
                  <div class="col-md-4">{{ form.state|add_class:"form-control" }}</div>
                  
                  <div class="col-md-2">District</div>
                  <div class="col-md-4">{{ form.district|add_class:"form-control" }}</div>
                  
                  <div class="col-md-2">City </div>
                  <div class="col-md-4">{{ form.city|add_class:"form-control" }}</div>
                  
                  <div class="col-md-2">Current Address</div>
                  <div class="col-md-4">{{ form.current_address|add_class:"form-control" }}</div>
                  
                  <div class="col-md-2">Images</div>
                  <div class="col-md-4">{{ form.images|add_class:"form-control" }}</div>
                  
                  
                  
                  

                  
              </div>
              


                <div class="row" style="margin-top:10px">
                 <div class="col-md-1 col-md-offset-4">
                  <input type="submit" name="submit" class="btn btn-primary btn-sm" Value="search">
                </div>
                <div class="col-md-1">
                <a href="#" class="btn btn-primary btn-sm">Reset</a> 
                </div>
              </div>
          </form>
                      
                    </div>
                    <!-- /.card-body -->
                 
                  </div>
                  <!-- /.card -->
                </div>
              </div>
            </div>
          </section>
        
      
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">FranchiseRegister List</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                   
                      <th>Email</th>
                      <th>Passwords</th>
                      <th>Repassword</th>
                      <th>Franchise Name</th>
                      <th>Owner Name</th>
                      <th>Mobile Number</th>
                      <th>Mobile Number2</th>
                      <th>Country</th>
                      <th>State</th>
                      <th>District</th>
                      <th>City</th> 
                      <th>Current Address</th>
                      <th>Images</th>

                     
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% for sample in object_list %}
                    <tr>
                    
                      <td>{{ sample.email }}</td>
                      <td>{{ sample.password }}</td>
                      <td>{{ sample.repassword }}</td>
                      <td>{{ sample.franchise_name }}</td>
                      <td>{{ sample.owner_name }}</td>
                      <td>{{ sample.mobile_number }}</td>
                      <td>{{ sample.mobile_number2 }}</td>
                      <td>{{ sample.country }}</td>
                      <td>{{ sample.state }}</td>
                      <td>{{ sample.district }}</td>
                      <td>{{ sample.city }}</td>
                      <td>{{ sample.current_address }}</td>
                      <td>{{ sample.images }}</td>
                    
                      
                      <td>
                        <a href="{% url 'edit-franchiseregister' sample.email %}" class="btn btn-default btn-xs" data-target="#editmyModal" data-toggle="tooltip" title="Edit">
                         <i class="fas fa-edit"></i>
                        </a> 
                         <a href="{% url 'detail-franchiseregister' sample.email %}" class="btn btn-default btn-xs" data-target="#editmyModal" data-toggle="tooltip" title="Edit">
                            <i class="fas fa-info-circle"></i>
                          </a>
                      </td>
                    </tr>
                   
                   {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  {% endblock %}
