
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>JeevanMeet | Leading India Matrimonials</title>
    
    <meta name="description" content="JeevanMeet Matrimonial - India's Leading Matrimonial Services From JeevanMeet.com Register FREE !!">
     <meta name="keyword" content="Maratha Matrimonial, Marathi Matrimonials,
    Marathi Matrimony, Maharashtra , Mumbai, Satara, Kolhapur, Nashik, Pune, Solapur, Nagpur, Jalgaon, Ratnagiri, Aurangabad, marrige, Shadi, matrimonial site,
    maratha matrimonial , Marathi Shaadi , Vadhu var Suchak Kendra ,hindu brides, hindu grooms,jeevanmeet.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="https://jeevanmeet.com/assets/images/favicon.ico" rel="shortcut icon"> -->

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="{%  static 'web/assets/dist/css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{%  static 'web/assets/dist/css/bootstrap-theme.css' %}">
   <link rel="stylesheet" href="{%  static 'web/assets/css/custom.css' %}">
  <link rel="stylesheet" href="{%  static 'web/assets/font-awesome/css/font-awesome.min.css' %}">



<!-- why use this-->
  <link rel="stylesheet" href="https://jeevanmeet.com/assets/css/prism.css">
  <link rel="stylesheet" href="https://jeevanmeet.com/assets/css/croppie.css">




<script type="text/javascript" src="{%  static 'web/assets/js/modernizr/modernizr.js' %}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="https://jeevanmeet.com/assets/js/jquery.min.js %}"><\/script>')</script>
<!-- <script type="text/javascript" src="https://jeevanmeet.com/assets/js/plugins.js"></script> -->
<script type="text/javascript" src="https://jeevanmeet.com/assets/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="{%  static 'web/assets/js/prism.js' %}"></script>

<script type="text/javascript">
   var baseurl = "https://jeevanmeet.com/";
   $(document).ready(function() {
        $('.dropdown-toggle').dropdown();
        var x= $('a[href="'+window.location.href+'"]');
            x.addClass('active');
            x.parent().addClass('active');
   });
</script>
</head>
<body>
    
    <div class="container">
        <div class="row" style="margin-top: 10px">
        </div>
            <div class="row" style="margin-bottom: 10px;">
    
    
            <div class="col-md-8">
    
            <div class="row">
            <div class="col-md-6">
            <a href="https://jeevanmeet.com/">
            <img alt="jeevanmeet - Matrimonials logo" class="img-responsive" src="{%  static 'web/assets/images/logo.png' %}" />
                        </a>
                       
                    </div>
    
                    <div class="col-md-4" style="margin-left: 0px">
                        <span class="headertop"> Get Married ! </span>
                    </div>
     
                </div>
    
            </div>
    
    
                        <div class="col-md-4 hidden-sm hidden-xs">
                    <form name="login" method="post" action="website\templates\website\userlogin1.html">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="login_username" class="control-label">Username</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" style="height: 28px !important" class="form-control" placeholder="Username" name="login_username" id="login_username" tabindex="1" autofocus />
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5px" >
                            <div class="col-md-3">
                                <label for="login_password" class="control-label">Password</label>
                            </div>
                            <div class="col-md-6">
                                <input type="password" style="height: 28px !important" class="form-control" placeholder="Password" name="login_password" id="login_password" tabindex="2" />
                            </div>
                            <div class="col-md-3">
                                <input type="submit" value="Login" name="submit" style="line-height: 1.1" class="btn btn-success" tabindex="3" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <a href="https://jeevanmeet.com/forgetPasswordUser" tabindex="4">Forgot Password ?</a>
                            </div>
                        </div>
                    </form>
                </div>
                </div>

        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/" class="navbar-brand">Menu</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                             <li>
                                <a href="{% url 'cast' %}">Register</a>
                            </li>
                            
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Search <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="https://jeevanmeet.com/regularSearch">Regular Search</a></li>
                                    <li><a href="https://jeevanmeet.com/advanceSearch">Advance Search</a></li>
                                    <li><a href="https://jeevanmeet.com/interfaithsearch">InterFaith Search</a></li>
                                    <li><a href="https://jeevanmeet.com/idSearch">ID Search</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="franchise" class="dropdown-toggle" data-toggle="dropdown" role="button">Franchise <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="https://jeevanmeet.com/searchFranchise">Find Franchise</a></li>
                                    <li><a href="https://jeevanmeet.com/franchise-help">New Franchise Help</a></li>
                                    <li><a href="https://jeevanmeet.com/franchiseRegister">Register Franchise</a></li>
    
                                </ul>
                            </li>
                            <li><a href="https://jeevanmeet.com/bride">Brides</a></li>
                            <li><a href="https://jeevanmeet.com/groom">Grooms</a></li>
                            
                            <li>
                                <a href="{% url 'membership' %}" class="upper-top">Membership Plans</a>
                            </li>
                            <li><a href="https://jeevanmeet.com/contact">Contact Us</a></li>
                            
                             <li class="dropdown">
                                <a href="blog" class="dropdown-toggle" data-toggle="dropdown" role="button">Blog<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="https://jeevanmeet.com/SuccessStory">Success Story</a></li>
                                    <li><a href="https://jeevanmeet.com/TellStory">Tell your story</a></li>
                                    <li><a href="https://jeevanmeet.com/Blog">Blogs</a></li>
                                    
                                </ul>
    
                            </li>
                                                        <li><a href="https://jeevanmeet.com/userlogin">Login</a></li>
                            
    
                           <li> <a title="Feedback" href="{% url 'feedback' %}">Feedback</a></li>
                        </ul>
    
                    </div>
                </div>
             </nav>
        </div>
    

    {% block content %}
    {% endblock %}


<link href="{%  static 'web/assets/css/chosen/chosen.css' %}" rel="stylesheet" />
<script type="text/javascript" src="{%  static 'web/assets/js/ajaxcalls.js' %}"></script>
<script type="text/javascript" src="{%  static 'web/assets/js/chosen/chosen.jquery.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){

$(".chzn-select").chosen({
   width:"100%"
});
});
</script>
<div class="row" style="margin-bottom: 10px">
<div class="col-md-12">
    <div class="row">
        <div  class="col-md-4 ">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="sub_heading">About JeevanMeet</h4>
                    <p class="text-justify">JeevanMeet is Web based matrimonial service provider 
                        serving Indian market
                        from year 2010. Our vision is to make marriage search a easy and effortless process through our franchise network which can help finding life partner and get people married by working as proper mediator.
                        The mission of JeevanMeet.com is to give a friendly atmosphere to the parents who are looking for in 
                        law for there loved one.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="sub_heading">Terms of Use</h4>
                    <p>
                        <a title="Terms of Use" href="https://jeevanmeet.com/user/terms">Terms and conditions</a><br>
                        <a title="Privacy Policy" href="https://jeevanmeet.com/user/privacyPolicy">Privacy Policy</a><br>
                        <a title="FAQ" href="https://jeevanmeet.com/user/faq">FAQ</a><br>
                        <a title="Feedback" href="https://jeevanmeet.com/feedback">Feedback</a><br>
                    </p>
                    <br>
                    <h4 class="sub_heading">Social Networking</h4>
                    <p>
                        <a title="Jeevanmeet On Facebook" href="https://www.facebook.com/jeevanmeet" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <a title="Jeevanmeet On Twitter" href="https://twitter.com/jeevanmeet" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="sub_heading">Get in Touch</h4>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <i class="fa fa-phone fa-fw"></i>
                            <strong>Phone : </strong> <a tel="+919970013272"> (+91) 9970013272</a>
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-envelope fa-fw"></i>
                            <strong>Email : </strong><a title="Email" href="mailto:support@jeevanmeet.com">support@jeevanmeet.com</a>
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-clock-o fa-fw"></i>
                            <strong>Timing : </strong> 10 AM to 6 PM
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class=" text-center">Copyright &copy; 2010 <a href="www.jeevanmeet.com"><strong>JeevanMeet</strong></a> All Rights Reserved.</p>
        </div>
          <div class="col-md-6">
            Design &amp; Developed By <a href="https://sahyadri.io" target="_blank"> Sahyadri Infotech</a>
          </div>
    </div>
</div>
</div>

    <script type="text/javascript" src="{%  static 'web/assets/dist/js/bootstrap.min.js' %}"></script>
<!-- Google Analytics: www.jeevanmeet.com -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-59164959-1', 'auto');
ga('send', 'pageview');

</script>

  
    
</body>
</html>
