{% extends 'reports/adminbase.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    
    <!-- Main content -->
    <br>
    <section class="content">
      <div class="container-fluid">
 <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Franchise Details</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <div class="form-horizontal">
                <div class="card-body">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-3">
                        {{ object.email }}                    
                    </div>
                    <label class="col-sm-3 col-form-label">Passwords</label>
                    <div class="col-sm-3">
                        {{ object.password }}                    
                    </div>
                  </div>
                 
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Repassword</label>
                    <div class="col-sm-3">
                        {{ object.repassword }}                    
                    </div>
                    <label class="col-sm-3 col-form-label">Franchise name>
                    <div class="col-sm-3">
                        {{ object.franchise_name }}                    
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Mobile Number</label>
                    <div class="col-sm-3">
                        {{ object.mobile_number }}                    
                    </div>
                    <label class="col-sm-3 col-form-label">Mobile Number2</label>
                    <div class="col-sm-3">
                        {{ object.mobile_number2 }}                    
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Countryr</label>
                    <div class="col-sm-3">
                        {{ object.country }}                    
                    </div>
                    <label class="col-sm-3 col-form-label">State</label>
                    <div class="col-sm-3">
                        {{ object.state }}                    
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">District</label>
                    <div class="col-sm-3">
                        {{ object.district }}                    
                    </div>
                    <label class="col-sm-3 col-form-label">City</label>
                    <div class="col-sm-3">
                        {{ object.city }}                    
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Current Address</label>
                    <div class="col-sm-3">
                        {{ object.current_address }}                    
                    </div>
                    <label class="col-sm-3 col-form-label">Images</label>
                    <div class="col-sm-3">
                        {{ object.images }}                    
                    </div>
                  </div>

            
                  </div>
                 
                        
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    {% endblock %}