{% extends 'reports/webbase.html' %}
{% load static %}
{% block maincontent %}
<div class="container">
    <div class="row" style="margin-top: 10px">
    </div>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-8">

            <div class="row">
                <div class="col-md-6">
                    <a href="https://jeevanmeet.com/">
                    <img alt="jeevanmeet - Matrimonials logo" class="img-responsive" src="https://jeevanmeet.com/assets/images/logo.png" />
                    </a>
                   
                </div>

                <div class="col-md-4" style="margin-left: 0px">
                    <span class="headertop"> Get Married ! </span>
                </div>

            </div>

        </div>


            </div>

    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">Menu</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                                                <li>
                            <a href="https://jeevanmeet.com/register">Register</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Search <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="https://jeevanmeet.com/regularSearch">Regular Search</a></li>
                                <li><a href="https://jeevanmeet.com/advanceSearch">Advance Search</a></li>
                                <li><a href="https://jeevanmeet.com/idSearch">ID Search</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="franchise" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-explanded="false">Franchise <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="https://jeevanmeet.com/searchFranchise">Find Franchise</a></li>
                                 <li><a href="https://jeevanmeet.com/franchise-help">New Franchise Help</a></li>
                                 
                                <li><a href="https://jeevanmeet.com/franchiseRegister">Register Franchise</a></li>
                               
                            </ul>
                        </li>

                        <li><a href="https://jeevanmeet.com/bride">Brides</a></li>
                        <li><a href="https://jeevanmeet.com/groom">Grooms</a></li>
						                         <li>
                            <a href="https://jeevanmeet.com/upgrade" class="upper-top">Membership Plans</a>
                        </li>
                        <li><a href="https://jeevanmeet.com/contact">Contact Us</a></li>
                        
                                                    <li><a href="https://jeevanmeet.com/userlogin">Login</a></li>
                        
                        <li> <a title="Feedback" href="https://jeevanmeet.com/feedback">Feedback</a></li>
                    </ul>
                </div>
            </div>
         </nav>
    </div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 ">
                                            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-info">
                    <div class="panel-heading">User Login</div>
                    <div class="panel-body">
                        <form name="login" method="post" action="user/checkLogin" role="form">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="login_username" class="control-label">Username</label>
                                    </div>       
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" placeholder="Username" name="login_username" id="login_username" tabindex="1" autofocus />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="login_password" class="control-label"> Password</label>
                                    </div>    
                                    <div class="col-md-8">
                                        <input type="password" class="form-control" placeholder="Password" name="login_password" id="login_password" tabindex="2" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 5px">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <input type="submit" value="Login" name="submit" class="btn btn-success" tabindex="3" />
                                    <input type="reset" value="Reset" name="submit" class="btn btn-default" tabindex="4" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <a href="https://jeevanmeet.com/forgetPasswordUser" tabindex="4">Forgot Password ?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}