{% extends 'adminbase.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    
    <!-- Main content -->
    <br>
    <section class="content">
      <div class="container-fluid">
<div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Sample Form</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.errors }}
                <div class="card-body">
                  <div class="row">
                  <div class="col-4">
                    <label for="code">Code</label>
                    {{ form.code|add_class:"form-control" }}                 
                  </div>
                  <div class="col-4">
                    <label for="full_name_ma">FullName-Marathi</label>
                    {{ form.full_name_ma|add_class:"form-control" }}                  
                  </div>
                  <div class="col-4">
                    <label for="f_name_ma">FirstName-Marathi</label>
                    {{ form.f_name_ma|add_class:"form-control" }}                  
                  </div>
                </div>
                  <div class="row">
                  <div class="col-4">
                    <label for="m_name_ma">MiddleName-Marathi</label>
                    {{ form.m_name_ma|add_class:"form-control" }}
                  </div>
                  <div class="col-4">
                    <label for="l_name_ma">LastName-Marathi</label>
                    {{ form.l_name_ma|add_class:"form-control" }}                  
                  </div>
                  <div class="col-4">
                    <label for="full_name_en">FullName-English</label>
                    {{ form.full_name_en|add_class:"form-control" }}                  
                  </div>
                </div>
                  <div class="row">
                  <div class="col-4">
                    <label for="f_name_en">FirstName-English</label>
                    {{ form.f_name_en|add_class:"form-control" }}             
                  </div>
                  <div class="col-4">
                    <label for="m_name_en">MiddleName-English</label>
                    {{ form.m_name_en|add_class:"form-control" }}                  
                  </div>
                  <div class="col-4">
                    <label for="l_name_en">LastName-English</label>
                    {{ form.l_name_en|add_class:"form-control" }}                  
                  </div>
                </div>
                  <div class="row">
                  <div class="col-4">
                    <label for="village_ma">Village-Marathi</label>
                    {{ form.village_ma|add_class:"form-control" }}                  
                  </div>
                  <div class="col-4">
                    <label for="village_en">Village-English</label>
                    {{ form.village_en|add_class:"form-control" }}                  
                  </div>
                  <div class="col-4">
                    <label for="taluka_ma">Taluka-Marathi</label>
                    {{ form.taluka_ma|add_class:"form-control" }}                  
                  </div>
                </div>
                  <div class="row">
                  <div class="col-4">
                    <label for="taluka_en">Taluka-English</label>
                    {{ form.taluka_en|add_class:"form-control" }}
                  </div>
                  <div class="col-4">
                    <label for="dist_ma">District-Marathi</label>
                    {{ form.dist_ma|add_class:"form-control" }}                  
                  </div>
                  <div class="col-4">
                    <label for="dist_en">District-English</label>
                    {{ form.dist_en|add_class:"form-control" }}                  
                  </div>
                </div>
                  <div class="row">
                  <div class="col-4">
                    <label for="person">Person</label>
                    {{ form.person|add_class:"form-control" }}
                  </div>
                  <div class="col-4">
                    <label for="mem_type">MemType</label>
                    {{ form.mem_type|add_class:"form-control" }}
                  </div>
                  <div class="col-4">
                    <label for="mob_no">Mobile Number</label>
                    {{ form.mob_no|add_class:"form-control" }}                  
                  </div>
                 <!--  <div class="col-4">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">                  
                  </div> -->
                </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>


  {% endblock %}