 {% extends 'adminbase.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    
    <!-- Main content -->
    <br>
    <section class="content">
      <div class="container-fluid">
 <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Sample Details</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <div class="form-horizontal">
                <div class="card-body">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Sr.No</label>
                    <div class="col-sm-3">
                        {{ object.sr_no }}                    
                    </div>
                    <label class="col-sm-3 col-form-label">Code</label>
                    <div class="col-sm-3">
                        {{ object.code }}                    
                    </div>
                  </div>
                 
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">FullName-Marathi</label>
                    <div class="col-sm-3">
                        {{ object.full_name_ma }}                    
                    </div>
                    <label class="col-sm-3 col-form-label">FirstName-Marathi</label>
                    <div class="col-sm-3">
                        {{ object.f_name_ma }}                    
                    </div>
                  </div>
                 
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">MiddleName-Marathi</label>
                    <div class="col-sm-3">
                        {{ object.m_name_ma }}                    
                    </div>
                    <label class="col-sm-3 col-form-label">LastName-Marathi</label>
                    <div class="col-sm-3">
                        {{ object.l_name_ma }}                    
                    </div>
                  </div>
                 
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">FullName-English</label>
                    <div class="col-sm-3">
                        {{ object.full_name_en }}                    
                    </div>
                    <label class="col-sm-3 col-form-label">FirstName-English</label>
                    <div class="col-sm-3">
                        {{ object.f_name_en }}                    
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">MiddleName-English</label>
                    <div class="col-sm-3">
                        {{ object.m_name_en }}                    
                    </div>
                    <label class="col-sm-3 col-form-label">LastName-English</label>
                    <div class="col-sm-3">
                        {{ object.l_name_en }}                    
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Village-Marathi</label>
                    <div class="col-sm-3">
                        {{ object.village_ma }}                    
                    </div>
                    <label class="col-sm-3 col-form-label">Village-English</label>
                    <div class="col-sm-3">
                        {{ object.village_en }}                    
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Taluka-Marathi</label>
                    <div class="col-sm-3">
                        {{ object.taluka_ma }}                    
                    </div>
                    <label class="col-sm-3 col-form-label">Taluka-English</label>
                    <div class="col-sm-3">
                        {{ object.taluka_en }}                    
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">District-Marathi</label>
                    <div class="col-sm-3">
                        {{ object.dist_ma }}                    
                    </div>
                    <label class="col-sm-3 col-form-label">District-English</label>
                    <div class="col-sm-3">
                        {{ object.dist_en }}                    
                    </div>
                  </div>
                 
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">MemType</label>
                    <div class="col-sm-3">
                        {{ object.mem_type }}                    
                    </div>
                    <label class="col-sm-3 col-form-label">Mobile No</label>
                    <div class="col-sm-3">
                        {{ object.mob_no }}                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    {% endblock %}