<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                                                                                </div>
                    </div>
                    <div class="row">
                        <div class="panel panel-info">
                            <div class="panel-heading">Feedback</div>
                            <div class="panel-body">
                                <form action="https://jeevanmeet.com/user/giveFeedback" id="feedback" method="post" role="form" accept-charset="utf-8">
                                <div class="row">
                                    <div class="col-md-12">
                                                                            </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="name" class="">Name <span class="err_spn">&nbsp;*</span></label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" name="name" value=""  class="form-control" id="name" maxlength="50" tabindex="5"  />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="email" class="">Email <span class="err_spn">&nbsp;*</span></label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" name="email" value=""  class="form-control" id="email" maxlength="50" tabindex="6" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="mobile" class="">Mobile <span class="err_spn">&nbsp;*</span></label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" name="mobile" value=""  class="form-control" id="mobile" maxlength="10" tabindex="7" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="address" class="">Address <span class="err_spn">&nbsp;*</span></label>
                                        </div>
                                        <div class="col-md-8">
                                            <textarea name="address" cols="40" rows="2" id="address"  class="form-control" style="resize:none" maxlength="256" tabindex="8" ></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="subject" class="">Subject <span class="err_spn">&nbsp;*</span></label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" name="subject" value=""  class="form-control" id="subject" maxlength="256" tabindex="9"  />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="description" class="">Your Suggestion <span class="err_spn">&nbsp;*</span></label>
                                        </div>
                                        <div class="col-md-8">
                                            <textarea name="description" cols="40" rows="4" id="description"  class="form-control" style="resize:none" maxlength="1024" tabindex="10" ></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                       <div class="col-md-12 text-center"> 
                                           <input type="submit" name="submit" value="Submit" id="mysubmit" class="btn btn-success" tabindex="11"  />
                                           <input type="reset" class="btn btn-default" Value="Reset" tabindex="12" />
                                       </div>
                                    </div>
                                </div>
                                </form>                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>