{% extends 'webbase.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="main_heading" style="margin-bottom: 15px;">Membership Plans</h2>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 15px;">
                    <div class="col-lg-12">
                        <h4><span style="color: #999;">Pay at Franchise Location and Get Extra Benefits.<a href="/searchFranchise"> Find your Nearest Franchise</a></span></h4>
                    </div>
                </div>
                <!-- first row -->
                <div class="row">
                                                <div class="col-md-4 left">
                                <div class="panel panel-info text-center">
                                    <div class="panel-heading">
                                        <h3>Silver</h3>
                                    </div>
                                    <div class="panel-body">
                                        <h3 class="panel-title"><i class="fa fa-inr"></i>  1400</h3>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item">180 days</li>
                                        <li class="list-group-item">70 Profiles</li>
                                                                                    <li class="list-group-item"><a href="{% url 'upgradeDetailsByUser/4' %}" class="btn btn-primary">Buy</a></li>
                                                                                
                                    </ul>
                                </div>
                            </div>
                                                <div class="col-md-4 left">
                                <div class="panel panel-info text-center">
                                    <div class="panel-heading">
                                        <h3>Gold</h3>
                                    </div>
                                    <div class="panel-body">
                                        <h3 class="panel-title"><i class="fa fa-inr"></i>  2100</h3>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item">360 days</li>
                                        <li class="list-group-item">180 Profiles</li>
                                                                                    <li class="list-group-item"><a href="https://jeevanmeet.com/upgradeDetailsByUser/3" class="btn btn-primary">Buy</a></li>
                                                                                
                                    </ul>
                                </div>
                            </div>
                                                <div class="col-md-4 left">
                                <div class="panel panel-info text-center">
                                    <div class="panel-heading">
                                        <h3>Assist Plan</h3>
                                    </div>
                                    <div class="panel-body">
                                        <h3 class="panel-title"><i class="fa fa-inr"></i>  5000</h3>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item">360 days</li>
                                        <li class="list-group-item">200 Profiles</li>
                                                                                    <li class="list-group-item"><a href="https://jeevanmeet.com/upgradeDetailsByUser/6" class="btn btn-primary">Buy</a></li>
                                                                                
                                    </ul>
                                </div>
                            </div>
                     
                </div>
  {% endblock %}