{% extends 'webbase.html' %}
{% load static %}
{% block content %}
<div class="container">
 <h2 class="main1">Follow Few Steps to Register</h2>
       
                <form action="https://jeevanmeet.com/user/registerUser" class="reg" id="regform" method="post" enctype="multipart/form-data" accept-charset="utf-8">
  <div class="borderbox">
      <div class="registration">
      <h5 class="heading">Personal Information</h5>
      <div class="large-12 columns">


            	<div>
            		<!-- <h5>Personal</h5>
            		<section> -->
            		    <div class="row">
                            <div class="col-md-10">
                                                            </div>
                        </div>
                        <div class="form-group">
                    		<div class="row">
                    			<div class="col-md-2">
                                    <label for="user_name" class="inline">Username<span class="err_spn">&nbsp;*</span></label>
                    			</div>
                    			<div class="col-md-4">
                    				<input type="text" name="user_name" value=""  class="form-control" id="user_name" maxlength="50" />
                    			</div>

                    			<div class="col-md-2">
                                    <label for="email" class="inline">Email Address<span class="err_spn">&nbsp;*</span></label>
                    			</div>
                    			<div class="col-md-4">
                                <!-- TODO : need to check email validation -->
                    				<input type="text" name="email" value=""  class="form-control"  id="email" maxlength="50" />
                    			</div>
                    		</div>
                		</div>
                		<div class="form-group">
                		<div class="row">
                			<div class="col-md-2">
                                <label for="password" class="inline">Password<span class="err_spn">&nbsp;*</span></label>
                			</div>
                			<div class="col-md-4">
                				<input type="password" name="password" value=""  class="form-control" id="password" maxlength="20" />
                			</div>
                			<div class="col-md-2">
                				<label for="cpassword" class="inline">Re-Password<span class="err_spn">&nbsp;*</span></label>
                			</div>
                			<div class="col-md-4">
                				<input type="password" name="cpassword" value=""  class="form-control" id="cpassword" maxlength="20" />
                			</div>
                		</div>
                		</div>
                		<!-- <p class="main_heading"></p> -->
                		<div class="form-group">
                            <div class="row">
                            	<div class="col-md-2">
                    				<label for="full_name" class="inline">Full Name<span class="err_spn">&nbsp;*</span></label>
                    			</div>
                    			<div class="col-md-4">
                    				<input type="text" name="full_name" value=""  class="form-control" id="full_name" maxlength="150" />
                    			</div>
                    			<div class="col-md-2">
                                    <label for="gender" class="inline">Gender<span class="err_spn">&nbsp;*</span></label>
                                </div>
                                <div class="col-md-4">
                                    <select name="gender" class="form-control" id="gender">
<option value="0">Select Gender</option>
<option value="1">Male</option>
<option value="2">Female</option>
</select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                    		<div class="row">

                    			<div class="col-md-2">
                                    <label for="date_of_birth" class="inline">Date of Birth<span class="err_spn">&nbsp;*</span></label>
                    			</div>
                    			<div class="col-md-4">
                    				<input type="text" name="date_of_birth" value=""  class="form-control" id="date_of_birth" placeholder="DD/MM/YYYY" />
                    			</div>
                    			<div class="col-md-2">
                                    <label for="time_of_birth" class="inline">Time of Birth<span class="err_spn">&nbsp;*</span></label>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <select name="hour_of_birth" class="form-control" id="hour_of_birth">
<option value="0">00</option>
<option value="1">01</option>
<option value="2">02</option>
<option value="3">03</option>
<option value="4">04</option>
<option value="5">05</option>
<option value="6">06</option>
<option value="7">07</option>
<option value="8">08</option>
<option value="9">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
</select>
                                        </div>

                                        <div class="col-md-4">
                                            <select name="min_of_birth" class="form-control" id="min_of_birth">
<option value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
<option value="32">32</option>
<option value="33">33</option>
<option value="34">34</option>
<option value="35">35</option>
<option value="36">36</option>
<option value="37">37</option>
<option value="38">38</option>
<option value="39">39</option>
<option value="40">40</option>
<option value="41">41</option>
<option value="42">42</option>
<option value="43">43</option>
<option value="44">44</option>
<option value="45">45</option>
<option value="46">46</option>
<option value="47">47</option>
<option value="48">48</option>
<option value="49">49</option>
<option value="50">50</option>
<option value="51">51</option>
<option value="52">52</option>
<option value="53">53</option>
<option value="54">54</option>
<option value="55">55</option>
<option value="56">56</option>
<option value="57">57</option>
<option value="58">58</option>
<option value="59">59</option>
</select>
                                         </div>
                                         <div class="col-md-4">
                                            <select name="am_pm" class="form-control" id="am_pm">
<option value="am">AM</option>
<option value="pm">PM</option>
</select>
                                         </div>
                                    </div>
                                </div>
                    		</div>
                		</div>
                		<div class="form-group">
                    		<div class="row">
                    		    <div class="col-md-2">
                    		        <label for="place_of_birth" class="inline">Birth Place</label>
                    		    </div>
                    		    <div class="col-md-4">
                                    <input type="text" name="place_of_birth" value=""  class="form-control" id="place_of_birth" maxlength="100" />
                                </div>

                    		</div>
                		</div>
                		<div class="form-group">
                    		<div class="row">
                    			<div class="col-md-2">
                                    <label for="marital_status" class="inline">Marital Status<span class="err_spn">&nbsp;*</span></label>
                    			</div>
                    			<div class="col-md-4">
                    				<select name="marital_status" class="form-control" id="marital_status">
<option value="0">Select Marital Status</option>
<option value="6">Annulled</option>
<option value="2">Divorcee</option>
<option value="5">Seperated</option>
<option value="1">Single</option>
<option value="4">Widowed</option>
</select>
                    			</div>
                    			<div class="col-md-2">
                                    <label for="no_of_childrens" class="inline">No of Childrens<span class="err_spn">&nbsp;*</span></label>
                    			</div>
                    			<div class="col-md-4">
                    				<select name="no_of_childrens" class="form-control" id="no_of_childrens">
<option value="0">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4 and Above</option>
</select>
                    			</div>
                    		</div>
                		</div>
                		<div class="form-group">
                    		<div class="row">
                    			<div class="col-md-2">
                                    <label for="mother_tongue" class="inline">Mother Tongue<span class="err_spn">&nbsp;*</span></label>
                    			</div>
                    			<div class="col-md-4">
                    				<select name="mother_tongue" class="form-control" id="mother_tongue">
<option value="0">Select Mother Tongue</option>
<option value="4">Gujrathi</option>
<option value="2">Hindi</option>
<option value="5">Kannada</option>
<option value="10">Konkani</option>
<option value="9">Malayalam</option>
<option value="1">Marathi</option>
<option value="11">Marwari</option>
<option value="8">Sindhi</option>
<option value="7">Tamil</option>
<option value="6">Telgu</option>
<option value="3">Urdu</option>
</select>
                    			</div>
                    			<div class="col-md-2">
                                    <label for="religion" class="inline">Religion<span class="err_spn">&nbsp;*</span></label>
                    			</div>
                    			<div class="col-md-4">
                    				<select name="religion" class="form-control" id="religion">
<option value="0">Select Religion</option>
<option value="3">Buddhist</option>
<option value="5">Christian</option>
<option value="1">Hindu</option>
<option value="4">Jain</option>
<option value="2">Muslim</option>
<option value="6">Sikh</option>
</select>
                    			</div>
                    		</div>
                        </div>

                		<div class="form-group">
                    		<div class="row">
                    			<div class="col-md-2">
                                    <label for="caste" class="inline">Caste<span class="err_spn">&nbsp;*</span></label>
                    			</div>
                    			<div class="col-md-4">
                    				<select name="caste" class="form-control" id="caste">
<option value="0">Select Caste</option>
</select>
                    			</div>
                    			<div class="col-md-2">
                                    <label for="sub_caste" class="inline">Sub Caste<span class="err_spn">&nbsp;*</span></label>
                    			</div>
                    			<div class="col-md-4">
                    				<select name="sub_caste" class="form-control" id="sub_caste">
<option value="0">Select Sub Caste</option>
</select>
                    			</div>
                    		</div>
                        </div>

                        <div class="form-group">
                    		<div class="row">
                    			<div class="col-md-2">
                                    <label for="height" class="inline">Height<span class="err_spn">&nbsp;*</span></label>
                    			</div>
                    			<div class="col-md-4">
                    				<select name="height" class="form-control" id="height">
<option value="0">Select Height</option>
<option value="1">4.00</option>
<option value="2">4.01</option>
<option value="3">4.02</option>
<option value="4">4.03</option>
<option value="5">4.04</option>
<option value="6">4.05</option>
<option value="7">4.06</option>
<option value="8">4.07</option>
<option value="9">4.08</option>
<option value="10">4.09</option>
<option value="11">4.10</option>
<option value="12">4.11</option>
<option value="13">5.00</option>
<option value="14">5.01</option>
<option value="15">5.02</option>
<option value="16">5.03</option>
<option value="17">5.04</option>
<option value="18">5.05</option>
<option value="19">5.06</option>
<option value="20">5.07</option>
<option value="21">5.08</option>
<option value="22">5.09</option>
<option value="23">5.10</option>
<option value="24">5.11</option>
<option value="25">6.00</option>
<option value="26">6.01</option>
<option value="27">6.02</option>
<option value="28">6.03</option>
<option value="29">6.04</option>
<option value="30">6.05</option>
<option value="31">6.06</option>
<option value="32">6.07</option>
<option value="33">6.08</option>
<option value="34">6.09</option>
<option value="35">6.10</option>
<option value="36">6.11</option>
<option value="37">7.00</option>
</select>
                    			</div>
                    			<div class="col-md-2">
                                    <label for="weight" class="inline">Weight<span class="err_spn">&nbsp;*</span></label>
                    			</div>
                    			<div class="col-md-4">
                    			    <select name="weight" class="form-control" id="weight">
<option value="0">Select Weight</option>
<option value="35">35</option>
<option value="36">36</option>
<option value="37">37</option>
<option value="38">38</option>
<option value="39">39</option>
<option value="40">40</option>
<option value="41">41</option>
<option value="42">42</option>
<option value="43">43</option>
<option value="44">44</option>
<option value="45">45</option>
<option value="46">46</option>
<option value="47">47</option>
<option value="48">48</option>
<option value="49">49</option>
<option value="50">50</option>
<option value="51">51</option>
<option value="52">52</option>
<option value="53">53</option>
<option value="54">54</option>
<option value="55">55</option>
<option value="56">56</option>
<option value="57">57</option>
<option value="58">58</option>
<option value="59">59</option>
<option value="60">60</option>
<option value="61">61</option>
<option value="62">62</option>
<option value="63">63</option>
<option value="64">64</option>
<option value="65">65</option>
<option value="66">66</option>
<option value="67">67</option>
<option value="68">68</option>
<option value="69">69</option>
<option value="70">70</option>
<option value="71">71</option>
<option value="72">72</option>
<option value="73">73</option>
<option value="74">74</option>
<option value="75">75</option>
<option value="76">76</option>
<option value="77">77</option>
<option value="78">78</option>
<option value="79">79</option>
<option value="80">80</option>
<option value="81">81</option>
<option value="82">82</option>
<option value="83">83</option>
<option value="84">84</option>
<option value="85">85</option>
<option value="86">86</option>
<option value="87">87</option>
<option value="88">88</option>
<option value="89">89</option>
<option value="90">90</option>
<option value="91">91</option>
<option value="92">92</option>
<option value="93">93</option>
<option value="94">94</option>
<option value="95">95</option>
<option value="96">96</option>
<option value="97">97</option>
<option value="98">98</option>
<option value="99">99</option>
<option value="100">100</option>
<option value="101">101</option>
<option value="102">102</option>
<option value="103">103</option>
<option value="104">104</option>
<option value="105">105</option>
<option value="106">106</option>
<option value="107">107</option>
<option value="108">108</option>
<option value="109">109</option>
<option value="110">110</option>
</select>

                    			</div>
                    		</div>
                		</div>
                		<div class="form-group">
                    		<div class="row">
                    			<div class="col-md-2">
                                    <label for="bldgroup" class="inline">Blood Group</label>
                    			</div>
                    			<div class="col-md-4">
                    				<select name="bldgroup" class="form-control" id="bldgroup">
<option value="0">Not Known</option>
<option value="3">A+</option>
<option value="4">A-</option>
<option value="7">AB+</option>
<option value="8">AB-</option>
<option value="5">B+</option>
<option value="6">B-</option>
<option value="1">O+</option>
<option value="2">O-</option>
</select>
                    			</div>
                    			<div class="col-md-2">
                                    <label for="complexion" class="inline">Complexion<span class="err_spn">&nbsp;*</span></label>
                    			</div>
                    			<div class="col-md-4">
                    				<select name="complexion" class="form-control" id="complexion">
<option value="0">Select Complexion</option>
<option value="4">Dark</option>
<option value="2">Fair</option>
<option value="1">Very Fair</option>
<option value="3">Wheatish</option>
</select>
                    			</div>
                    		</div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                    			<div class="col-md-2">
                                    <label for="body_type" class="inline">Body Type<span class="err_spn">&nbsp;*</span></label>
                    			</div>
                    			<div class="col-md-4">
                    				<select name="body_type" class="form-control" id="body_type">
<option value="0">Select Body Type</option>
<option value="2">Athletic</option>
<option value="3">Average</option>
<option value="4">Heavy</option>
<option value="1">Slim</option>
</select>
                    			</div>
                                <div class="col-md-2">
                                    <label for="manglik" class="inline">Manglik</label>
                                </div>
                                <div class="col-md-4">
                                    <select name="manglik" class="form-control" id="manglik">
<option value="0">Not Known</option>
<option value="1">No</option>
<option value="2">Yes</option>
</select>
                                </div>
                    		</div>
                		</div>
                		<div class="form-group">
                    		<div class="row">
                                <div class="col-md-2">
                                    <label for="gothram" class="inline">Gothram</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" name="gothram" value=""  id="gothram" class="form-control" maxlength="40" />
                                </div>
                                <div class="col-md-2">
                                    <label for="star_raasi" class="inline">Star / Raasi</label>
                                </div>
                                <div class="col-md-4">
                                    <select name="star_raasi" class="form-control" id="star_raasi">
<option value="0">Not Known</option>
<option value="1">Aries (मेष)</option>
<option value="2">Taurus (वृषभ)</option>
<option value="3">Gemini (मिथुन)</option>
<option value="4">Cancer (कर्क)</option>
<option value="5">Leo  (सिंह)</option>
<option value="6">Virgo (कन्या)</option>
<option value="7">Libra (तुला)</option>
<option value="8">Scorpio (वृश्चिक)</option>
<option value="9">Sagittarius (धनु)</option>
<option value="10">Capricorn (मकर)</option>
<option value="11">Aquarius (कुंभ)</option>
<option value="12">Pisces (मीन)</option>
</select>
                                </div>
                            </div>
                        </div>
                		<div class="form-group">
                    		<div class="row">
                    		    <div class="col-md-2">
                    		        <label for="eating_habbits" class="inline">Eating Habits</label><span class="err_spn">&nbsp;*</span>
                    		    </div>
                    		    <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="radio" name="eating_habbits" value="1" checked="checked" id="eating_habbits1" class="radio_eating rinline"  />
                                            <label for="eating_habbits1" class="inline">Vegetarian</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="radio" name="eating_habbits" value="2" id="eating_habbits2" class="radio_eating rinline"  />
                                            <label for="eating_habbits2" class="inline">Non Vegetarian</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="radio" name="eating_habbits" value="3" id="eating_habbits3" class="radio_eating rinline"  />
                                            <label for="eating_habbits3" class="">Eggetarian</label>
                                        </div>
                                    </div>
                                </div>
                    		</div>
                		</div>
                		<div class="form-group">
                            <div class="row">
                    			<div class="col-md-2">
                                    <label for="drinking_habbits" class="inline">Drinking Habits</label><span class="err_spn">&nbsp;*</span>
                    			</div>
                    			<div class="col-md-10">
                    				<div class="row">
                                        <div class="col-md-4">
                                            <input type="radio" name="drinking_habbits" value="1" checked="checked" id="drinking_habbits1" class="radio_drinking rinline"  />
                                            <label for="drinking_habbits1" class="inline">No</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="radio" name="drinking_habbits" value="2" id="drinking_habbits2" class="radio_drinking rinline"  />
                                            <label for="drinking_habbits2" class="inline">Occasionally</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="radio" name="drinking_habbits" value="3" id="drinking_habbits3" class="radio_drinking rinline"  />
                                            <label for="drinking_habbits3" class="inline">Yes</label>
                                        </div>
                                    </div>
                    			</div>
                    		</div>
                    	</div>
                    	<div class="form-group">
                    		<div class="row">
                    			<div class="col-md-2">
                                    <label for="smoking_habbits" class="inline">Smoking Habits</label><span class="err_spn">&nbsp;*</span>
                                </div>
                                <div class="col-md-10">
                                    <div class="row">

                                        <div class="col-md-4">
                                                <input type="radio" name="smoking_habbits" value="1" checked="checked" id="smoking_habbits1" class="radio_smoking rinline"  />
                                                <label for="smoking_habbits1" class="inline">No</label>
                                        </div>
                                        <div class="col-md-4">
                                                <input type="radio" name="smoking_habbits" value="2" id="smoking_habbits2" class="radio_smoking rinline"  />
                                                <label for="smoking_habbits2" class="inline">Occasionally</label>
                                        </div>
                                        <div class="col-md-4">
                                                <input type="radio" name="smoking_habbits" value="3" id="smoking_habbits3" class="radio_smoking rinline"  />
                                                <label for="smoking_habbits3" class="inline">Yes</label>
                                        </div>
                                     </div>
                                </div>
                    		</div>
                        </div>
                        <div class="form-group">
                    		<div class="row">
                    			<div class="col-md-2">&nbsp;
                                </div>
                    			<div class="col-md-8">
                    			    <input type="checkbox" name="chk_physical_status" value="1" id="chk_physical_status"  />
                                    <label for="chk_physical_status" class="inline">Physical Disability?</label>
                                </div>
                                <div class="col-md-2">
                                </div>
                    		</div>
                    	</div>
                    	<div class="form-group">
                    		<div class="row">
                    		    <div class="col-md-2">
                                    <label for="physical_status" class="inline">Disability Details</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" name="physical_status" value=""  class="form-control" id="physical_status" />
                                </div>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>
                		</div>

                		<div class="form-group">
                    		<div class="row">
                    		    <div class="col-md-2">
                                    <label for="about_myself" class="inline">About Myself</label><span class="err_spn">&nbsp;*</span>
                                </div>
                    		    <div class="col-md-4">
                                    <textarea name="about_myself" cols="40" rows="2" id="about_myself"  class="form-control" style="resize:none" maxlength="1024"></textarea>
                                </div>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-4">
                                </div>
                    		</div>
                        </div>
                		<!-- </section> -->

            </div>
        </div>
    </div>
    </div>
    
    <br>
                		<!-- Second : Address Details -->

    <div class="borderbox">
    <div class="registration">
    <h5 class="heading">Address Details</h5>
    <!-- <div class="large-12 columns"> -->


                	<!-- 	<h5>Address</h5>
                		<section> -->
                    		<div class="form-group">
                        		<div class="row">
                        		<h5 class="head1">Current Address</h5>
                        			<div class="col-md-2">
                        				<label for="state" class="inline">State<span class="err_spn">&nbsp;*</span></label>
                        			</div>
                        			<div class="col-md-4">
                        				<select name="state" class="form-control" id="state">
<option value="0">Select State</option>
<option value="32">Andaman and Nicobar Islands</option>
<option value="3">Andhra Pradesh</option>
<option value="4">Arunachal Pradesh</option>
<option value="5">Assam</option>
<option value="6">Bihar</option>
<option value="7">Chhattisgarh</option>
<option value="33">Dadra and Nagar Haveli</option>
<option value="34">Daman and Diu</option>
<option value="31">Delhi</option>
<option value="35">Goa</option>
<option value="29">Gujarat</option>
<option value="9">Haryana</option>
<option value="10">Himachal Pradesh</option>
<option value="11">Jammu and Kashmir</option>
<option value="12">Jharkhand</option>
<option value="13">Karnataka</option>
<option value="14">Kerala</option>
<option value="36">Lakshadweep</option>
<option value="15">Madhya Pradesh</option>
<option value="1">Maharashtra</option>
<option value="16">Manipur</option>
<option value="17">Meghalaya</option>
<option value="18">Mizoram</option>
<option value="19">Nagaland</option>
<option value="20">Odisha</option>
<option value="37">Puducherry</option>
<option value="21">Punjab</option>
<option value="22">Rajasthan</option>
<option value="23">Sikkim</option>
<option value="24">Tamil Nadu</option>
<option value="38">Telangana</option>
<option value="25">Tripura</option>
<option value="27">Uttar Pradesh</option>
<option value="26">Uttarakhand</option>
<option value="28">West Bengal</option>
</select>
                        			</div>
                        			<div class="col-md-2">
                        			   <label for="district"  class="inline">District<span class="err_spn">&nbsp;*</span></label>
                        			</div>
                        			<div class="col-md-4">
                        				<select name="district" class="form-control" id="district">
<option value="0">Select District</option>
</select>
                        			</div>
                        		</div>
                            </div>
                            <div class="form-group">
                        		<div class="row">
                        			<div class="col-md-2">
                        			     <label for="city" class="inline">City / Tehsil<span class="err_spn">&nbsp;*</span></label>
                        			</div>
                        			<div class="col-md-4">
                        				<select name="city" class="form-control" id="city">
<option value="0">Select Tehsil</option>
</select>
                        			</div>
                        			<div class="col-md-2">
                                        <label for="cont_address" class="inline">Current Address<span class="err_spn">&nbsp;*</span></label>
                                    </div>
                                    <div class="col-md-4">
                                        <textarea name="cont_address" cols="40" rows="4" id="cont_address"  class="form-control" style="resize:none" maxlength="250"></textarea>
                                    </div>
                        		</div>
                        	</div>
                        	<div class="form-group">
                        		<div class="row">
                        			<div class="col-md-2">
                                        <label for="pincode" class="inline">Pincode<span class="err_spn">&nbsp;*</span></label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="pincode" value=""  class="digits form-control"  id="pincode" maxlength="6" />
                                    </div>
                                    <div class="col-md-2">
                                        <label for="phoneNumber" class="inline">Phone Number</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="phoneNumber" value=""  class="form-control" id="phoneNumber" maxlength="20" />
                                    </div>
                        		</div>
                    		</div>
                    		<div class="form-group">
                        		<div class="row">
                        			<div class="col-md-2">
                                        <label for="mobile1" class="inline">Mobile No 1<span class="err_spn">&nbsp;*</span></label>
                        			</div>
                        			<div class="col-md-4">
                        				<input type="text" name="mobile1" value=""  class="form-control" id="mobile1" maxlength="10" />
                        			</div>
                        			<div class="col-md-2">
                                        <label for="mobile2" class="inline">Mobile No 2</label>
                        			</div>
                        			<div class="col-md-4">
                        				<input type="text" name="mobile2" value=""  class="form-control" id="mobile2" maxlength="10" />
                        			</div>
                        		</div>
                            </div>
                    		<br />
                    		<div class="form-group">
                                <div class="row">
                                    <h5 class="head1">Ancestral Origin Address</h5>
                                    <div class="col-md-6">
                                        <input type="checkbox" name="chk_same_address" value="0" id="chk_same_address"  />
                                        <label for="chk_same_address" class="inline">Same as above</label>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                        		<div class="row">
                        			<div class="col-md-2">
                        				<label for="anc_state" class="inline">State<span class="err_spn">&nbsp;*</span></label>
                        			</div>
                        			<div class="col-md-4">
                        				<select name="anc_state" class="form-control" id="anc_state">
<option value="0">Select State</option>
<option value="32">Andaman and Nicobar Islands</option>
<option value="3">Andhra Pradesh</option>
<option value="4">Arunachal Pradesh</option>
<option value="5">Assam</option>
<option value="6">Bihar</option>
<option value="7">Chhattisgarh</option>
<option value="33">Dadra and Nagar Haveli</option>
<option value="34">Daman and Diu</option>
<option value="31">Delhi</option>
<option value="35">Goa</option>
<option value="29">Gujarat</option>
<option value="9">Haryana</option>
<option value="10">Himachal Pradesh</option>
<option value="11">Jammu and Kashmir</option>
<option value="12">Jharkhand</option>
<option value="13">Karnataka</option>
<option value="14">Kerala</option>
<option value="36">Lakshadweep</option>
<option value="15">Madhya Pradesh</option>
<option value="1">Maharashtra</option>
<option value="16">Manipur</option>
<option value="17">Meghalaya</option>
<option value="18">Mizoram</option>
<option value="19">Nagaland</option>
<option value="20">Odisha</option>
<option value="37">Puducherry</option>
<option value="21">Punjab</option>
<option value="22">Rajasthan</option>
<option value="23">Sikkim</option>
<option value="24">Tamil Nadu</option>
<option value="38">Telangana</option>
<option value="25">Tripura</option>
<option value="27">Uttar Pradesh</option>
<option value="26">Uttarakhand</option>
<option value="28">West Bengal</option>
</select>
                        			</div>
                        			<div class="col-md-2">
                        			     <label for="anc_district"  class="inline">District<span class="err_spn">&nbsp;*</span></label>
                        			</div>
                        			<div class="col-md-4">
                        				<select name="anc_district" class="form-control" id="anc_district">
<option value="0">Select District</option>
</select>
                        			</div>
                        		</div>
                        	</div>
                        	<div class="form-group">
                        		<div class="row">
                        			<div class="col-md-2">
                        			<label for="anc_city" class="inline">City / Tehsil<span class="err_spn">&nbsp;*</span></label>
                        			</div>
                        			<div class="col-md-4">
                        				<select name="anc_city" class="form-control" id="anc_city">
<option value="0">Select Tehsil</option>
</select>
                        			</div>
                        			<div class="col-md-2">
                                        <label for="perm_address" class="inline">Ancestral Address</label>
                                    </div>
                                    <div class="col-md-4">
                                        <textarea name="perm_address" cols="40" rows="4" id="perm_address"  class="form-control" style="resize:none" maxlength="250"></textarea>
                                    </div>
                        		</div>
                    		</div>
                    		<div class="form-group">
                        		<div class="row">
                        		    <h5 class="head1">For NRI's</h5>
                        		    <div class="col-md-2">
                                        <label for="nri_country" class="inline">Living Country</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select name="nri_country" class="form-control" id="nri_country">
<option value="0">Select Country</option>
<option value="7">Australia</option>
<option value="1">Canada</option>
<option value="6">Germany</option>
<option value="3">Singapore</option>
<option value="2">UAE</option>
<option value="4">UK</option>
<option value="5">USA</option>
</select>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="nri_address" class="inline">Address</label>
                                    </div>
                                    <div class="col-md-4">
                                        <textarea name="nri_address" cols="40" rows="4" id="nri_address"  class="form-control" style="resize:none" maxlength="250"></textarea>
                                    </div>
                        		</div>
                    		</div>
                		<!-- </section> -->

<!-- </div> -->
</div>
</div>

<br>








<div class="borderbox">
 <div class="registration">
    <h5 class="heading">Professional Details</h5>
     <!-- <div class="large-12 columns"> -->

                    
                            <h5 class="head1">Educational Details</h5>


                		<!-- Third: Educational Details -->
                		
                            <div class="form-group">
                        		<div class="row">
                        			<div class="col-md-2">
                        				<label for="education" class="inline">Education</label><span class="err_spn">&nbsp;*</span>
                        			</div>
                        			<div class="col-md-4">
                        				<select name="education" class="form-control" id="education">
<option value="0">Select Education</option>
<option value="3">Bachelors - Arts/ Sci/ Comm/ B.Phill/ Others</option>
<option value="1">Bachelors - Engineering/Computers</option>
<option value="10">Diploma</option>
<option value="8">Finance</option>
<option value="7">Legal</option>
<option value="5">Management</option>
<option value="4">Masters - Arts/ Sci/ Comm/ M.Phill/ Others</option>
<option value="2">Masters - Engineering/Computers</option>
<option value="6">Medicine</option>
<option value="11">Other</option>
<option value="9">Ph D</option>
</select>
                        			</div>
                        			<div class="col-md-2">
                                        <label for="qualification" class="inline">Qualification<span class="err_spn">&nbsp;*</span></label>
                                    </div>
                                    <div class="col-md-4">
                                        <select name="qualification" class="form-control" id="qualification">
<option value="0">Select Qualification</option>
</select>
                                    </div>
                        		</div>
                    		</div>
                    		<div class="form-group">
                        		<div class="row">
                        			<div class="col-md-2">
                        				<label for="more_info" class="inline">More Infomation<span class="err_spn">&nbsp;*</span></label>
                        			</div>
                        			<div class="col-md-4">
                        				<textarea name="more_info" cols="40" rows="2" id="more_info"  class="form-control" style="resize:none" maxlength="1024"></textarea>
                        			</div>
                        			<div class="col-md-2"></div>
                        			<div class="col-md-4"></div>
                        		</div>
                            </div>
                            <br />
                    		<h5 class="head1">Occupation Details</h5>
                    		<div class="form-group">
                        		<div class="row">
                        			<div class="col-md-2">
                        				<label for="occupation" class="inline">Occupation</label><span class="err_spn">&nbsp;*</span>
                        			</div>
                        			<div class="col-md-4">
                        				<select name="occupation" class="form-control" id="occupation">
<option value="0">Select Occupation</option>
<option value="2">Admin</option>
<option value="3">Agriculture</option>
<option value="4">Airline</option>
<option value="5">Architect & Design</option>
<option value="6">Banking & Finance</option>
<option value="7">Beauty & Fashion</option>
<option value="8">Civil Services</option>
<option value="9">Defence</option>
<option value="10">Education</option>
<option value="1">Government</option>
<option value="11">Hospitality</option>
<option value="12">IT & Engineering</option>
<option value="14">Law Enforcement</option>
<option value="13">Legal</option>
<option value="20">Management</option>
<option value="16">Marketing & Sales</option>
<option value="17">Media & Entertainment</option>
<option value="15">Medical</option>
<option value="18">Merchant Navy</option>
<option value="21">Others</option>
<option value="19">Scientist</option>
</select>
                        			</div>
                        			<div class="col-md-2">
                        				<label for="sub_occupation" class="inline">Sub Occupation</label><span class="err_spn">&nbsp;*</span>
                        			</div>
                        			<div class="col-md-4">
                        				<select name="sub_occupation" class="form-control" id="sub_occupation">
<option value="0">Select Sub Occupation</option>
</select>
                        			</div>
                        		</div>
                    		</div>
                    		<div class="form-group">
                        		<div class="row">
                        			<div class="col-md-2">
                        				<label for="employed_in" class="inline">Employed In<span class="err_spn">&nbsp;*</span></label>
                        			</div>
                        			<div class="col-md-4">
                        				<input type="text" name="employed_in" value=""  class="form-control" id="employed_in" maxlength="255" />
                        			</div>
                        			<div class="col-md-2">
                        				<label for="anual_income" class="inline">Annual Income</label>
                        			</div>
                        			<div class="col-md-4">
                        				<input type="text" name="anual_income" value=""  class="form-control" id="anual_income" maxlength="20" />
                        			</div>
                        		</div>
                            </div>
                		<!-- </section> -->
<!-- </div> -->
</div>
</div>


<br>











     <div class="borderbox">
      <div class="registration">
      <h5 class="heading">Family Background</h5>

    <!-- <div class="large-12 columns">
 -->
                		<!-- Fourth: Family Background -->
                	
                            <div class="form-group">
                                <div class="row">
                        			<div class="col-md-2">
                        				<label for="family_values" class="inline">Family Values</label><span class="err_spn">&nbsp;*</span>
                        			</div>
                        			<div class="col-md-4">
                        				<select name="family_values" class="form-control" id="family_values">
<option value="0">Select Family Values</option>
<option value="4">Liberal</option>
<option value="1">Moderate</option>
<option value="2">Orthodox</option>
<option value="3">Traditional</option>
</select>
                        			</div>
                        			<div class="col-md-2">
                        				<label for="family_type" class="inline">Family Type</label><span class="err_spn">&nbsp;*</span>
                        			</div>
                        			<div class="col-md-4">
                        				<select name="family_type" class="form-control" id="family_type">
<option value="0">Select Family Type</option>
<option value="2">Joint</option>
<option value="1">Nuclear</option>
</select>
                        			</div>
                        		</div>
                		    </div>
                		    <div class="form-group">
                        		<div class="row">
                        		    <div class="col-md-2">
                                        <label for="family_status" class="inline">Family Status</label><span class="err_spn">&nbsp;*</span>
                                    </div>
                                    <div class="col-md-4">
                                         <select name="family_status" class="form-control" id="family_status">
<option value="0">Select Family Status</option>
<option value="4">Affluent</option>
<option value="1">Middle Class</option>
<option value="3">Rich</option>
<option value="2">Upper Middle Class</option>
</select>
                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-4">

                                    </div>
                        		</div>
                            </div>
                            <div class="form-group">
                        		<div class="row">

                        			<div class="col-md-2">
                        				<label for="fathers_name" class="inline">Father's Name<span class="err_spn">&nbsp;*</span></label>
                        			</div>
                        			<div class="col-md-4">
                        				<input type="text" name="fathers_name" value=""  class="form-control"  id="fathers_name" maxlength="255" />
                        			</div>
                        			<div class="col-md-2">
                        				<label for="fathers_occupation" class="inline">Father's Occupation<span class="err_spn">&nbsp;*</span></label>
                        			</div>
                        			<div class="col-md-4">
                        				<input type="text" name="fathers_occupation" value=""  class="form-control" id="fathers_occupation" maxlength="255" />
                        			</div>
                        		</div>
                        	</div>
                        	<div class="form-group">
                        		<div class="row">
                        			<div class="col-md-2">
                        				<label for="mothers_name" class="inline">Mother's Name<span class="err_spn">&nbsp;*</span></label>
                        			</div>
                        			<div class="col-md-4">
                        				<input type="text" name="mothers_name" value=""  class="form-control" id="mothers_name" maxlength="255" />
                        			</div>
                        			<div class="col-md-2">
                        				<label for="mothers_occupation" class="inline">Mother's Occupation<span class="err_spn">&nbsp;*</span></label>
                        			</div>
                        			<div class="col-md-4">
                        				<input type="text" name="mothers_occupation" value=""  class="form-control" id="mothers_occupation" maxlength="255" />
                        			</div>
                        		</div>
                        	</div>
                        	<div class="form-group">
                    		    <div class="row">
                        			<div class="col-md-2">
                        				<label for="no_of_brothers" class="inline">No of Brothers<span class="err_spn">&nbsp;*</span></label>
                        			</div>
                        			<div class="col-md-4">
                        				<select name="no_of_brothers" class="form-control" id="no_of_brothers">
<option value="0">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4 and Above</option>
</select>
                        			</div>
                        			<div class="col-md-2">
                        				<label for="married_brothers" class="inline">Married<span class="err_spn">&nbsp;*</span></label>
                        			</div>
                        			<div class="col-md-4">
                        				<select name="married_brothers" class="form-control" id="married_brothers">
<option value="0">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4 and Above</option>
</select>
                        			</div>
                        		</div>
                        	</div>
                        	<div class="form-group">
                        		<div class="row">
                        			<div class="col-md-2">
                        				<label for="no_of_sisters" class="inline">No of Sisters<span class="err_spn">&nbsp;*</span></label>
                        			</div>
                        			<div class="col-md-4">
                        				<select name="no_of_sisters" class="form-control" id="no_of_sisters">
<option value="0">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4 and Above</option>
</select>
                        			</div>
                        			<div class="col-md-2">
                        				<label for="married_sisters" class="inline">Married<span class="err_spn">&nbsp;*</span></label>
                        			</div>
                        			<div class="col-md-4">
                        				<select name="married_sisters" class="form-control" id="married_sisters">
<option value="0">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4 and Above</option>
</select>
                        			</div>
                        		</div>
                        	</div>
                        	<div class="form-group">
                        		<div class="row">
                        			<div class="col-md-2">
                        				<label for="relative_name" class="inline">Surname of Relative<span class="err_spn">&nbsp;*</span></label>
                        			</div>
                        			<div class="col-md-4">
                        				<textarea name="relative_name" cols="40" rows="2" id="relative_name"  class="form-control" style="resize:none" maxlength="255"></textarea>
                        			</div>
                        			<div class="col-md-2">
                                    	<label for="family_property" class="inline">Parental Details<span class="err_spn">&nbsp;*</span><br />(Property etc)</label>
                        			</div>
                        			<div class="col-md-4">
                                    	 <textarea name="family_property" cols="40" rows="2" id="family_property"  class="form-control" style="resize:none" maxlength="1024"></textarea>
                        			</div>
                        		</div>
                        	</div>
                		<!-- </section> -->

<!-- </div> -->
</div>
</div>
<br>









     <div class="borderbox">
      <div class="registration">
      <h5 class="heading">Partner Preference</h5>

    <!-- <div class="large-12 columns"> -->


                		<!-- Fifth : Partner Preference -->
                    
                            <h5 class="head1">Partner's Basic Information</h5>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="part_age" class="inline">Partner's Age<span class="err_spn">&nbsp;*</span></label>
                                            </div>

                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <select name="part_age_from" class="form-control" id="part_age_from">
<option value="0">From</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
<option value="32">32</option>
<option value="33">33</option>
<option value="34">34</option>
<option value="35">35</option>
<option value="36">36</option>
<option value="37">37</option>
<option value="38">38</option>
<option value="39">39</option>
<option value="40">40</option>
<option value="41">41</option>
<option value="42">42</option>
<option value="43">43</option>
<option value="44">44</option>
<option value="45">45</option>
<option value="46">46</option>
<option value="47">47</option>
<option value="48">48</option>
<option value="49">49</option>
<option value="50">50</option>
<option value="51">51</option>
<option value="52">52</option>
<option value="53">53</option>
<option value="54">54</option>
<option value="55">55</option>
<option value="56">56</option>
<option value="57">57</option>
<option value="58">58</option>
<option value="59">59</option>
<option value="60">60</option>
<option value="61">61</option>
<option value="62">62</option>
<option value="63">63</option>
<option value="64">64</option>
<option value="65">65</option>
</select>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <select name="part_age_to" class="form-control" id="part_age_to">
<option value="0">To</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
<option value="32">32</option>
<option value="33">33</option>
<option value="34">34</option>
<option value="35">35</option>
<option value="36">36</option>
<option value="37">37</option>
<option value="38">38</option>
<option value="39">39</option>
<option value="40">40</option>
<option value="41">41</option>
<option value="42">42</option>
<option value="43">43</option>
<option value="44">44</option>
<option value="45">45</option>
<option value="46">46</option>
<option value="47">47</option>
<option value="48">48</option>
<option value="49">49</option>
<option value="50">50</option>
<option value="51">51</option>
<option value="52">52</option>
<option value="53">53</option>
<option value="54">54</option>
<option value="55">55</option>
<option value="56">56</option>
<option value="57">57</option>
<option value="58">58</option>
<option value="59">59</option>
<option value="60">60</option>
<option value="61">61</option>
<option value="62">62</option>
<option value="63">63</option>
<option value="64">64</option>
<option value="65">65</option>
</select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="part_height" class="inline">Partner's Height<span class="err_spn">&nbsp;*</span></label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <select name="part_height_from" class="form-control" id="part_height_from">
<option value="0">From</option>
<option value="1">4.00</option>
<option value="2">4.01</option>
<option value="3">4.02</option>
<option value="4">4.03</option>
<option value="5">4.04</option>
<option value="6">4.05</option>
<option value="7">4.06</option>
<option value="8">4.07</option>
<option value="9">4.08</option>
<option value="10">4.09</option>
<option value="11">4.10</option>
<option value="12">4.11</option>
<option value="13">5.00</option>
<option value="14">5.01</option>
<option value="15">5.02</option>
<option value="16">5.03</option>
<option value="17">5.04</option>
<option value="18">5.05</option>
<option value="19">5.06</option>
<option value="20">5.07</option>
<option value="21">5.08</option>
<option value="22">5.09</option>
<option value="23">5.10</option>
<option value="24">5.11</option>
<option value="25">6.00</option>
<option value="26">6.01</option>
<option value="27">6.02</option>
<option value="28">6.03</option>
<option value="29">6.04</option>
<option value="30">6.05</option>
<option value="31">6.06</option>
<option value="32">6.07</option>
<option value="33">6.08</option>
<option value="34">6.09</option>
<option value="35">6.10</option>
<option value="36">6.11</option>
<option value="37">7.00</option>
</select>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <select name="part_height_to" class="form-control" id="part_height_to">
<option value="0">To</option>
<option value="1">4.00</option>
<option value="2">4.01</option>
<option value="3">4.02</option>
<option value="4">4.03</option>
<option value="5">4.04</option>
<option value="6">4.05</option>
<option value="7">4.06</option>
<option value="8">4.07</option>
<option value="9">4.08</option>
<option value="10">4.09</option>
<option value="11">4.10</option>
<option value="12">4.11</option>
<option value="13">5.00</option>
<option value="14">5.01</option>
<option value="15">5.02</option>
<option value="16">5.03</option>
<option value="17">5.04</option>
<option value="18">5.05</option>
<option value="19">5.06</option>
<option value="20">5.07</option>
<option value="21">5.08</option>
<option value="22">5.09</option>
<option value="23">5.10</option>
<option value="24">5.11</option>
<option value="25">6.00</option>
<option value="26">6.01</option>
<option value="27">6.02</option>
<option value="28">6.03</option>
<option value="29">6.04</option>
<option value="30">6.05</option>
<option value="31">6.06</option>
<option value="32">6.07</option>
<option value="33">6.08</option>
<option value="34">6.09</option>
<option value="35">6.10</option>
<option value="36">6.11</option>
<option value="37">7.00</option>
</select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="part_marital_status" class="inline">Marital Status<span class="err_spn">&nbsp;*</span></label>
                                            </div>
                                            <div class="col-md-8">
                                                <select name="part_marital_status[]"  class="form-control chzn-select required" data-placeholder="" id="part_marital_status" multiple="multiple">
<option value="6">Annulled</option>
<option value="2">Divorcee</option>
<option value="5">Seperated</option>
<option value="1">Single</option>
<option value="4">Widowed</option>
</select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="part_mother_tongue" class="inline">Mother Tongue<span class="err_spn">&nbsp;*</span></label>
                                            </div>
                                            <div class="col-md-8">
                                                <select name="part_mother_tongue[]"  class="form-control chzn-select" data-placeholder="Select Mother Tongue" id="part_mother_tongue" multiple="multiple">
<option value="4">Gujrathi</option>
<option value="2">Hindi</option>
<option value="5">Kannada</option>
<option value="10">Konkani</option>
<option value="9">Malayalam</option>
<option value="1">Marathi</option>
<option value="11">Marwari</option>
<option value="8">Sindhi</option>
<option value="7">Tamil</option>
<option value="6">Telgu</option>
<option value="3">Urdu</option>
</select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">&nbsp;
                                    </div>
                                    <div class="col-md-8">
                                        <input type="checkbox" name="chk_part_phy_status" value="0" id="chk_part_phy_status"  />
                                        <label for="chk_part_phy_status" class="inline">Physical Disability?</label>
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="part_eating_habbits" class="inline">Eating Habits</label>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <input type="checkbox" name="part_eating_habbits[]" value="0" checked="checked" id="part_eating_habbits1" class="radio_part_eating"  />
                                                <label for="part_eating_habbits1" class="inline">Doesn't Matter</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="checkbox" name="part_eating_habbits[]" value="1" id="part_eating_habbits2" class="radio_part_eating"  />
                                                <label for="part_eating_habbits2" class="inline">Vegetarian</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="checkbox" name="part_eating_habbits[]" value="2" id="part_eating_habbits3" class="radio_part_eating"  />
                                                <label for="part_eating_habbits3" class="inline">Non Vegetarian</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="checkbox" name="part_eating_habbits[]" value="3" id="part_eating_habbits4" class="radio_part_eating"  />
                                                <label for="part_eating_habbits4" class="inline">Eggetarian</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="part_smoking_habbits" class="inline">Smoking Habits</label>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <input type="checkbox" name="part_smoking_habbits[]" value="0" checked="checked" id="part_smoking_habbits1" class="radio_part_smoking"  />
                                                <label for="part_smoking_habbits1" class="inline">Doesn't Matter</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="checkbox" name="part_smoking_habbits[]" value="1" id="part_smoking_habbits2" class="radio_part_smoking"  />
                                                <label for="part_smoking_habbits2" class="inline">No</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="checkbox" name="part_smoking_habbits[]" value="2" id="part_smoking_habbits3" class="radio_part_smoking"  />
                                                <label for="part_smoking_habbits3" class="inline">Occasionally</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="checkbox" name="part_smoking_habbits[]" value="3" id="part_smoking_habbits4" class="radio_part_smoking"  />
                                                <label for="part_smoking_habbits4" class="inline">Yes</label>
                                            </div>
                                        </div>
                                    </div>
                               </div>
                           </div>

                           <div class="form-group">
                               <div class="row">
                                    <div class="col-md-2">
                                         <label for="part_drinking_habbits" class="inline">Drinking Habits</label>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <input type="checkbox" name="part_drinking_habbits[]" value="0" checked="checked" id="part_drinking_habbits1" class="radio_part_drinking"  />
                                                <label for="part_drinking_habbits1" class="inline">Doesn't Matter</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="checkbox" name="part_drinking_habbits[]" value="1" id="part_drinking_habbits2" class="radio_part_drinking"  />
                                                <label for="part_drinking_habbits2" class="inline">No</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="checkbox" name="part_drinking_habbits[]" value="2" id="part_drinking_habbits3" class="radio_part_drinking"  />
                                                <label for="part_drinking_habbits3" class="inline">Occasionally</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="checkbox" name="part_drinking_habbits[]" value="3" id="part_drinking_habbits4" class="radio_part_drinking"  />
                                                <label for="part_drinking_habbits4" class="inline">Yes</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="part_childs" class="inline">Have Childs</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select name="part_childs" id="part_childs" class="form-control">
<option value="0">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4 and Above</option>
</select>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="part_about" class="inline">About Partner</label>
                                    </div>
                                    <div class="col-md-4">
                                        <textarea name="part_about" cols="40" rows="3" id="part_about"  class="form-control" style="resize:none" maxlength="512"></textarea>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <h5 class="head1">Partner's Religious Information</h5>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="part_religion" class="inline">Religion<span class="err_spn">&nbsp;*</span></label>
                                    </div>
                                    <div class="col-md-4">
                                        <select name="part_religion[]"  class="form-control chzn-select" data-placeholder="Select Religion" id="part_religion" multiple="multiple">
<option value="0">Religion No Bar</option>
<option value="3">Buddhist</option>
<option value="5">Christian</option>
<option value="1">Hindu</option>
<option value="4">Jain</option>
<option value="2">Muslim</option>
<option value="6">Sikh</option>
</select>
                                    </div>

                                    <div class="col-md-2">
                                        <label for="part_caste" class="inline">Caste<span class="err_spn">&nbsp;*</span></label>
                                    </div>
                                    <div class="col-md-4">
                                        <select name="part_caste[]"  class="form-control chzn-select" data-placeholder="Select Caste" id="part_caste" multiple="multiple">
<option value="0">Caste No Bar</option>
</select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="part_sub_caste" class="inline">Sub Caste</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select name="part_sub_caste[]"  class="form-control chzn-select" data-placeholder="Select Sub Caste" id="part_sub_caste" multiple="multiple">
</select>
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="part_star_raasi" class="inline">Star / Raasi</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select name="part_star_raasi[]"  class="form-control chzn-select" data-placeholder="Select Star/Raasi" id="part_star_raasi" multiple="multiple">
<option value="0">Doesn't Matter</option>
<option value="1">Aries (मेष)</option>
<option value="2">Taurus (वृषभ)</option>
<option value="3">Gemini (मिथुन)</option>
<option value="4">Cancer (कर्क)</option>
<option value="5">Leo  (सिंह)</option>
<option value="6">Virgo (कन्या)</option>
<option value="7">Libra (तुला)</option>
<option value="8">Scorpio (वृश्चिक)</option>
<option value="9">Sagittarius (धनु)</option>
<option value="10">Capricorn (मकर)</option>
<option value="11">Aquarius (कुंभ)</option>
<option value="12">Pisces (मीन)</option>
</select>
                                    </div>

                                    <div class="col-md-2">
                                        <label for="part_manglik" class="inline">Manglik</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select name="part_manglik" id="part_manglik" class="form-control">
<option value="0">Doesn't Matter</option>
<option value="1">No</option>
<option value="2">Yes</option>
</select>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <h5 class="head1">Partner's Professional Information</h5>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="part_education" class="inline">Education</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select name="part_education[]"  class="form-control chzn-select" data-placeholder="Select Education" id="part_education" multiple="multiple">
<option value="3">Aeronautical Engineering</option>
<option value="65">Agriculture Diploma</option>
<option value="56">Art Diploma (G D Art)</option>
<option value="64">ATD (Drawing)</option>
<option value="12">B A</option>
<option value="4">B Arch</option>
<option value="10">B Com</option>
<option value="14">B Ed</option>
<option value="13">B Home Sc</option>
<option value="60">B Lib</option>
<option value="67">B Ped</option>
<option value="34">B Pharm</option>
<option value="9">B Phil</option>
<option value="11">B Sc</option>
<option value="50">B Sc. Comp</option>
<option value="63">B Tech (Agri)/B Sc (Agri)</option>
<option value="71">B. Journalism - Mass Communication</option>
<option value="68">Bachelor in Hotel Management</option>
<option value="70">Bachelor of Fine Arts</option>
<option value="32">BAMS</option>
<option value="22">BBA</option>
<option value="2">BCA</option>
<option value="28">BDS</option>
<option value="1">BE/B Tech</option>
<option value="62">Below SSC</option>
<option value="37">BGL / BL / LLB</option>
<option value="31">BHMS</option>
<option value="30">BPT</option>
<option value="29">BVSc</option>
<option value="38">CA</option>
<option value="40">CS</option>
<option value="45">D Ed</option>
<option value="35">D Pharm</option>
<option value="44">Diploma Engg / IT / Comp</option>
<option value="43">Diploma ITI</option>
<option value="42">Diploma Trade School</option>
<option value="61">DMLT</option>
<option value="53">F Y B A</option>
<option value="55">F Y B Com</option>
<option value="51">F Y B Sc</option>
<option value="46">Gram Savek</option>
<option value="47">HSC</option>
<option value="39">ICWA</option>
<option value="18">M A</option>
<option value="8">M Arch</option>
<option value="16">M Com</option>
<option value="20">M Ed</option>
<option value="19">M Home Sc</option>
<option value="59">M Lib</option>
<option value="33">M Pharm</option>
<option value="15">M Phil</option>
<option value="17">M Sc</option>
<option value="66">M Sc (Agri)</option>
<option value="49">M Sc. Comp</option>
<option value="72">M. Journalism - Mass Communication</option>
<option value="69">Master in Hotel Management</option>
<option value="21">MBA/PGDM</option>
<option value="24">MBBS</option>
<option value="5">MCA/PGDCA</option>
<option value="23">MD/MS (Medical)</option>
<option value="25">MDS</option>
<option value="6">ME/M Tech</option>
<option value="36">ML / LLM</option>
<option value="27">MPT</option>
<option value="7">MS (Engg.)</option>
<option value="26">MVSc</option>
<option value="57">Nursing</option>
<option value="41">Ph D</option>
<option value="58">S Y B A</option>
<option value="54">S Y B Com</option>
<option value="52">S Y B Sc</option>
<option value="48">SSC</option>
</select>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="part_occupation" class="inline">Occupation</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select name="part_occupation[]"  class="form-control chzn-select" data-placeholder="Select Occupation" id="part_occupation" multiple="multiple">
<option value="20">Accounts/Finance Professional</option>
<option value="11">Admin Clerk</option>
<option value="10">Admin Executive</option>
<option value="6">Admin Manager</option>
<option value="8">Admin Officer</option>
<option value="9">Admin Professional</option>
<option value="7">Admin Supervisor</option>
<option value="51">Advertising/PR Professional</option>
<option value="12">Agri Professional</option>
<option value="31">Air force Airman</option>
<option value="30">Air force Officer</option>
<option value="14">Air Hostess</option>
<option value="15">Airline Professional</option>
<option value="72">Analyst</option>
<option value="16">Architect</option>
<option value="27">Army Jawan</option>
<option value="26">Army Officer</option>
<option value="60">Arts & Craftsman</option>
<option value="71">Assistant Manager</option>
<option value="22">Auditor</option>
<option value="21">Banking Service Professional</option>
<option value="24">Beautician</option>
<option value="77">Business</option>
<option value="65">Business</option>
<option value="54">CEO/ President/ Director/ Chairman</option>
<option value="18">Chartered Accountant</option>
<option value="25">Civil Services (IAS/IPS/IRS/IES/IFS)</option>
<option value="69">Clerk</option>
<option value="19">Company Secretary</option>
<option value="55">Consultant</option>
<option value="74">Contract Basis</option>
<option value="56">Customer Care Professional</option>
<option value="34">Education Professional</option>
<option value="38">Engineer - Non IT</option>
<option value="49">Entertainment Professional</option>
<option value="50">Event Management Professional</option>
<option value="23">Fashion Designer</option>
<option value="75">Fitness Trainer</option>
<option value="1">Govt Class 1</option>
<option value="2">Govt Class 2</option>
<option value="3">Govt Class 3</option>
<option value="4">Govt Clerk</option>
<option value="5">Govt Peon</option>
<option value="37">Hardware Professional</option>
<option value="42">Health Care Professional</option>
<option value="35">Hotel/Hospitality Professional</option>
<option value="17">Interior Designer</option>
<option value="47">Journalist</option>
<option value="40">Judge</option>
<option value="41">Law Enforcement Officer</option>
<option value="39">Lawyer & Legal Professional</option>
<option value="68">Librarian</option>
<option value="70">Manager</option>
<option value="52">Mariner/Merchant Navy</option>
<option value="45">Marketing Professional</option>
<option value="48">Media Professional</option>
<option value="28">Navy Officer</option>
<option value="29">Navy Sailor</option>
<option value="44">Nurse</option>
<option value="61">Other</option>
<option value="43">Paramedical Professional</option>
<option value="73">Peon (Banking)</option>
<option value="62">Peon (Edu.)</option>
<option value="13">Pilot</option>
<option value="67">Private Job</option>
<option value="32">Professor/Lecturer</option>
<option value="76">Research Analyst</option>
<option value="46">Sales Professional</option>
<option value="53">Scientist/Researcher</option>
<option value="63">Self Employed</option>
<option value="57">Social Worker</option>
<option value="36">Software Professional</option>
<option value="58">Sportsman</option>
<option value="64">Student</option>
<option value="33">Teaching/Academician</option>
<option value="59">Technician</option>
</select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="part_anual_income_from" class="inline">Annual Income</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" name="part_anual_income_from" value=""  class="form-control" id="part_anual_income_from" placeholder="From" maxlength="10" />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" name="part_anual_income_to" value=""  class="form-control" id="part_anual_income_to" placeholder="To" maxlength="10" />
                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                </div>
                            </div>
                     

                       <!-- </div> -->
                    </div>
                </div>
              <br>

     <div class="borderbox">
      <div class="registration">
      <h5 class="heading">Uploads</h5>

    <!-- <div class="large-12 columns"> -->

        <h5 class="head1">Photo Upload</h5>


                		<!-- Sixth: Upload Photos -->
                	
                            <p><span class="err_spn">*</span> Select image from size 20 KB to 80 KB (Only JPG, JPEG, PNG and GIF image file types are allowed)</p>
                            <hr>
                            <div class="form-group">
                        		<div class="row">
                        			<div class="col-md-2">
                        				<label for="photo1" class="inline">Photo 1</label>
                        			</div>
                        			<div class="col-md-4">
                        				<input type="file" size="44" id="photo1" class="" name="photo1">
                        			</div>
                        			<div class="col-md-2">
                        				<label for="photo2" class="inline">Photo 2</label>
                        			</div>
                        			<div class="col-md-4">
                        				<input type="file" size="44" id="photo2" class="" name="photo2">
                        			</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                        	        <div class="col-md-2">
                        				<label for="photo3" class="inline">Photo 3</label>
                        			</div>
                        			<div class="col-md-4">
                        				<input type="file" size="44" id="photo3" class="" name="photo3">
                        			</div>
                                    <div class="col-md-2">

                        			</div>
                        			<div class="col-md-4">

                        			</div>
                        		</div>
                    		</div>
                		    <br>

                            <h5 class="head1">Identity Proof Upload</h5>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="id_proof_desc" class="inline">Aadhaar Card Number</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="id_proof_desc" value=""  class="form-control" id="id_proof_desc" type="number" maxlength="12" />
                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                        	        <div class="col-md-2">
                        				<label for="id_proof" class="inline">Aadhaar Card PhotoCopy</label>
                        			</div>
                        			<div class="col-md-4">
                        				<input type="file" size="44" id="id_proof" name="id_proof">
                        			</div>
                        			<div class="col-md-2">

                                    </div>
                                    <div class="col-md-4">

                                    </div>
                        		</div>
                        	</div>
                    		<br /><br /><br />
                    		<div class="form-group">
                        		<div class="row">
                        		    <div class="col-md-6">
                                        <input type="checkbox" name="terms_condition" value="1" checked="checked" id="terms_condition" class="required"  />
                                        <label for="terms_condition" class="inline">I hereby accept Terms and Conditions</label><span class="err_spn">*</span>
                                    </div>
                                    <div class="col-md-6">

                                    </div>
                        		</div>
                    		</div>
            		  <!-- </section> -->

<!-- </div> -->
</div>


<div class="row" style="margin-top: 5px">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <input type="submit" value="Submit" name="submit" class="btn btn-danger" tabindex="3" />
                                   <!--  <input type="reset" value="Reset" name="submit" class="btn btn-default" tabindex="4" /> -->
                                </div>
                            </div>

                            <br>

</div>











            	  <!--  </div> -->
                </form>   
                 <!-- 	</div>
        </div>
    </div>
</div> -->
</div>

 {% endblock %}

<script type="text/javascript">
$(document).ready(function(){

   $('#terms_condition').click(function(){
      var url = baseurl + 'terms';
      window.open(url, 'mywindow','width=600,height=600,scrollbars=1');
   });

   $('div.alert').fadeOut(15000);

   $('#photo1').bind('change', function() {
    if(this.files[0].size > 80000){
      alert("Please Upload Profile Picture less than 80 KB");
      $(this).val('');

      }
   });

    $('#photo2').bind('change', function() {
        if(this.files[0].size > 80000){
            alert("Please Upload Profile Picture less than 80 KB");
            $(this).val('');
        }
    });

    $('#photo3').bind('change', function() {
        if(this.files[0].size > 80000){
            alert("Please Upload Profile Picture less than 80 KB");
            $(this).val('');
        }
    });

    $('#id_proof').bind('change', function() {
        if(this.files[0].size > 40000){
            alert("Please Upload Id Proof Picture less than 40 KB");
            $(this).val('');
        }
    });


    // eating habbits
    $('#part_eating_habbits1').on("change", function(){
        $('#part_eating_habbits2').prop('checked', false); // Checks it
        $('#part_eating_habbits3').prop('checked', false);
        $('#part_eating_habbits4').prop('checked', false);
    });

    $('.radio_part_eating').on('change',function(){

        if($('#part_eating_habbits2').is(":checked") || $('#part_eating_habbits3').is(":checked") || $('#part_eating_habbits4').is(":checked")){

            $('#part_eating_habbits1').prop('checked', false);
        }

        if($('#part_eating_habbits2').is(":checked") && $('#part_eating_habbits3').is(":checked") && $('#part_eating_habbits4').is(":checked"))
        {
            $('#part_eating_habbits2').prop('checked', false); // Checks it
            $('#part_eating_habbits3').prop('checked', false);
            $('#part_eating_habbits4').prop('checked', false);

            $('#part_eating_habbits1').prop('checked', true);

        }
    });

    // smoking habbits
    $('#part_smoking_habbits1').on("change", function(){
        $('#part_smoking_habbits2').prop('checked', false); // Checks it
        $('#part_smoking_habbits3').prop('checked', false);
        $('#part_smoking_habbits4').prop('checked', false);
    });

    $('.radio_part_smoking').on('change',function(){

        if($('#part_smoking_habbits2').is(":checked") || $('#part_smoking_habbits3').is(":checked") || $('#part_smoking_habbits4').is(":checked")){

            $('#part_smoking_habbits1').prop('checked', false);
        }

        if($('#part_smoking_habbits2').is(":checked") && $('#part_smoking_habbits3').is(":checked") && $('#part_smoking_habbits4').is(":checked"))
        {
            $('#part_smoking_habbits2').prop('checked', false); // Checks it
            $('#part_smoking_habbits3').prop('checked', false);
            $('#part_smoking_habbits4').prop('checked', false);

            $('#part_smoking_habbits1').prop('checked', true);

        }
    });

    // drinking  habbits
    $('#part_drinking_habbits1').on("change", function(){
        $('#part_drinking_habbits2').prop('checked', false); // Checks it
        $('#part_drinking_habbits3').prop('checked', false);
        $('#part_drinking_habbits4').prop('checked', false);
    });

    $('.radio_part_drinking').on('change',function(){
        if($('#part_drinking_habbits2').is(":checked") || $('#part_drinking_habbits3').is(":checked") || $('#part_drinking_habbits4').is(":checked")){

            $('#part_drinking_habbits1').prop('checked', false);
        }

        if($('#part_drinking_habbits2').is(":checked") && $('#part_drinking_habbits3').is(":checked") && $('#part_drinking_habbits4').is(":checked"))
        {
            $('#part_drinking_habbits2').prop('checked', false); // Checks it
            $('#part_drinking_habbits3').prop('checked', false);
            $('#part_drinking_habbits4').prop('checked', false);

            $('#part_drinking_habbits1').prop('checked', true);

        }
    });

});
